<!-- Author: Timmy -->
<ui:composition 
    template="/WEB-INF/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="content">
        <ui:include src="sections/managerHeader.xhtml"/>

        <ui:insert name="managerContent"/>
    </ui:define>
</ui:composition>