<!-- Author: Timmy -->
<ui:composition 
    template="/WEB-INF/template/templateManager.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="managerContent">

        <ui:include src="sections/managerPageSelect.xhtml"/>
        <ui:insert name="managementContent"/>

    </ui:define>
</ui:composition>