<!-- Author: Timmy -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view locale="#{sessionLocaleBean.locale}">
        <h:head>
            <h:outputStylesheet library="css" name="styles.css"/>
            <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
            <title><ui:insert name="title"/></title>
        </h:head>
        <h:body>
            <ui:include src="/WEB-INF/template/sections/header.xhtml"/>

            <ui:insert name="content"/>

            <ui:include src="/WEB-INF/template/sections/footer.xhtml"/>
        </h:body>
    </f:view>
</html>