<!-- Author: Timmy -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui">
    <footer>
        <div class="text-center">© #{msgs.EcubsReadingClub}</div>
        <h:form>
            <h:panelGrid style="height: 100px; width: 100%; background: green; position: fixed; bottom: 0"  class="content-center"
                         rendered="#{!clientFrontDoorBacking.hideCookieMsg and !clientFrontDoorBacking.cookiePresent}">
                <h2 style="color: white" id="cookieDisplay">#{msgs.TurnCookiesOn}</h2>
                <b:commandButton ajax="true" value="#{msgs.HideCookieMessage}" style="height: 40px" onclick="ajax:clientFrontDoorBacking.doHideCookieMsg()" 
                                 update="@form"/>
                <br/>
            </h:panelGrid>
        </h:form>
    </footer>
</ui:composition>