<!-- Author: Timmy, Camillia -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- Navigation bar -->
    <h:form id="navbarForm">
        <b:navBar brand="E-Cubs" styleClass="custom-navbar" brand-href="/ga1w20" fluid="true">
            <!-- Left side of nav bar -->
            <b:navbarLinks>
                <!-- Shop drop-down menu -->
                <b:dropMenu value="#{msgs.BrowseGenres}" id="browseGenres">
                    <ui:repeat value="#{navbarBackingBean.genres}" 
                               var="genre">
                        <li>
                            <h:commandLink
                                styleClass="commandLink" 
                                role="menuitem"
                                value="#{genre.name.substring(0, 1).toUpperCase().concat(genre.name.substring(1))}"
                                action="#{navbarBackingBean.goToGenrePage(genre.genreId)}"/>
                        </li>
                    </ui:repeat>
                </b:dropMenu>


                <!-- Search -->
                <div class="navbar-form navbar-left" role="search">
                    <b:inputText style="width: 300px;" 
                                 value="#{searchBackingBean.searchTerms}" 
                                 fieldId="searchBar"/>
                    <b:commandButton value="#{msgs.Search}" 
                                     action="#{searchBackingBean.goToSearchPage()}" 
                                     icon-awesome="search"/>
                </div>

            </b:navbarLinks>

            <!-- Right side of nav bar -->
            <b:navbarLinks pull="right">
                <!-- If user is not logged in -->
                <b:navLink value="#{msgs.Login}" href="login.xhtml"
                           rendered="#{!sessionUserBean.isUserLoggedIn()}" 
                           id="loginBtn"/>

                <!-- If user is logged in -->
                <!-- Display "My Account" if the user is a client or "Manage" if the user is a manager -->
                <b:dropMenu
                    value="#{sessionUserBean.isUserAManager() ? msgs.Manage : msgs.Account} "
                    rendered="#{sessionUserBean.isUserLoggedIn()}" 
                    id="accountDropdown">

                    <!-- If user is a manager -->
                    <b:navLink value="#{msgs.Management}" 
                               href="/ga1w20/manager/index.xhtml"
                               rendered="#{sessionUserBean.isUserAManager()}" 
                               id="management"/>


                    <!-- For both regular and manager users -->
                    <b:navLink value="#{msgs.YourPurchasedBooks}" 
                               href="/ga1w20/purchasedBooks.xhtml" 
                               id="purchasedBooks"/>
                    <li>
                        <h:commandLink styleClass="commandLink" 
                                       role="menuitem"
                                       value="#{msgs.Logout}"
                                       action="#{loginBackingBean.logout()}"/>
                    </li>

                </b:dropMenu>

                <!-- Shopping cart -->
                <b:navLink outcome="toCheckout" 
                           iconAwesome="shopping-cart" 
                           icon-size="lg" 
                           value="#{msgs.Cart}"
                           id="cartPageButton"/>

                <!-- Language selection -->
                <!-- If locale is English, show French button -->
                <li>
                    <h:commandLink styleClass="commandLink" 
                                   role="menuitem"
                                   value="#{msgs.FR}"
                                   action="#{sessionLocaleBean.setLanguage('fr', 'CA')}"
                                   rendered="#{sessionLocaleBean.language.compareToIgnoreCase('en')==0}"
                                   id="frButton"/>

                    <!-- If locale is not English, show English button -->
                    <h:commandLink styleClass="commandLink" 
                                   role="menuitem"
                                   value="#{msgs.EN}"
                                   action="#{sessionLocaleBean.setLanguage('en', 'CA')}"
                                   rendered="#{sessionLocaleBean.language.compareToIgnoreCase('en')!=0}"
                                   id="enButton"/>
                </li>
                <!-- Help redirect -->
                <b:navLink outcome="toHelp" iconAwesome="question" icon-size="lg" id="helpPageButton"/>
            </b:navbarLinks>
        </b:navBar>
    </h:form>

    <!-- Growl for site-wide announcements -->
    <p:growl id="growlMsg" globalOnly="true" showDetail="true"/>
</ui:composition>
