<!-- Author: Michael -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <b:panel styleClass="center zero-margin" style="background-color: #80bf82">
        <b:image name="img/logo.png"/>
        <h1>#{msgs.ManagerPortal}</h1>
        <h3>#{msgs.EcubsReadingClub}</h3>
    </b:panel>
</ui:composition>