/* 
    Created on : Feb. 19, 2020, 2:18:56 p.m.
    Author     : Shuey
*/

.ui-dataview-list .ui-dataview-row {
    border-bottom: 1px solid #A8A8A8;
    padding: 25px 10px;
    /* with the exported variables from Nova and Luna Themes*/
    border-bottom-color: var(--input-border-color, #A8A8A8);
}

.bookCover {
    width: 5%;
}

.bookDetails {
    width: 85%;
    padding-left: 150px;
}

h1 {
    text-align: center;
}

#checkoutBtn, #continueShoppingBtn {
    text-align: center;
    position: fixed;
    background-color: #4CAF50;
    color: white;
    transition-duration: 0.4s;
}

.sticky {
    bottom: 0;
    left: 50%;
    position: fixed;
}