/* 
    Created on : Mar. 11, 2020, 3:23:54 p.m.
    Author     : Shuey
*/

p {
    font-size: 30px;
}

h1 {
    text-align: center;
}

#finalizationTotalTitle, #finalizationTotal {
    font-size: 30px;
}