/* 
    Author     : Eira
*/
#helpAside {
    width: 20%;
    position: fixed;
    float:top;
    height: 90%;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

#helpBody {
    width: 74%;
    margin-left: 18%;
}

.helpsectiondivider {
    border: 2px solid;
}

.imgcontainer span {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #8dd9c3;
    margin: 0;
    padding: 2em;
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
    border: none;
}

.imgcontainer {
    display: flex;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
    background-color: #8dd9c3;
    margin: 0;
    padding: 3em;
    min-height: 100%;
    width: 40%;
    overflow: auto;
    border: 1px solid #ddd;
}

.imgcontainermobile {
    display: flex;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
    background-color: #8dd9c3;
    margin: 0;
    padding: 3em;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    border: 1px solid #ddd;
}

.mainpageimgcontainer {
    display: flex;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 3em;
    min-height: 100%;
    width: 40%;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #afe4aa;
}

.mainpageimgcontainermobile {
    display: flex;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 3em;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #afe4aa;
}

.tabletext {
    padding: 1em;
    width: 60%;
    border: 1px solid #ddd;
}

.tabletextmobile {
    padding: 1em;
    width: 100%;
    border: 1px solid #ddd;
}

.helpelementtable {
    display: flexbox;
    flex-direction: column;
    border-collapse: collapse;
}
.helpelementtable .rowdiv:nth-child(even) {
    background-color: #f2f2f2;
}

.rowdiv {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.navlinks {
    list-style-type: none;
    font-size: .9em;
}

fieldset legend {
    font-size: .8em;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

.submenuLabels {
    font-size: .9em;
}

.questionseparator {
    border-top: 1px dashed;
    border-bottom: none;
    align-self: center;
}

.finalizationimgcontainer {
    display: flex;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 3em;
    min-height: 100%;
    width: 40%;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #fff;
}

.finalizationimgcontainermobile {
    display: flex;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 3em;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    border: 1px solid #ddd;
    background-color: #fff;
}