/* 
    Created on : Mar. 26, 2020, 4:26:40 p.m.
    Author     : Michael
*/

.ui-panel-content span {
    color: red;
}

.ui-panel-content td {
    padding: 5px 10px 5px 10px !important;
}

.ui-widget-content {
    border: none;
}

.original-ui-widget-content .ui-widget-content {
    border: 1px solid #a8a8a8;
}

.ui-panel-title, .ui-button-text, .ui-output-label, .ui-widget {
    color: #333 !important;
}

.remove-button {
    margin-right: 1.5%; 
    margin-bottom: 1.5%;
}

.margin-bottom-1_5 {
    margin-bottom: 1.5%;
}