/* 
    Author     : Timmy, Michael, Eira, Shuey, Camillia
*/
body {
    background-color: #b0e3aa !important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    margin : auto;
}

.margin-tt {
    margin-left: 20%;
    margin-right: 20%
}

.content-center {
    margin : auto;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


.error-form-msg {
    list-style-type:none;
    color : #93303a;
    font-weight: bolder;
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.max-width-100{
    max-width:100%;
}

/******************************************************************************/
/* Navbar */
.custom-navbar {
    background-color: #8dd9c3 !important;
    border: 0px solid transparent !important;
    font-size: 2rem;
}

.custom-navbar {
    background-color: #8dd9c3 !important;
    border: 0px solid transparent !important;
    font-size: 2rem;
}

.custom-navbar .navbar-brand {
    color: #fff !important;
    font-size: 2.5rem;
}

.custom-navbar .dropdown-menu a {
    color: black !important;
}

.custom-navbar a {
    color: #e7f0e6 !important;
}

.dropdown-toggle {
    background-color: #8dd9c3 !important;
}

.transparentButton {
    background-color : transparent;
    color: #e7f0e6 !important;
    border: 0px;
    margin : auto;
    text-align: center;
}

/******************************************************************************/
/* Index page*/
.ui-carousel {
    margin-bottom: 15px;
}

.ui-carousel, .ui-carousel-viewport {
    border-radius: 0 0 10px 10px !important;
}

.ui-carousel-viewport {
    border: 1px solid grey !important;
}

.ui-carousel .ui-carousel-header {
    margin: 0 !important;
    border: 1px solid grey !important;
    border-radius: 5px 5px 0 0 !important;
    background: white !important;
}

.ui-carousel, .ui-carousel-item {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: rgba(229, 246, 228, 0.2) !important;
}

.ui-carousel-item {
    margin: 0 !important;
    border-right: 1px solid grey !important;
}

.ui-widget {
    font-family: -apple-system, BlinkMacSystemFont, 
        "Segoe UI", Roboto, "Helvetica Neue", Arial, 
        "Noto Sans", sans-serif, "Apple Color Emoji", 
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.panel, .panel-heading, .panel-default {
    background-color: #b0e3aa;
    border: 0 !important;
    box-shadow: 0 0 0 !important;
}

.title-head {
    background: white;
    border-radius: 15px 15px 0 0;
    padding: 5px;
}

.book-select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 385px;
    background-color: transparent !important;
}

.link-nodeco {
    text-decoration: none !important; 
    color: black !important;
}

.book-select p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.book-select:hover, .ui-carousel-item:hover {
    background-color: #8dd9c3 !important;
    cursor: pointer;
}

.crossoff {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
    font-size: 24px;
}

/* Centers the images in the carousel */
.carousel-inner img {
    margin: auto;
}

/* Specific book page styling */
.book-p {
    font-size: 18px;
}

.panel-title {
    text-align: center;
    font-weight: bold;
}

/*Closes the gap between the element and the navbar*/
.zero-margin {
    margin-top: -20px;
}

/*Centers the elements that are inside the PanelGrid cells*/
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
    text-align: center;
}

.no-pad {
    margin: 0 !important;
}

/*.border-log {
    border: 10px solid transparent !important;
    border-image: url("img/log.png") 20% round !important;
}*/

.thumb {
    height: 240px;
}

.homepage-thumb {
    height: 240px;
    max-width: 100%;
}

/******************************************************************************/
/*Genre page*/

.top-sellers-caroussel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:1200px;
}

/******************************************************************************/
/*Login page*/
.login-form {
    width : 50%;
    min-width: 250px;
    max-width: 500px;
    margin: auto;
}

/******************************************************************************/
/*Register page*/
.register-form {
    width : 70%;
    min-width: 350px;
    max-width: 640px;
    margin : auto;
}

.register-form-error{
    display: inline-block;
    background-color:#b0e3aa;
    color : #93303a;
    border-style : none;
    font-weight: bold;
}

/******************************************************************************/
/*Search page elements:*/
#searchJumbotron {
    display: flex;
    justify-content: space-around;
}

.inline-block {
    display: inline-block;
    margin-right: 5px;
}

/* Tabs style */
.nav-tabs> li {
    background-color: #b0e3aa;
}

/* PrimeFaces datatable styling */
.ui-widget-header, .ui-state-default {
    background: #cceddd !important;
}

.ui-widget-content> td {
    font-size: 1.2em !important;
}

.box-border {
    border: 1px solid white;
}

.scroll-menu-h {
    overflow: auto;
    white-space: nowrap;
}

.ui-overflow-hidden {
    overflow: auto !important;
}

.ui-datatable tbody td {
    text-align: center;
}

.sticky .col-md-2, .sticky .sticky-item { 
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 15px !important;
}

textarea {
    resize: none;
}

.ui-toggleswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.ui-toggleswitch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.ui-toggleswitch-slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {
    background-color: cornflowerblue;
}

/* Limit the length of the description in the search page */
.mid-description {
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 8; 
    -webkit-box-orient: vertical;
}

.label {
    font-size: 14px !important;
}

/* Search page DataView styling */
.ui-dataview .ui-dataview-header, .ui-dataview .ui-dataview-content {
    background-color: #b0e3aa !important;
    border: 0;
}

.ui-dataview .ui-dataview-row .ui-widget-content {
    background-color: transparent !important;
}

.ui-dataview .ui-paginator {
    background-color: transparent !important;
    border: 0;
}

.ui-dataview .ui-paginator a {
    background-color: #cae8d9 !important;
    width: 50px;
    height: 40px;
    box-shadow: 0px 0px !important;
    line-height: 35px;
}

.ui-dataview> .ui-paginator a:hover, .ui-dataview .ui-state-active, .ui-dataview> .ui-paginator .ui-state-active {
    background-color: #a2ccb7 !important;
}

.ui-dataview-layout-options {
    margin-bottom: -100px;
}

.ui-dataview-layout-options div {
    width: 50px;
    height: 40px;
    box-shadow: 0px 0px !important;
}

.ui-dataview-layout-options div:hover {
    background-color: #a2ccb7 !important;
}

.ui-dataview .ui-icon-seek-prev, .ui-dataview .ui-icon-seek-next {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.book-select-result:hover {
    background-color: #8dd9c3 !important;
    cursor: pointer;
}

.modal-dialog {
    margin-top: 30vh !important;
}

.dialog-form input {
    width: 90vh !important;
}

.manager-header tr {
    border: none;
}

.manager-header td {
    background-color: #afe4aa;
}

.inventory-create-button {
    margin: 0 2% 0 2%;
}

.inventory-description-field {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}