<!-- Authors: Timmy, Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:g="http://ga1w20.com/facelets">
    <h:form>
        <g:datePicker reportBean="#{salesByClientBacking}"
                      updateMethod="updateTable"
                      table="totalSalesClient,salesClientTable"/>
        <b:selectOneMenu value="#{salesByClientBacking.selectedClient}" label="#{msgs.Client}: ">
            <f:selectItems var="client"
                           value="#{salesByClientBacking.clients}" 
                           itemLabel="#{client.lastname}, #{client.firstname}" 
                           itemValue="#{client}"/>
            <f:ajax listener="#{salesByClientBacking.updateTable}" render="@form"/>
        </b:selectOneMenu>
        <p:dataTable id="totalSalesClient" var="record" value="#{salesByClientBacking.totalSalesByClient}">
            <f:facet name="header">
                <h1>#{msgs.SalesByClient}</h1>
            </f:facet>
            <p:column headerText="#{msgs.ClientName}">
                <h:outputText value="#{salesByClientBacking.clientName}"/>
            </p:column>

            <p:column headerText="#{msgs.TotalPurchases}">
                <h:outputText value="#{record.totalSales == null ? 0 : record.totalSales}"/>
            </p:column>
        </p:dataTable>
        <p:dataTable id="salesClientTable" var="record" value="#{salesByClientBacking.allSalesByClient}"
                     paginator="true" 
                     paginatorAlwaysVisible="false"
                     rows="10">

            <p:column headerText="#{msgs.ISBN}">
                <h:outputText value="#{record.isbn}"/>
            </p:column>

            <p:column headerText="#{msgs.Cover}">
                <p:graphicImage name="#{bookActionBean.getCover(record.isbn)}" style="width:50%"/>
            </p:column>

            <p:column headerText="#{msgs.Title}">
                <h:outputText value="#{record.title}"/>
            </p:column>

            <p:column headerText="#{msgs.Price}">
                <h:outputText value="#{record.price}"/>
            </p:column>

            <p:column headerText="#{msgs.PurchaseDate}">
                <h:outputText value="#{record.purchaseDate}">
                    <f:convertDateTime pattern="MMM dd, yyyy"/>
                </h:outputText>
            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>