<!-- Authors: Timmy, Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:g="http://ga1w20.com/facelets">
    <h:form>
        <g:datePicker reportBean="#{topClientsBacking}"
                      updateMethod="updateTable"
                      table="topClientsTable"/>
        <p:dataTable id="topClientsTable" var="record" value="#{topClientsBacking.clients}"
                     paginator="true" 
                     paginatorAlwaysVisible="false"
                     rows="10">
            <f:facet name="header">
                <h1>#{msgs.TopClients}</h1>
            </f:facet>
            <p:column headerText="#{msgs.ClientID}">
                <h:outputText value="#{record.id}"/>
            </p:column>

            <p:column headerText="#{msgs.ClientName}">
                <h:outputText value="#{record.object}"/>
            </p:column>

            <p:column headerText="#{msgs.TotalPurchases}">
                <h:outputText value="#{record.totalSales}"/>
            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>