<!-- Authors: Timmy, Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:g="http://ga1w20.com/facelets">
    <h:form>
        <g:datePicker reportBean="#{topSellersBacking}"
                      updateMethod="updateTable"
                      table="topSellersTable"/>
        <p:dataTable id="topSellersTable" var="record" value="#{topSellersBacking.books}"
                     paginator="true" 
                     paginatorAlwaysVisible="false"
                     rows="10">
            <f:facet name="header">
                <h1>#{msgs.TopSellers}</h1>
            </f:facet>
            <p:column headerText="#{msgs.ISBN13}">
                <h:outputText value="#{record.id}"/>
            </p:column>

            <p:column headerText="#{msgs.Cover}">
                <p:graphicImage name="#{bookActionBean.getCover(record.id)}" style="width:50%"/>
            </p:column>

            <p:column headerText="#{msgs.Title}">
                <h:outputText value="#{record.object}"/>
            </p:column>

            <p:column headerText="#{msgs.TotalSales}">
                <h:outputText value="#{record.totalSales}"/>
            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>