<!-- Authors: Timmy, Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:g="http://ga1w20.com/facelets">
    <h:form>
        <g:datePicker reportBean="#{zeroSalesBacking}"
                      updateMethod="updateTable"
                      table="zeroSalesTable"/>
        <p:dataTable id="zeroSalesTable" var="record" value="#{zeroSalesBacking.books}"
                     paginator="true" 
                     paginatorAlwaysVisible="false"
                     rows="10">
            <f:facet name="header">
                <h1>#{msgs.ZeroSales}</h1>
            </f:facet>
            <p:column headerText="#{msgs.ISBN13}">
                <h:outputText value="#{record.isbn}"/>
            </p:column>

            <p:column headerText="#{msgs.Cover}">
                <p:graphicImage name="#{bookActionBean.getCover(record.isbn)}" style="width:50%"/>
            </p:column>

            <p:column headerText="#{msgs.Title}">
                <h:outputText value="#{record.title}"/>
            </p:column>


            <p:column headerText="#{msgs.ListPrice}">
                <h:outputText value="#{record.listPrice}"/>
            </p:column>

            <p:column headerText="#{msgs.SalePrice}">
                <h:outputText value="#{record.salePrice}"/>
            </p:column>

            <p:column headerText="#{msgs.WholesalePrice}">
                <h:outputText value="#{record.wholesalePrice}"/>
            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>