<ui:composition 
    template="/WEB-INF/template/templateManager.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">#{msgs.Management} - #{msgs.EcubsReadingClub}</ui:define>
    <ui:define name="managerContent">
        <ui:include src="/WEB-INF/manager/indexPage.xhtml"/>
    </ui:define>

</ui:composition>