<ui:composition 
    template="/WEB-INF/template/templateManagerManagement.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">#{msgs.CreateBooksTitle} - #{msgs.EcubsReadingClub}</ui:define>
    <ui:define name="managementContent">
        <ui:include src="/WEB-INF/manager/newBook/newAuthorPage.xhtml"/>
    </ui:define>

</ui:composition>