<!-- Author: Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <b:container> 
        <b:panel style="background-color: #80bf82">
            <b:panelGrid col-spans="4, 8">
                <b:column>
                    <!-- Cover image -->
                    <b:image name="#{bookBackingBean.cover}" width="100%"/>
                    <h5>#{msgs.AgeRangeLabel}: #{bookBackingBean.book.minAge}#{bookBackingBean.book.maxAge == null ? '+' : '-'.concat(bookBackingBean.book.maxAge)}</h5>
                    <!-- Genre -->
                    <h5>#{msgs.GenreLabel}
                        <ui:repeat var="genre" value="#{bookBackingBean.genres}" varStatus="status">
                            <h:outputText value="#{genre.name.substring(0, 1).toUpperCase().concat(genre.name.substring(1))}#{status.last ? '' : ', '}"/>
                        </ui:repeat>
                    </h5>
                    <!-- Publisher -->
                    <h5 rendered="#{not empty bookBackingBean.publisher}">
                        #{msgs.PublisherLabel} #{bookBackingBean.publisher.name}</h5>
                    <!-- Published on: -->
                    <h5>#{msgs.PublishedOn}:
                        <h:outputText value="#{bookBackingBean.book.pubDate}">
                            <f:convertDateTime pattern="YYYY-MM-dd"/>
                        </h:outputText>
                    </h5>
                    <h5>#{msgs.ISBN13}: #{bookBackingBean.isbn}</h5>
                    <h5><b:link value="#{msgs.LinkToFormats}" 
                                onclick="$(formatsModal).modal()"/></h5>
                    <b:modal id="formatsModal" title="#{msgs.FormatsLabel}" 
                             styleClass="modalPseudoClass">
                        <ui:repeat value="#{bookActionBean.getFormats(bookBackingBean.book)}" 
                                   var="format">
                            #{format.name} (.#{format.extension})
                            <hr/>
                        </ui:repeat>
                    </b:modal>
                </b:column>
                <b:column>
                    <!-- Title -->
                    <h1 style="margin-bottom: -5px">#{bookBackingBean.book.title}</h1>
                    <!-- Authors -->
                    <h3 class="inline-block">#{bookBackingBean.formattedAuthors}</h3>
                    <!-- Show ratings stats if there are reviews -->
                    <p:outputPanel rendered="#{bookBackingBean.reviews.size() gt 0}">
                        <!-- Average ratings -->
                        <p:rating styleClass="inline-block" value="#{bookBackingBean.averageRatings}" readonly="true"/>
                        <div class="inline-block">
                            (#{bookBackingBean.reviews.size()} 
                            <h:outputText value="review" rendered="#{bookBackingBean.reviews.size() eq 1}"/>
                            <h:outputText value="reviews" rendered="#{bookBackingBean.reviews.size() gt 1}"/>)
                        </div>
                    </p:outputPanel>
                    <hr/>
                    <!-- Description -->
                    <p class="book-p">#{bookBackingBean.book.description}</p>
                    <hr/>
                    <!-- Price -->
                    <h:outputText styleClass="bold" style="margin-left: 5px" value="#{bookBackingBean.book.listPrice}"
                                  rendered="#{bookBackingBean.book.salePrice.doubleValue() eq 0}">
                        <f:convertNumber type="currency" currencySymbol="$"/>
                    </h:outputText>
                    <ui:fragment rendered="#{bookBackingBean.book.salePrice.doubleValue() ne 0}">
                        <h:outputText styleClass="crossoff" value="#{bookBackingBean.book.listPrice}">
                            <f:convertNumber type="currency" currencySymbol="$"/>
                        </h:outputText>
                        <h:outputText styleClass="bold" style="margin-left: 5px" value="#{bookBackingBean.book.salePrice}">
                            <f:convertNumber type="currency" currencySymbol="$"/>
                        </h:outputText>
                    </ui:fragment>
                    <br/><br/>
                    <b:form>
                        <ui:fragment rendered="#{not bookBackingBean.hasPurchased}">
                            <b:commandButton 
                                value="#{msgs.AddToCart}" 
                                rendered="#{not bookBackingBean.addedToCart}" action="#{cartBean.addBook(bookBackingBean.book)}"/>
                            <b:commandButton 
                                value="#{msgs.RemoveFromCart}" 
                                rendered="#{bookBackingBean.addedToCart}" action="#{cartBean.removeBook(bookBackingBean.book)}"/>
                        </ui:fragment>
                        <ui:fragment rendered="#{bookBackingBean.hasPurchased}">
                            <b:selectOneMenu value="#{purchasedBooksBackingBean.selectedFormat}">
                                <f:selectItems value="#{bookBackingBean.formats}" var="format"
                                               itemLabel="#{format.name} (.#{format.extension})"/>
                            </b:selectOneMenu>
                            <b:commandButton value="#{msgs.DownloadBook}" ajax="false">
                                <p:fileDownload 
                                    value="#{bookActionBean.downloadBook(bookBackingBean.book.title, purchasedBooksBackingBean.selectedFormat.extension)}"/>
                            </b:commandButton>
                        </ui:fragment>
                    </b:form>
                </b:column>
            </b:panelGrid>
        </b:panel>

        <b:panel style="background-color: #80bf82">
            <h1>#{msgs.Reviews}</h1>
            <hr/>
            <h:outputText styleClass="bold" value="#{msgs.ReviewSignIn}" 
                          rendered="#{not sessionUserBean.userLoggedIn}"/>
            <h:form>
                <b:panel style="background-color: #80bf82" 
                         title="#{msgs.ReviewThisBook}" 
                         collapsible="false"
                         rendered="#{sessionUserBean.userLoggedIn and not reviewBackingBean.successful}"
                         id="reviewPanel">
                    <b:message for="reviewTextArea"/>
                    <b:inputTextarea placeholder="#{msgs.LeaveReview}." 
                                     value="#{reviewBackingBean.reviewText}" required="true" 
                                     requiredMessage="#{msgs.ReviewRequiredError}" 
                                     validatorMessage="#{msgs.ReviewValidationError}"
                                     id="reviewTextArea">
                        <f:validateLength maximum="750"/>
                    </b:inputTextarea>
                    <h4 class="inline-block">#{msgs.Rating}: </h4>
                    <p:rating id="rating" styleClass="inline-block" 
                              value="#{reviewBackingBean.rating}" cancel="false"/>
                    <br/>
                    <b:commandButton value="Add review" process="reviewTextArea,rating"
                                     action="#{reviewBackingBean.saveReview}" update="@form"/>
                </b:panel>
                <h:outputText styleClass="bold" value="#{msgs.ReviewThanks}" 
                              rendered="#{reviewBackingBean.successful}"/>
            </h:form>
            <hr/>
            <ui:repeat var="review" value="#{bookBackingBean.reviews}">
                <b:panel>
                    <p:rating styleClass="inline-block" value="#{review.rating}" readonly="true"/>
                    <h5 class="inline-block">#{review.userId.firstname} #{review.userId.lastname}</h5>
                    <h:outputText styleClass="inline-block" value="#{review.postdate}">
                        <f:convertDateTime pattern="YYYY-MM-dd"/>
                    </h:outputText>
                    <p>#{review.text}</p>
                </b:panel>
            </ui:repeat>
        </b:panel>

        <b:panel style="background-color: #80bf82;" styleClass="content-center">
            <h1>#{msgs.RecommendedBooks}</h1>
            <hr/>
            <div styleClass="content-center">
                <ui:repeat var="recommendedBook" 
                           value="#{bookBackingBean.recommendedBooks}">
                    <div class="col-md-4" 
                         styleClass="content-center">
                        <p:link outcome="#{bookActionBean.goToBookPage(recommendedBook.isbn)}" 
                                class="link-nodeco">
                            <b:panel styleClass="center book-select content-center" 
                                     style="background-color: rgba(229, 246, 228, 0.2)">
                                <b:image name="#{bookActionBean.getCover(recommendedBook.isbn)}"/>
                                <p>#{recommendedBook.title}</p>
                                <ui:repeat var="author" 
                                           value="#{bookActionBean.getAuthors(recommendedBook)}" 
                                           varStatus="status">
                                    <h:outputText value="#{author.firstname} #{author.lastname}#{status.last ? '' : ', '}"/>
                                </ui:repeat>
                                <br/>

                                <!-- List Price -->
                                <h:outputText styleClass="bold" 
                                              style="margin-left: 5px" 
                                              value="#{recommendedBook.listPrice}"
                                              rendered="#{recommendedBook.salePrice.doubleValue() eq 0}">
                                    <f:convertNumber type="currency" currencySymbol="$"/>
                                </h:outputText>
                                <ui:fragment rendered="#{recommendedBook.salePrice.doubleValue() ne 0}">
                                    <h:outputText styleClass="crossoff" value="#{recommendedBook.listPrice}">
                                        <f:convertNumber type="currency" currencySymbol="$"/>
                                    </h:outputText>
                                    <h:outputText styleClass="bold" style="margin-left: 5px" 
                                                  value="#{recommendedBook.salePrice}">
                                        <f:convertNumber type="currency" currencySymbol="$"/>
                                    </h:outputText>
                                </ui:fragment>
                            </b:panel>
                        </p:link>
                    </div>
                </ui:repeat>
            </div>
        </b:panel>
    </b:container>
</ui:composition>