<!-- Author: Shuey -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>#{msgs.Checkout}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>

    <h:body>

        <h:outputStylesheet library="css" name="checkoutStyles.css"/>
        <h1>#{msgs.Checkout}</h1>
        <b:container>

            <h:form id="checkoutForm">
                <b:panel class="max-width-100 ui-fluid" style="background-color: #b0e3aa">
                    <p:dataTable id="books" var="book" 
                                 value="#{checkoutBackingBean.booksInCart}" 
                                 editable="true" style="margin-bottom:20px"
                                 paginator="true" 
                                 paginatorAlwaysVisible="false"
                                 rows="5"
                                 tableStyle="table-layout: auto"
                                 widgetVar="bookWidget">

                        <p:column headerText="#{msgs.BookCover}">
                            <p:graphicImage name="#{bookActionBean.getCover(book.isbn)}"/>
                        </p:column>

                        <p:column headerText="#{msgs.BookTitle}">
                            <h:outputText value="#{book.title}"/>
                        </p:column>

                        <p:column headerText="#{msgs.Price}">
                            <h:outputText value="#{book.salePrice.doubleValue() != 0 ? book.salePrice.doubleValue() : book.listPrice.doubleValue()}"> 
                                <f:convertNumber type="currency"/>      
                            </h:outputText>
                        </p:column>

                        <p:column style="width:35px">
                            <p:commandButton value="#{msgs.Remove}" action="#{checkoutBackingBean.removeFromCart(book)}" style="margin-right:20px;" update="checkoutForm">
                                <p:confirm header="#{msgs.Confirmation}" message="#{msgs.AreYouSure}" icon="ui-icon-alert"/>
                            </p:commandButton>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="#{msgs.Yes}" type="button" styleClass="ui-confirmdialog-yes"/>
                                <p:commandButton value="#{msgs.No}" type="button" styleClass="ui-confirmdialog-no"/>
                            </p:confirmDialog>
                        </p:column>

                    </p:dataTable>
                </b:panel>
                <div class="sticky">
                    <p:commandButton value="#{msgs.ContinueShopping}" id="continueShoppingBtn" action="#{navigationBean.redirectToPreviousPage()}" ajax="false"/>
                    <p:commandButton value="#{msgs.Checkout}" id="checkoutBtn" action="#{checkoutBackingBean.checkout()}"/>
                </div>
            </h:form>
        </b:container>
    </h:body>
</ui:composition>
