<!-- Author: Shuey -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>#{msgs.Finalization}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>

    <h:body>
        <!-- Store the URL of the page -->
        <f:metadata>
            <f:event type="preRenderView" listener="#{navigationBean.savePageURL()}"/>
        </f:metadata>

        <h:outputStylesheet library="css" name="finalizationStyles.css"/>
        <h1>#{msgs.Finalization}</h1>
        <h:outputText id="finalizationTotalTitle" value="#{msgs.CurrentTotal}"/>
        <h:outputText id="finalizationTotal" value="#{cartBean.calculateCartTotalBeforeTax()}">
            <f:convertNumber type="currency"/>
        </h:outputText>
        <h:form id="paymentForm">
            <p:panel id="paymentPanel" header="#{msgs.PaymentInfo}" class="max-width-100 ui-fluid">
                <p:messages id="msgs"/>

                <p:selectOneMenu id="creditCardSelect" value="#{cartBean.creditCardType}" style="width:200px">
                    <f:selectItem itemLabel="#{msgs.SelectPaymentMethod}" itemValue=""/>
                    <f:selectItem itemLabel="#{msgs.Visa}" itemValue="Visa"/>
                    <f:selectItem itemLabel="#{msgs.MasterCard}" itemValue="MasterCard"/>
                    <f:facet name="footer">
                        <p:separator/>
                        <h:outputText value="#{msgs.PaymentSelectFooter}" style="font-weight:bold;"/>
                    </f:facet>
                </p:selectOneMenu>

                <h:panelGrid columns="3" cellpadding="5">
                    <p:outputLabel for="creditCardNum" value="#{msgs.CreditCardNumber}"/>
                    <p:inputText id="creditCardNum" required="true" label="creditCardNum" value="#{paymentBean.cardNumber}" requiredMessage="#{msgs.CreditCardErrMsg}">
                        <p:ajax update="invalidCreditCardMsg" event="keyup"/>
                    </p:inputText>
                    <p:message for="creditCardNum" id="invalidCreditCardMsg" display="icon"/>

                    <p:outputLabel for="expiry" value="#{msgs.Expiry}"/>
                    <p:inputText id="expiry" required="true" label="expiry" value="#{paymentBean.date}" requiredMessage="#{msgs.DateErrMsg}">
                        <f:convertDateTime pattern="MM/yyyy"/>
                        <p:ajax update="invalidExpiryMsg" event="keyup"/>
                    </p:inputText>
                    <p:message for="expiry" id="invalidExpiryMsg" display="icon"/>

                    <p:outputLabel for="cvv" value="#{msgs.Cvv}"/>
                    <p:inputText id="cvv" required="true" label="cvv" requiredMessage="#{msgs.CvvErrMsg}">
                        <f:validateLength minimum="3"/>
                        <p:ajax update="invalidCvvMsg" event="keyup"/>
                    </p:inputText>
                    <p:message for="cvv" id="invalidCvvMsg" display="icon"/>

                    <p:outputLabel for="nameOnCard" value="#{msgs.NameOnCard}"/>
                    <p:inputText id="nameOnCard" required="true" label="nameOnCard" requiredMessage="#{msgs.NameOnCardErrMsg}">
                        <f:validateLength minimum="1"/>
                        <p:ajax update="invalidName" event="keyup"/>
                    </p:inputText>
                    <p:message for="nameOnCard" id="invalidName" display="icon"/>

                    <p:outputLabel for="address" value="#{msgs.Address}"/>
                    <p:inputText id="address" required="true" label="address" value="#{cartBean.billingAddress}" requiredMessage="#{msgs.AddressErrMsg}">
                        <f:validateLength minimum="1"/>
                        <p:ajax update="invalidAddress" event="keyup"/>
                    </p:inputText>
                    <p:message for="address" id="invalidAddress" display="icon"/>

                    <p:outputLabel for="city" value="#{msgs.City}"/>
                    <p:inputText id="city" required="true" label="city" value="#{cartBean.billingCity}" requiredMessage="#{msgs.CityErrMsg}">
                        <f:validateLength minimum="1"/>
                        <p:ajax update="invalidCity" event="keyup"/>
                    </p:inputText>
                    <p:message for="city" id="invalidCity" display="icon"/>

                    <p:outputLabel for="provinceSelect" value="#{msgs.Province}"/>
                    <p:selectOneMenu id="provinceSelect" value="#{cartBean.billingProvince}" style="width:200px" required="true" requiredMessage="#{msgs.ProvinceErrMsg}">
                        <f:selectItem itemLabel="#{msgs.Select}"/>
                        <f:selectItem itemLabel="#{msgs.AB}" itemValue="AB"/>
                        <f:selectItem itemLabel="#{msgs.BC}" itemValue="BC"/>
                        <f:selectItem itemLabel="#{msgs.MB}" itemValue="MB"/>
                        <f:selectItem itemLabel="#{msgs.NB}" itemValue="NB"/>
                        <f:selectItem itemLabel="#{msgs.NL}" itemValue="NL"/>
                        <f:selectItem itemLabel="#{msgs.NS}" itemValue="NS"/>
                        <f:selectItem itemLabel="#{msgs.NT}" itemValue="NT"/>
                        <f:selectItem itemLabel="#{msgs.NU}" itemValue="NU"/>
                        <f:selectItem itemLabel="#{msgs.ON}" itemValue="ON"/>
                        <f:selectItem itemLabel="#{msgs.PE}" itemValue="PE"/>
                        <f:selectItem itemLabel="#{msgs.QC}" itemValue="QC"/>
                        <f:selectItem itemLabel="#{msgs.SK}" itemValue="SK"/>
                        <f:selectItem itemLabel="#{msgs.YT}" itemValue="YT"/>
                        <f:facet name="footer">
                            <p:separator/>
                            <h:outputText value="#{msgs.ProvinceSelectFooter}" style="font-weight:bold;"/>
                        </f:facet>
                    </p:selectOneMenu>
                    <p:message for="provinceSelect" id="invalidProvince" display="icon"/>
                </h:panelGrid>
            </p:panel>
            <p:commandButton value="#{msgs.Purchase}" update="msgs" action="#{finalizationBackingBean.saveInvoiceToDB()}"/>
        </h:form>
    </h:body>
</ui:composition>
