<!-- Author: Camillia (+ Timmy) -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:body class="content-center">

        <!-- Name of genre, capitalized -->
        <div class="content-center">
            <h1>#{msgs.Genre} : #{genreBackingBean.genreName.substring(0, 1).toUpperCase().concat(genreBackingBean.genreName.substring(1))}</h1>
            <br/>

            <!-- Top Sellers Carousel -->
            <p:carousel headerText="#{msgs.TopSellers}" 
                        value="#{genreBackingBean.topSellers}" 
                        var="book" 
                        circular="true"
                        responsive="true"
                        rendered="#{not empty genreBackingBean.topSellers}"
                        styleClass="top-sellers-caroussel">

                <h:link outcome="#{bookActionBean.goToBookPage(book.isbn)}" 
                        style="text-decoration: none; color: black">

                    <!-- Single book panel inside carousel -->
                    <b:panel styleClass="center book-select">
                        <b:image name="#{bookActionBean.getCover(book.isbn)}" 
                                 styleClass="homepage-thumb"/>
                        <p>#{book.title}</p>

                        <ui:repeat var="author" 
                                   value="#{bookActionBean.getAuthors(book)}" 
                                   varStatus="status">
                            <h:outputText 
                                value="#{author.firstname} #{author.lastname}#{status.last ? '' : ', '}"/>
                        </ui:repeat>
                        <br/>

                        <!-- Book price -->

                        <!-- Show list price if book is not on sale -->
                        <h:outputText styleClass="bold" 
                                      style="margin-left: 5px" 
                                      value="#{book.listPrice}"
                                      rendered="#{book.salePrice.doubleValue() eq 0}">
                            <f:convertNumber type="currency" currencySymbol="$"/>
                        </h:outputText>

                        <!-- Show sale price and crossed list price if book is on sale -->
                        <ui:fragment rendered="#{book.salePrice.doubleValue() ne 0}">
                            <h:outputText styleClass="crossoff" value="#{book.listPrice}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                            <h:outputText styleClass="bold" style="margin-left: 5px" 
                                          value="#{book.salePrice}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                        </ui:fragment>
                    </b:panel>
                </h:link>
            </p:carousel>
        </div>

        <!-- Remaining books, ordered by sales -->
        <b:container id="bookList" class="max-width-100 ui-fluid">
            <h:form>
                <p:dataView 
                    var="item" 
                    value="#{genreBackingBean.books}" 
                    gridIcon="pi pi-th-large" 
                    listIcon="pi pi-bars" 
                    paginator="true" 
                    rows="10"
                    paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">

                    <f:facet name="header">
                    </f:facet>

                    <!-- Item displayed when in grid view -->
                    <p:dataViewGridItem>
                        <p:panel style="background-color: transparent" 
                                 styleClass="book-select-result">

                            <h3 class="center">#{item.title}</h3>
                            <p:graphicImage 
                                name="#{bookActionBean.getCover(item.isbn)}" 
                                styleClass="img-center"/>
                            <br/>
                            <div>

                                <p><strong style="margin-right: 5px">#{msgs.AuthorLabel}</strong>
                                    <ui:repeat var="author" 
                                               value="#{bookActionBean.getAuthors(item)}" 
                                               varStatus="status">
                                        <h:outputText 
                                            value="#{author.getFirstname()} #{author.getLastname()} #{status.last ? '' : ', '}"/>
                                    </ui:repeat>
                                </p>

                                <p>
                                    <strong style="margin-right: 5px">#{msgs.GenreLabel}</strong>
                                    <ui:repeat var="genre" 
                                               value="#{bookActionBean.getGenres(item)}" 
                                               varStatus="status">
                                        <h:outputText 
                                            value="#{genre.getName().substring(0, 1).toUpperCase().concat(genre.getName().substring(1))}#{status.last ? '' : ', '}"/>
                                    </ui:repeat>
                                </p>

                                <p class="mid-description">
                                    <strong>#{msgs.CreateBooksLabel_description}</strong> #{item.description} 
                                </p>

                                <!-- Book price -->

                                <!-- Show list price if book is not on sale -->
                                <h:outputText styleClass="bold" 
                                              style="margin-left: 5px" 
                                              value="#{item.listPrice}"
                                              rendered="#{item.salePrice.doubleValue() eq 0}">
                                    <f:convertNumber type="currency" currencySymbol="$"/>
                                </h:outputText>

                                <!-- Show sale price and crossed list price if book is on sale -->
                                <ui:fragment rendered="#{item.salePrice.doubleValue() ne 0}">
                                    <h:outputText styleClass="crossoff" 
                                                  value="#{item.listPrice}">
                                        <f:convertNumber type="currency" 
                                                         currencySymbol="$"/>
                                    </h:outputText>
                                    <h:outputText styleClass="bold" 
                                                  style="margin-left: 5px" 
                                                  value="#{item.salePrice}">
                                        <f:convertNumber type="currency" 
                                                         currencySymbol="$"/>
                                    </h:outputText>
                                </ui:fragment>
                            </div>
                            <p>
                                <b:button 
                                    outcome="#{bookActionBean.goToBookPage(item.isbn)}" 
                                    value="#{msgs.ToBookPageLabel}"/></p>
                        </p:panel>

                    </p:dataViewGridItem>

                    <!-- Item displayed when in list view -->
                    <p:dataViewListItem>
                        <p:panelGrid columns="2">
                            <p:column>
                                <p:graphicImage width="240px" 
                                                name="#{bookActionBean.getCover(item.isbn)}"/>
                            </p:column>
                            <p:column>
                                <strong><h3>#{item.title}</h3></strong>
                                <div styleClass="left">
                                    <!-- Author(s) -->
                                    <p><strong>#{msgs.AuthorLabel}</strong>
                                        <ui:repeat var="author" 
                                                   value="#{bookActionBean.getAuthors(item)}" 
                                                   varStatus="status">
                                            <h:outputText  styleClass="left"
                                                           value="#{author.getFirstname()} #{author.getLastname()} #{status.last ? '' : ', '}"/>
                                        </ui:repeat>
                                    </p>
                                    <p><strong style="margin-right: 5px">#{msgs.GenreLabel}</strong>
                                        <ui:repeat var="genre" 
                                                   value="#{bookActionBean.getGenres(item)}" 
                                                   varStatus="status">
                                            <h:outputText styleClass="left"
                                                          value="#{genre.getName().substring(0, 1).toUpperCase().concat(genre.getName().substring(1))}#{status.last ? '' : ', '}"/>
                                        </ui:repeat>
                                    </p>
                                    <p class="mid-description">
                                        <strong>#{msgs.CreateBooksLabel_description}</strong> 
                                        #{item.description} 
                                    </p>

                                    <!-- Book price -->

                                    <!-- Show list price if book is not on sale -->
                                    <h:outputText styleClass="bold" style="margin-left: 5px" 
                                                  value="#{item.listPrice}"
                                                  rendered="#{item.salePrice.doubleValue() eq 0}">
                                        <f:convertNumber type="currency" currencySymbol="$"/>
                                    </h:outputText>

                                    <!-- Show sale price and crossed list price if book is on sale -->
                                    <ui:fragment rendered="#{item.salePrice.doubleValue() ne 0}">
                                        <h:outputText styleClass="crossoff" value="#{item.listPrice}">
                                            <f:convertNumber type="currency" currencySymbol="$"/>
                                        </h:outputText>
                                        <h:outputText styleClass="bold" style="margin-left: 5px" 
                                                      value="#{item.salePrice}">
                                            <f:convertNumber type="currency" currencySymbol="$"/>
                                        </h:outputText>
                                    </ui:fragment>
                                </div>
                                <p><b:button outcome="#{bookActionBean.goToBookPage(item.isbn)}" 
                                             value="#{msgs.ToBookPageLabel}"/></p>
                            </p:column>
                        </p:panelGrid>
                    </p:dataViewListItem>
                </p:dataView>
            </h:form>
        </b:container>
    </h:body>
</ui:composition>