<!-- Author: Eira -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:outputStylesheet library="css" name="helppagestyles.css"/>


    <h:body>
        <!-- Store the URL of the page -->
        <f:metadata>
            <f:event type="preRenderView" listener="#{navigationBean.savePageURL()}"/>
        </f:metadata>
        <aside class="helpAside">
            <b:column span="2" hidden="xs, sm" style="position:fixed">
                <h2>#{msgs.NavAside}</h2>

                <p:panelMenu>
                    <!-- Navigation Bar Links -->
                    <p:submenu label="#{msgs.NavLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#nav_overview"/>
                        <p:menuitem value="#{msgs.NavOverviewHeader1}" url="#nav_fullnav"/>
                        <p:menuitem value="#{msgs.NavOverviewHeader2}" url="#nav_compactnav"/>
                    </p:submenu>

                    <!-- Main Page Links -->
                    <p:submenu label="#{msgs.HomeLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#home_main"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#home_details"/>
                    </p:submenu>

                    <!-- Login Links -->
                    <p:submenu label="#{msgs.LoginLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#login_overview"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#login_details"/>
                    </p:submenu>

                    <!-- Registration -->
                    <p:submenu label="#{msgs.RegistrationLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#registration_overview"/>
                        <p:menuitem value="#{msgs.RegistrationDetailsHeader}" url="#registration_details"/>
                    </p:submenu>

                    <!-- Genre Page -->
                    <p:submenu label="#{msgs.GenreLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#genres_overview"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#genres_details"/>
                    </p:submenu>

                    <!-- Search Page -->
                    <p:submenu label="#{msgs.SearchLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#search_overview"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#search_details"/>
                    </p:submenu>

                    <!-- Book Page -->
                    <p:submenu label="#{msgs.BookLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#book_overview"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#book_details"/>
                    </p:submenu>

                    <!-- Cart Page -->
                    <p:submenu label="#{msgs.CartLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#cart_overview"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#cart_details"/>
                    </p:submenu>

                    <!-- Checkout Page -->
                    <p:submenu label="#{msgs.CheckoutLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#checkout_overview"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#checkout_details"/>
                    </p:submenu>

                    <!-- Purchased Books Page -->
                    <p:submenu label="#{msgs.PurchasedLegend}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.Overview}" url="#purchased_overview"/>
                        <p:menuitem value="#{msgs.DetailsLegend}" url="#purchased_details"/>
                    </p:submenu>

                    <!-- FAQ -->
                    <p:submenu label="#{msgs.FAQ}" styleClass="submenuLabels">
                        <p:menuitem value="#{msgs.FAQ}" url="#faq_top"/>
                        <p:menuitem value="#{msgs.FAQWhatIsEcubsQ}" url="#whatis"/>
                        <p:menuitem value="#{msgs.FAQHowToJoinQ}" url="#howtojoin"/>
                        <p:menuitem value="#{msgs.FAQGrizzlyBearFoundationQ}" url="#whatisgrizzly"/>
                        <p:menuitem value="#{msgs.FAQProceedsQ}" url="#howmuch"/>
                        <p:menuitem value="#{msgs.FAQWhatStockQ}" url="#whatstock"/>
                        <p:menuitem value="#{msgs.FAQOwnershipDurationQ}" url="#howlong"/>
                        <p:menuitem value="#{msgs.FAQPaymentTypesQ}" url="#paymenttypes"/>
                        <p:menuitem value="#{msgs.FAQHowToDownloadQ}" url="#howtodownload"/>
                        <p:menuitem value="#{msgs.FAQEbookFormatsQ}" url="#ebookformats_overview"/>
                    </p:submenu>
                </p:panelMenu>
            </b:column>

            <!-- Alternate nav menu for mobile -->
            <b:column span="2" hidden="lg, md" style="position:fixed">
                <b:kebab>
                    <!-- Navbar links -->
                    <b:flyOutMenu width="50px">
                        <b:dropMenu value="#{msgs.NavLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#nav_overview"/>
                            <b:navLink value="#{msgs.NavOverviewHeader1}" href="#nav_fullnav"/>
                            <b:navLink value="#{msgs.NavOverviewHeader2}" href="#nav_compactnav"/>
                        </b:dropMenu>


                        <b:navLink/>

                        <!-- Main Page Links -->
                        <b:dropMenu value="#{msgs.HomeLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#home_main"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#home_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Login Links -->
                        <b:dropMenu value="#{msgs.LoginLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#login_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#login_detais"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Registration -->
                        <b:dropMenu value="#{msgs.RegistrationLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#registration_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#registration_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Genre Page -->
                        <b:dropMenu value="#{msgs.GenreLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#genres_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#genres_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Search Page -->
                        <b:dropMenu value="#{msgs.SearchLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#search_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#search_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Book Page -->
                        <b:dropMenu value="#{msgs.BookLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#book_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#book_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Cart Page -->
                        <b:dropMenu value="#{msgs.CartLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#cart_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#cart_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Checkout Page -->
                        <b:dropMenu value="#{msgs.CheckoutLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#checkout_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#checkout_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- Purchased Books Page -->
                        <b:dropMenu value="#{msgs.PurchasedLegend}">
                            <b:navLink value="#{msgs.Overview}" href="#purchased_overview"/>
                            <b:navLink value="#{msgs.DetailsLegend}" href="#purchased_details"/>
                        </b:dropMenu>

                        <b:navLink/>

                        <!-- FAQ -->
                        <b:dropMenu value="#{msgs.FAQ}">
                            <b:navLink value="#{msgs.FAQ}" href="#faq_top"/>
                            <b:navLink value="#{msgs.FAQWhatIsEcubsQ}" href="#whatis"/>
                            <b:navLink value="#{msgs.FAQHowToJoinQ}" href="#howtojoin"/>
                            <b:navLink value="#{msgs.FAQGrizzlyBearFoundationQ}" href="#whatisgrizzly"/>
                            <b:navLink value="#{msgs.FAQProceedsQ}" href="#howmuch"/>
                            <b:navLink value="#{msgs.FAQWhatStockQ}" href="#whatstock"/>
                            <b:navLink value="#{msgs.FAQOwnershipDurationQ}" href="#howlong"/>
                            <b:navLink value="#{msgs.FAQPaymentTypesQ}" href="#paymenttypes"/>
                            <b:navLink value="#{msgs.FAQHowToDownloadQ}" href="#howtodownload"/>
                            <b:navLink value="#{msgs.FAQEbookFormatsQ}" href="#ebookformats_overview"/>
                        </b:dropMenu>
                    </b:flyOutMenu>
                </b:kebab>
            </b:column>
        </aside>

        <article id="helpBody">
            <h1>#{msgs.HelpTitle}</h1>
            <br/>
            <!-- Full site version -->
            <b:panel hidden="xs, sm">
                <a name="nav_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.NavOverview}</h3>
                    <hr/>

                    <h:outputText value="#{msgs.NavOverviewP1}"/>

                    <hr/>

                    <a name="nav_fullnav"/>
                    <h3>#{msgs.NavOverviewHeader1}</h3>

                    <hr/>

                    <p>#{msgs.FullNavP1}</p>
                    <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>

                    <br/><br/><br/>

                    <p>#{msgs.FullNavP2}</p>

                    <br/>

                    <div class="helpelementtable">
                        <!-- E-Cubs Homepage Link -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/ecubsbutton.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ECubsLinkDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Genres dropdown -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <span>
                                    <p:graphicImage name="img/helpimgs/navbar/genresdropdown.png"/>
                                </span>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.GenresButtonDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Search bar -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/searchbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchBarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Login link -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/loginbutton.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.LoginLinkDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- My Account menu -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/myaccount.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.MyAccountMenu}" escape="false"/>
                            </div>
                        </div>

                        <!-- Cart link -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/cartbutton.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.CartLinkDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Language selection -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/languagebutton.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.LanguageLinkDesc}"/>
                            </div>
                        </div>

                    </div>

                    <br/><br/><br/>
                    <hr/>

                    <a name="nav_compactnav"/>
                    <h3>#{msgs.NavOverviewHeader2}</h3>
                    <hr/>
                    <p>#{msgs.CompactNavP1}</p>

                    <p:graphicImage name="img/helpimgs/navbar/compactnavbar.png" width="100%"/>

                    <br/><br/>
                    <p>#{msgs.FullNavP2}</p>
                    <br/>

                    <div class="helpelementtable">
                        <!-- E-Cubs Homepage Link -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/ecubsbutton.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ECubsLinkDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Hamburger button -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/hamburgerbutton.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.HamburgerButtonDesc}"/>
                            </div>
                        </div>

                        <!-- Genres dropdown -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <span>
                                    <p:graphicImage name="img/helpimgs/navbar/genresdropdown.png"/>
                                </span>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.GenresButtonDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Search bar -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/searchbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchBarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Login link -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/loginbutton.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.LoginLinkDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- My Account menu -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/myaccount.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.MyAccountMenu}" escape="false"/>
                            </div>
                        </div>

                        <!-- Cart link -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/cartbutton.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.CartLinkDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Language selection -->
                        <div class="rowdiv">
                            <div class="imgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/languagebutton.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.LanguageLinkDesc}"/>
                            </div>
                        </div>

                    </div>
                </span>
            </b:panel>

            <!-- Mobile version -->
            <b:panel hidden="lg, md">
                <a name="nav_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.NavOverview}</h3>

                    <hr/>
                    <h:outputText value="#{msgs.NavOverviewP1}"/>
                    <hr/>

                    <h3>#{msgs.NavOverviewHeader1}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.FullNavP1}"/>
                    <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    <br/><br/>
                    <h:outputText value="#{msgs.FullNavP2}"/>

                    <br/>
                    <hr/>

                    <a name="#nav_fullnav"/>
                    <!-- E-Cubs Homepage Link -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/ecubsbutton.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ECubsLinkDesc}" escape="false"/>
                    </div>

                    <!-- Genres dropdown -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/genresdropdown.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.GenresButtonDesc}" escape="false"/>
                    </div>

                    <!-- Search bar -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/searchbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchBarDesc}" escape="false"/>
                    </div>

                    <!-- Login Link -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/loginbutton.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.LoginLinkDesc}" escape="false"/>
                    </div>

                    <!-- My Account menu -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/myaccount.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.MyAccountMenu}" escape="false"/>
                    </div>

                    <!-- Cart link -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/cartbutton.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.CartLinkDesc}" escape="false"/>
                    </div>

                    <!-- Language Selection -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/languagebutton.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.LanguageLinkDesc}"/>
                    </div>

                    <br/><br/><br/>
                    <hr/>

                    <a name="nav_compactnav"/>
                    <h3>#{msgs.NavOverviewHeader2}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.CompactNavP1}"/>
                    <p:graphicImage name="img/helpimgs/navbar/compactnavbar.png" width="100%"/>
                    <br/><br/>
                    <h:outputText value="#{msgs.FullNavP2}"/>
                    <br/>
                    <hr/>

                    <!-- E-Cubs Homepage Link -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/ecubsbutton.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ECubsLinkDesc}" escape="false"/>
                    </div>

                    <!-- Hamburger Menu -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/hamburgerbutton.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.HamburgerButtonDesc}"/>
                    </div>
                    <!-- Genres dropdown -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/genresdropdown.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.GenresButtonDesc}" escape="false"/>
                    </div>

                    <!-- Search bar -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/searchbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchBarDesc}" escape="false"/>
                    </div>

                    <!-- Login Link -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/loginbutton.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.LoginLinkDesc}" escape="false"/>
                    </div>

                    <!-- My Account menu -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/myaccount.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.MyAccountMenu}" escape="false"/>
                    </div>

                    <!-- Cart link -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/cartbutton.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.CartLinkDesc}" escape="false"/>
                    </div>

                    <!-- Language Selection -->
                    <div class="imgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/languagebutton.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.LanguageLinkDesc}"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Homepage section - web version -->
            <b:panel  hidden="xs, sm">
                <a name="home_main"/>
                <span class="helptextspan">
                    <h3>#{msgs.MainPageOverviewHeader}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.MainPageOverview}" escape="false"/>
                    <hr/>
                    <a name="home_details"/>
                    <h3>#{msgs.MainPageDetailsHeader}</h3>
                    <hr/>
                    <br/>

                    <div class="helpelementtable">
                        <!-- Navigation Bar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Carousel - Specials -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/home/specialscarousel.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.MainPageSpecialsCarousel}" escape="false"/>
                            </div>
                        </div>

                        <!-- Carousel - Recently-added -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/home/recentcarousel.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.MainPageRecentCarousel}" escape="false"/>
                            </div>
                        </div>

                        <!-- Carousel - Genres -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/home/genrescarousel.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.MainPageGenresCarousel}" escape="false"/>
                            </div>
                        </div>

                        <!-- Survey -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Survey Image -->
                                <p:graphicImage name="img/helpimgs/home/surveymodule.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.MainPageSurvey}"/>
                            </div>
                        </div>

                        <!-- News Feed -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/home/newsmodule.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.MainPageNewsFeed}"/>
                            </div>
                        </div>
                    </div>
                </span>
            </b:panel>

            <!-- Homepage - mobile version -->
            <b:panel hidden="lg, md">
                <a name="home_main"/>
                <span class="helptextspan">
                    <h3>#{msgs.MainPageOverviewHeader}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.MainPageOverview}" escape="false"/>
                    <hr/>
                    <a name="home_details"/>
                    <h3>#{msgs.MainPageDetailsHeader}</h3>
                    <hr/>
                    <br/>

                    <!-- Navigation Bar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Carousel - Specials -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/home/specialscarousel.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.MainPageSpecialsCarousel}" escape="false"/>
                    </div>

                    <!-- Carousel - Recently-Added -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/home/recentcarousel.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.MainPageRecentCarousel}" escape="false"/>
                    </div>

                    <!-- Carousel - Genres -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/home/genrescarousel.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.MainPageGenresCarousel}" escape="false"/>
                    </div>

                    <!-- Survey -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/home/surveymodule.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.MainPageSurvey}"/>
                    </div>

                    <!-- News Feed -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/home/newsmodule.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.MainPageNewsFeed}"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Login section - full -->
            <b:panel  hidden="xs, sm">
                <a name="login_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.LoginPageOverviewHeader}</h3>

                    <hr/>
                    <br/>
                    <h:outputText value="#{msgs.LoginPageOverviewText}" escape="false"/>
                    <br/>
                    <hr/>

                    <a name="login_details"/>
                    <h3>#{msgs.LoginPageDetailsHeader}</h3>
                    <hr/>
                    <br/>

                    <div class="helpelementtable">
                        <!-- navbar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Login form -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/login/loginform.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.LoginFormText}" escape="false"/>
                            </div>
                        </div>

                        <!-- Register Button -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/login/registerlink.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegisterLinkText}" escape="false"/>
                            </div>
                        </div>
                    </div>
                </span>
            </b:panel>

            <!-- Login - mobile -->
            <b:panel hidden="lg, md">
                <a name="login_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.LoginPageOverviewHeader}</h3>

                    <hr/>
                    <nr/>
                    <h:outputText value="#{msgs.LoginPageOverviewText}" escape="false"/>
                    <br/>
                    <hr/>

                    <a name="login_details"/>
                    <hr/>
                    <hr/>

                    <!-- Navbar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Login form -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/login/loginform.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.LoginFormText}" escape="false"/>
                    </div>

                    <!-- Register Button -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/login/registerlink.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegisterLinkText}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Registration section - full -->
            <b:panel hidden="xs, sm">
                <a name="registration_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.RegistrationOverviewHeader}</h3>
                    <hr/>
                    <br/>
                    <h:outputText value="#{msgs.RegistrationPageOverview}" escape="false"/>
                    <br/>
                    <hr/>
                    <a name="registration_details"/>
                    <h3>#{msgs.RegistrationDetailsHeader}</h3>
                    <hr/>

                    <div class="helpelementtable">
                        <!-- Email Field -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/emailfield.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageEmailDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Title Field -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/titlefield.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageTitleDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Name Fields -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/namefields.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageNameDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Company Field -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/companyfield.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageCompanyDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Address Fields -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/addressfields.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageAddressFieldsDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Address Details -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/addressdetails.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageAddressDetailsDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Phone -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/phonefields.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPagePhoneDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Passwords -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/passwordfields.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPagePasswordsDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Registration button -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/registerbutton.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageRegisterButtonDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Cancel button -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/registration/cancelbutton.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.RegistrationPageCancelButtonDesc}" escape="false"/>
                            </div>
                        </div>

                    </div>
                </span>
            </b:panel>

            <!-- Registration - mobile -->
            <b:panel hidden="md, lg">
                <a name="registration_overview"/>

                <span class="helptextspan">
                    <h3>#{msgs.RegistrationOverviewHeader}</h3>
                    <hr/>
                    <br/>
                    <h:outputText value="#{msgs.RegistrationPageOverview}" escape="false"/>
                    <br/>
                    <hr/>
                    <a name="registration_details"/>
                    <h3>#{msgs.RegistrationDetailsHeader}</h3>
                    <hr/>

                    <!-- Email field -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/emailfield.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageEmailDesc}" escape="false"/>
                    </div>

                    <!-- Title Field -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/titlefield.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageTitleDesc}" escape="false"/>
                    </div>

                    <!-- Name Fields -->
                    <div class="mainpageimgcontainermobile">
                        <h:outputText value="#{msgs.RegistrationPageTitleDesc}" escape="false"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageNameDesc}" escape="false"/>
                    </div>

                    <!-- Company Field -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/companyfield.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageCompanyDesc}" escape="false"/>
                    </div>

                    <!-- Address Fields -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/addressfields.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageAddressFieldsDesc}" escape="false"/>
                    </div>

                    <!-- Address Details -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/addressdetails.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageAddressDetailsDesc}" escape="false"/>
                    </div>

                    <!-- Phone -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/phonefields.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPagePhoneDesc}" escape="false"/>
                    </div>

                    <!-- Passwords -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/passwordfields.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPagePasswordsDesc}" escape="false"/>
                    </div>

                    <!-- Registration button -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/registerbutton.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageRegisterButtonDesc}" escape="false"/>
                    </div>

                    <!-- Cancel button -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/registration/cancelbutton.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.RegistrationPageCancelButtonDesc}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Genres page -->
            <b:panel hidden="xs, sm">
                <a name="genres_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.GenresPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.GenrePageOverviewText}" escape="false"/>
                    <hr/>
                    <a name="genres_details"/>
                    <h3>#{msgs.GenresPageDetails}</h3>
                    <hr/>
                    <br/>

                    <div class="helpelementtable">
                        <!-- Navbar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Carousel -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/genres/genrescarousel.png"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.GenrePageCarouselDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Pagination buttons -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Screenshot of paging -->
                                <p:graphicImage name="img/helpimgs/search/paginationbuttons.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.GenrePagePaginationDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- View Options -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- screenshot view options toggle -->
                                <p:graphicImage name="img/helpimgs/search/viewoptions.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText escape="false" value="#{msgs.SearchPageViewOptions}"/>
                            </div>
                        </div>

                        <!-- Search result element list -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Screenshot search result, list format -->
                                <p:graphicImage name="img/helpimgs/search/listentry.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText escape="false" value="#{msgs.SearchPageListElement}"/>
                            </div>
                        </div>

                        <!-- Search result elementblock -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Screenshot search result - block format -->
                                <p:graphicImage name="img/helpimgs/search/panelentry.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchPageBlockElement}" escape="false"/>
                            </div>
                        </div>
                    </div>
                </span>
            </b:panel>

            <!-- Genres page - mobile -->
            <b:panel hidden="md, lg">
                <a name="genres_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.GenresPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.GenrePageOverviewText}" escape="false"/>
                    <hr/>

                    <a name="genres_details"/>
                    <h3>#{msgs.GenresPageDetails}</h3>
                    <hr/>
                    <br/>

                    <!-- Navbar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Carousel -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/genres/genrescarousel.png"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.GenrePageCarouselDesc}" escape="false"/>
                    </div>

                    <!-- Pagination buttons -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/paginationbuttons.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.GenrePagePaginationDesc}" escape="false"/>
                    </div>

                    <!-- View Options -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/viewoptions.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText escape="false" value="#{msgs.SearchPageViewOptions}"/>
                    </div>

                    <!-- search result element list -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/listentry.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText escape="false" value="#{msgs.SearchPageListElement}"/>
                    </div>

                    <!-- search result element block -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/panelentry.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchPageBlockElement}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Search section - full -->
            <b:panel hidden="xs, sm">
                <a name="search_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.SearchPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.SearchPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="search_details"/>
                    <h3>#{msgs.SearchPageDetails}</h3>
                    <hr/>
                    <br/>

                    <div class="helpelementtable">
                        <!-- Navbar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Search Options - Search In -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Search In screenshot -->
                                <p:graphicImage name="img/helpimgs/search/searchinfields.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchPageSearchInField}" escape="false"/>
                            </div>
                        </div>

                        <!-- Formats Dropdown -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Formats dropdown screenshot -->
                                <p:graphicImage name="img/helpimgs/search/formatdropdown.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchPageFormatsDropdown}" escape="false"/>
                            </div>
                        </div>

                        <!-- Sort By -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Sort By screenshot -->
                                <p:graphicImage name="img/helpimgs/search/sortorder.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchPageSortOptions}" escape="false"/>
                            </div>
                        </div>

                        <!-- Search Results paging -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Screenshot of paging -->
                                <p:graphicImage name="img/helpimgs/search/paginationbuttons.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchPagePagination}" escape="false"/>
                            </div>
                        </div>

                        <!-- Search Results View Options -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- screenshot view options toggle -->
                                <p:graphicImage name="img/helpimgs/search/viewoptions.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText escape="false" value="#{msgs.SearchPageViewOptions}"/>
                            </div>
                        </div>

                        <!-- Search result element list -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Screenshot search result, list format -->
                                <p:graphicImage name="img/helpimgs/search/listentry.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText escape="false" value="#{msgs.SearchPageListElement}"/>
                            </div>
                        </div>

                        <!-- Search result elementblock -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <!-- Screenshot search result - block format -->
                                <p:graphicImage name="img/helpimgs/search/panelentry.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.SearchPageBlockElement}" escape="false"/>
                            </div>
                        </div>
                    </div>
                </span>
            </b:panel>

            <b:panel hidden="md, lg">
                <a name="search_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.SearchPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.SearchPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="search_details"/>
                    <h3>#{msgs.SearchPageDetails}</h3>
                    <hr/>
                    <br/>

                    <!-- Navbar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Search Options - search in -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/searchinfields.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchPageSearchInField}" escape="false"/>
                    </div>

                    <!-- Formats Dropdown -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/formatdropdown.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchPageFormatsDropdown}" escape="false"/>
                    </div>

                    <!-- Sort By -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/sortorder.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchPageSortOptions}" escape="false"/>
                    </div>

                    <!-- Search Results Paging -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/paginationbuttons.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchPagePagination}" escape="false"/>
                    </div>

                    <!-- Search Results View Options -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/viewoptions.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText escape="false" value="#{msgs.SearchPageViewOptions}"/>
                    </div>

                    <!-- Search result element list -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/listentry.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText escape="false" value="#{msgs.SearchPageListElement}"/>
                    </div>

                    <!-- Search Result element block -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/search/panelentry.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.SearchPageBlockElement}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Book page section - full -->
            <b:panel hidden="xs, sm">
                <a name="book_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.BookPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.BookPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="book_details"/>
                    <h3>#{msgs.BookPageDetails}</h3>
                    <hr/>

                    <div class="helpelementtable">
                        <!-- Navbar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Book information pane - full -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/book/bookinfofullpanel.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.BookPageFullPanelDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Book information pane - left -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/book/bookinfoleftpane.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.BookPagePanelLeftDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Book information pane - right -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/book/bookinforightpane.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.BookPagePanelRightDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Download module -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/book/downloadebook.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.BookPageDownloadLinkDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Reviews Panel - new review -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/book/reviewspane.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.BookPageReviewsPanelDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Reviews Panel - existing reviews -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/book/existingreview.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.BookPageExistingReviewsDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Recommended Books -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/book/recommendedbookspane.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.BookPageRecommendedBooksDesc}" escape="false"/>
                            </div>
                        </div>

                    </div>
                </span>
            </b:panel>

            <!-- Book Page - mobile -->
            <b:panel hidden="md, lg">
                <a name="book_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.BookPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.BookPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="book_details"/>
                    <h3>#{msgs.BookPageDetails}</h3>
                    <hr/>

                    <!-- Navbar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Book information pane - full -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/book/bookinfofullpanel.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.BookPageFullPanelDesc}" escape="false"/>
                    </div>

                    <!-- Book information pane - left -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/book/bookinfoleftpane.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.BookPagePanelLeftDesc}" escape="false"/>
                    </div>

                    <!-- Book information pane - right -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/book/bookinforightpane.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.BookPagePanelRightDesc}" escape="false"/>
                    </div>

                    <!-- download module -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/book/downloadebook.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.BookPageDownloadLinkDesc}" escape="false"/>
                    </div>

                    <!-- reviews panel new review -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/book/reviewspane.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.BookPageReviewsPanelDesc}" escape="false"/>
                    </div>

                    <!-- reviews panel existing reviews -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/book/existingreview.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.BookPageExistingReviewsDesc}" escape="false"/>
                    </div>

                    <!-- recommended books -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/book/recommendedbookspane.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.BookPageRecommendedBooksDesc}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Cart section - full -->
            <b:panel hidden="xs, sm">
                <a name="cart_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.CartPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.CartPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="cart_details"/>
                    <h3>#{msgs.CartPageDetails}</h3>
                    <hr/>

                    <div class="helpelementtable">
                        <!-- Navbar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Current cart contents -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/cart/cartitem.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.CartPageContentsDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Continue Shopping button -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/cart/continueshopping.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.CartPageContinueShoppingDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Checkout button -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/cart/checkout.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.CartPageCheckoutDesc}" escape="false"/>
                            </div>
                        </div>
                    </div>
                </span>
            </b:panel>

            <!-- Cart page - mobile -->
            <b:panel hidden="md, lg">
                <a name="cart_overview"/>
                <span text="helptextspan">
                    <h3>#{msgs.CartPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.CartPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="cart_details"/>
                    <h3>#{msgs.CartPageDetails}</h3>
                    <hr/>

                    <!-- Navbar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Current cart contents -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/cart/cartitem.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.CartPageContentsDesc}" escape="false"/>
                    </div>

                    <!-- Continue shopping button -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/cart/continueshopping.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.CartPageContinueShoppingDesc}" escape="false"/>
                    </div>

                    <!-- Checkout button -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/cart/checkout.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.CartPageCheckoutDesc}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>



            <!-- Checkout page - full -->
            <b:panel hidden="xs, sm">
                <a name="checkout_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.CheckoutPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.CheckoutPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="checkout_details"/>
                    <h3>#{msgs.CheckoutPageDetails}</h3>
                    <hr/>

                    <div class="helpelementtable">
                        <!-- Navbar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Card form -->
                        <div class="rowdiv">
                            <div class="finalizationimgcontainer">
                                <p:graphicImage name="img/helpimgs/finalization/paymentmethod.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.PaymentMethodDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Card info -->
                        <div class="rowdiv">
                            <div class="finalizationimgcontainer">
                                <p:graphicImage name="img/helpimgs/finalization/cardinfo.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.CardInfoDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Purchase button -->
                        <div class="rowdiv">
                            <div class="finalizationimgcontainer">
                                <p:graphicImage name="img/helpimgs/finalization/purchasebutton.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.PaymentButtonDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Invoice Options -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/finalization/invoiceoptions.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.InvoiceOptionsDesc}" escape="false"/>
                            </div>
                        </div>
                    </div>
                </span>
            </b:panel>

            <!-- Checkout page - mobile -->
            <b:panel hidden="md, lg">
                <a name="checkout_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.CheckoutPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.CheckoutPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="checkout_details"/>
                    <h3>#{msgs.CheckoutPageDetails}</h3>
                    <hr/>

                    <!-- Navbar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Card form -->
                    <div class="finalizationimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/finalization/paymentmethod.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.PaymentMethodDesc}" escape="false"/>
                    </div>

                    <!-- Card info -->
                    <div class="finalizationimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/finalization/cardinfo.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.CardInfoDesc}" escape="false"/>
                    </div>

                    <!-- Purchase button -->
                    <div class="finalizationimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/finalization/purchasebutton.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.PaymentButtonDesc}" escape="false"/>
                    </div>

                    <!-- Invoice Options -->
                    <div class="finalizationimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/finalization/invoiceoptions.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.InvoiceOptionsDesc}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- Purchased Books Page - full -->
            <b:panel hidden="xs, sm">
                <a name="purchased_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.PurchasedBooksPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.PurchasedBooksPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="purchased_details"/>
                    <h3>#{msgs.PurchasedBooksPageDetails}</h3>
                    <hr/>

                    <div class="helpelementtable">
                        <!-- Navbar -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                            </div>
                        </div>

                        <!-- Paginator -->
                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/purchasedbooks/paginator.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.PurchasedBooksPaginatorDesc}"/>
                            </div>
                        </div>

                        <div class="rowdiv">
                            <div class="mainpageimgcontainer">
                                <p:graphicImage name="img/helpimgs/purchasedbooks/purchasedbookselement.png" width="100%"/>
                            </div>
                            <div class="tabletext">
                                <h:outputText value="#{msgs.PurchasedBooksListElementDesc}" escape="false"/>
                            </div>
                        </div>
                    </div>
                </span>
            </b:panel>

            <!-- Purchased books page - mobile -->
            <b:panel hidden="md, lg">
                <a name="purchased_overview"/>
                <span class="helptextspan">
                    <h3>#{msgs.PurchasedBooksPageOverview}</h3>
                    <hr/>
                    <h:outputText value="#{msgs.PurchasedBooksPageOverviewDesc}" escape="false"/>
                    <hr/>
                    <a name="purchased_details"/>
                    <h3>#{msgs.PurchasedBooksPageDetails}</h3>
                    <hr/>

                    <!-- Navbar -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/navbar/fullnavbar.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.ShortNavbarDesc}" escape="false"/>
                    </div>

                    <!-- Paginator -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/purchasedbooks/paginator.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.PurchasedBooksPaginatorDesc}"/>
                    </div>

                    <!-- List Element -->
                    <div class="mainpageimgcontainermobile">
                        <p:graphicImage name="img/helpimgs/purchasedbooks/purchasedbookselement.png" width="100%"/>
                    </div>
                    <div class="tabletextmobile">
                        <h:outputText value="#{msgs.PurchasedBooksListElementDesc}" escape="false"/>
                    </div>
                </span>
            </b:panel>

            <hr class="helpsectiondivider"/>

            <!-- FAQ -->
            <b:panel>
                <a name="faq_top"/>
                <span class="helptextspan">
                    <h3>#{msgs.FAQ}</h3>
                    <hr/>

                    <h3>#{msgs.FAQGettingStartedHeader}</h3>
                    <hr/>
                    <a name="whatis"/>
                    <h4>#{msgs.FAQWhatIsEcubsQ}</h4>
                    <h:outputText value="#{msgs.AboutUs}"/>

                    <br/>
                    <br/>
                    <hr class="questionseparator"/>

                    <a name="howtojoin"/>
                    <h4>#{msgs.FAQHowToJoinQ}</h4>
                    <h:outputText value="#{msgs.FAQHowToJoinA}" escape="false"/>

                    <br/><br/>
                    <hr class="questionseparator"/>

                    <a name="whatisgrizzly"/>
                    <h4>#{msgs.FAQGrizzlyBearFoundationQ}</h4>
                    <h:outputText value="#{msgs.FAQGrizzlyBearFoundationA}" escape="false"/>

                    <br/><br/>
                    <hr class="questionseparator"/>

                    <a name="howmuch"/>
                    <h4>#{msgs.FAQProceedsQ}</h4>
                    <h:outputText value="#{msgs.FAQProceedsA}"/>

                    <br/><br/>
                    <hr/>
                    <h3>#{msgs.FAQUsingTheShopHeader}</h3>
                    <hr/>

                    <a name="whatstock"/>
                    <h4>#{msgs.FAQWhatStockQ}</h4>
                    <h:outputText value="#{msgs.FAQWhatStockA}" escape="false"/>

                    <br/><br/>
                    <hr class="questionseparator"/>

                    <a name="howlong"/>
                    <h4>#{msgs.FAQOwnershipDurationQ}</h4>
                    <h:outputText value="#{msgs.FAQOwnershipDurationA}" escape="false"/>

                    <br/><br/>
                    <hr class="questionseparator"/>

                    <a name="paymenttypes"/>
                    <h4>#{msgs.FAQPaymentTypesQ}</h4>
                    <h:outputText value="#{msgs.FAQPaymentTypesA}" escape="false"/>

                    <br/><br/>
                    <hr class="questionseparator"/>

                    <a name="howtodownload"/>
                    <h4>#{msgs.FAQHowToDownloadQ}</h4>
                    <h:outputText value="#{msgs.FAQHowToDownloadA}" escape="false"/>

                    <br/><br/>
                    <hr/>
                    <h3>#{msgs.FAQEbooksHeader}</h3>
                    <hr/>

                    <a name="ebookformats_overview"/>
                    <h3>#{msgs.FAQEbookFormatsQ}</h3>
                    <h:outputText value="#{msgs.FAQEbookFormatsA}"/>
                    <ul>
                        <li><h:outputText value="#{msgs.EPubReaders}" escape="false"/></li>
                        <li><h:outputText value="#{msgs.MobiReaders}" escape="false"/></li>
                        <li><h:outputText value="#{msgs.PDFReader}" escape="false"/></li>
                        <li><h:outputText value="#{msgs.RTFEtcReader}" escape="false"/></li>
                    </ul>
                </span>
            </b:panel>
        </article>
    </h:body>
</ui:composition>