<!-- Author: Timmy (+ Camillia) -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:body>

        <!-- First column -->
        <!-- This column is NOT displayed on small or extra-small devices, 
        instead it is moved to a fourth column (go see lower) -->
        <!-- This column IS displayed on medium, large and extra-large devices -->
        <b:row style="width: 99%; margin-left: 10px">
            <b:column span="2" hidden="xs, sm">
                <!-- First Banner Ad -->
                <!-- Will not be rendered if there are no active banners -->
                <b:link href="#{bannersBackingBean.firstBanner.url}" 
                        target="true"
                        rendered="#{not empty bannersBackingBean.firstBanner}">
                    <p:graphicImage name="#{bannersBackingBean.firstBannerImageURL}"
                                    width="100%" 
                                    alt="#{msgs.AltBannerAd}"
                                    class="leftBanner"/>
                </b:link>
                <hr rendered="#{not empty bannersBackingBean.firstBanner and not empty newsHighlightBacking.url}"/>
                <!-- News Highlights -->
                <b:panel title="#{msgs.NewsHighlights}" 
                         collapsible="false" 
                         style="background-color: rgba(229, 246, 228, 0.2)"
                         rendered="#{not empty newsHighlightBacking.url}"
                         class="newsHighlights">

                    <p:feedReader value="#{newsHighlightBacking.url}" 
                                  var="feed" 
                                  size="3">
                        <div style="text-align: left;" class="max-width-100">
                            <h:outputLink value="#{feed.link}" 
                                          style="font-weight: bold" 
                                          target="true">
                                #{feed.title}
                            </h:outputLink>
                            <br/>
                            <h:outputText value="#{feed.description.value}" 
                                          escape="false"
                                          class="max-width-100"/>
                            <p:separator/>
                            <f:facet name="error">
                                #{msgs.RssError}
                            </f:facet>
                        </div>
                    </p:feedReader>
                </b:panel>
            </b:column>

            <!-- Second column -->
            <b:column span="8">
                <!-- Top welcoming message -->
                <b:panel styleClass="center zero-margin" 
                         style="background-color: transparent">
                    <b:image name="img/logo.png"/>
                    <h1>#{msgs.WelcomeToEcubs}</h1>
                </b:panel>
                <!-- Specials of the Day Covers -->
                <p:carousel headerText="#{msgs.SpecialsOfTheDay}" 
                            var="specialBook" 
                            value="#{clientFrontDoorBacking.specialsBooks}" 
                            circular="true"
                            responsive="true" id="specialsOfTheDay">

                    <h:link outcome="#{bookActionBean.goToBookPage(specialBook.isbn)}" 
                            style="text-decoration: none; color: black">
                        <b:panel styleClass="center book-select">
                            <b:image name="#{bookActionBean.getCover(specialBook.isbn)}" 
                                     styleClass="homepage-thumb"/>
                            <p>#{specialBook.title}</p>
                            <ui:repeat var="author" value="#{bookActionBean.getAuthors(specialBook)}" 
                                       varStatus="status">
                                <h:outputText value="#{author.firstname} #{author.lastname}#{status.last ? '' : ', '}"/>
                            </ui:repeat>
                            <br/>
                            <h:outputText styleClass="crossoff" value="#{specialBook.listPrice}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                            <h:outputText styleClass="bold" style="margin-left: 5px" value="#{specialBook.salePrice}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                        </b:panel>
                    </h:link>
                </p:carousel>

                <!-- Based on previous visit Carousel -->
                <p:carousel headerText="#{msgs.PreviousVisit}" 
                            var="bookFromGenre" 
                            value="#{clientFrontDoorBacking.booksFromLastGenre}" circular="true"
                            responsive="true" 
                            rendered="#{clientFrontDoorBacking.cookiePresent and clientFrontDoorBacking.booksFromLastGenre.size() ne 0}"
                            id="basedOnPreviousVisit">
                    <h:link outcome="#{bookActionBean.goToBookPage(bookFromGenre.isbn)}" 
                            style="text-decoration: none; color: black">
                        <f:param name="id" value="#{bookFromGenre.isbn}"/>
                        <b:panel styleClass="center book-select">
                            <b:image name="#{bookActionBean.getCover(bookFromGenre.isbn)}" 
                                     styleClass="homepage-thumb"/>
                            <p>#{bookFromGenre.title}</p>
                            <ui:repeat var="author" value="#{bookActionBean.getAuthors(bookFromGenre)}" 
                                       varStatus="status">
                                <h:outputText value="#{author.firstname} #{author.lastname}#{status.last ? '' : ', '}"/>
                            </ui:repeat>
                            <br/>
                            <h:outputText styleClass="bold" style="margin-left: 5px" value="#{bookFromGenre.listPrice}"
                                          rendered="#{bookFromGenre.salePrice.doubleValue() eq 0}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                            <ui:fragment rendered="#{bookFromGenre.salePrice.doubleValue() ne 0}">
                                <h:outputText styleClass="crossoff" value="#{bookFromGenre.listPrice}">
                                    <f:convertNumber type="currency" currencySymbol="$"/>
                                </h:outputText>
                                <h:outputText styleClass="bold" 
                                              style="margin-left: 5px" 
                                              value="#{bookFromGenre.salePrice}">
                                    <f:convertNumber type="currency" currencySymbol="$"/>
                                </h:outputText>
                            </ui:fragment>
                        </b:panel>
                    </h:link>
                </p:carousel>

                <!-- Recently added books -->
                <p:carousel headerText="#{msgs.RecentlyAddedBooks}" var="recentlyBook" 
                            value="#{clientFrontDoorBacking.recentlyAddedBooks}" circular="true"
                            responsive="true" id="recentlyAddedBooks">
                    <h:link outcome="#{bookActionBean.goToBookPage(recentlyBook.isbn)}" 
                            style="text-decoration: none; color: black">
                        <b:panel styleClass="center book-select">
                            <b:image name="#{bookActionBean.getCover(recentlyBook.isbn)}" 
                                     styleClass="homepage-thumb"/>
                            <p>#{recentlyBook.title}</p>
                            <ui:repeat var="author" value="#{bookActionBean.getAuthors(recentlyBook)}" 
                                       varStatus="status">
                                <h:outputText 
                                    value="#{author.firstname} #{author.lastname}#{status.last ? '' : ', '}"/>
                            </ui:repeat>
                            <br/>
                            <h:outputText styleClass="bold" style="margin-left: 5px" 
                                          value="#{recentlyBook.listPrice}"
                                          rendered="#{recentlyBook.salePrice.doubleValue() eq 0}">
                                <f:convertNumber type="currency" currencySymbol="$"/>
                            </h:outputText>
                            <ui:fragment rendered="#{recentlyBook.salePrice.doubleValue() ne 0}">
                                <h:outputText styleClass="crossoff" value="#{recentlyBook.listPrice}">
                                    <f:convertNumber type="currency" currencySymbol="$"/>
                                </h:outputText>
                                <h:outputText styleClass="bold" style="margin-left: 5px" 
                                              value="#{recentlyBook.salePrice}">
                                    <f:convertNumber type="currency" currencySymbol="$"/>
                                </h:outputText>
                            </ui:fragment>
                        </b:panel>
                    </h:link>
                </p:carousel>

                <!-- About Us and Grizzly Bear Foundation Panel -->
                <b:panel title="#{msgs.AboutUsTitle}" collapsible="false" 
                         style="background-color: rgba(229, 246, 228, 0.2)">
                    <h5>#{msgs.AboutUs}</h5>
                    <div class="content-center">
                        <b:link href="https://grizzlybearfoundation.com/" 
                                target="true" 
                                id="grizzlyBearLink">
                            <b:image name="img/grizzlybear-logo.png" 
                                     styleClass="max-width-100"/>
                        </b:link>
                    </div>
                </b:panel>
            </b:column>

            <!-- Third column -->
            <b:column span="2">
                <!-- Second Banner Ad -->
                <!-- Will not be rendered if there are no active banners -->
                <b:link href="#{bannersBackingBean.secondBanner.url}" 
                        target="true"
                        rendered="#{not empty bannersBackingBean.secondBanner}">
                    <p:graphicImage name="#{bannersBackingBean.secondBannerImageURL}"
                                    width="100%"
                                    alt="#{msgs.AltBannerAd}"
                                    id="rightBanner"/>
                </b:link>
                <hr rendered="#{not empty bannersBackingBean.secondBanner and not empty surveysBackingBean.activeSurvey}"/>

                <!-- Survey -->
                <b:panel title="#{msgs.Survey}" collapsible="false" 
                         style="background-color: rgba(229, 246, 228, 0.2)">
                    <h:outputText value="#{surveysBackingBean.activeSurvey.question}" 
                                  style="font-weight: bold"/>
                    <h:form id="surveyForm">
                        <b:radiobutton id="answersRadio" value="#{surveysBackingBean.selectedAnswer}" 
                                       rendered="#{!surveysBackingBean.answered}"
                                       required="true" requiredMessage=" #{msgs.SurveyRequired}">
                            <f:selectItems value="#{surveysBackingBean.activeAnswers.entrySet()}" 
                                           var="answer"
                                           itemLabel="#{answer.value}" 
                                           itemValue="#{answer.key}"/>
                        </b:radiobutton>
                        <h:panelGroup rendered="#{surveysBackingBean.answered}" id="surveyResults">
                            #{surveysBackingBean.activeSurvey.answer1}
                            <b:progressBar value="#{surveysBackingBean.activeSurvey.vote1.toString()}" 
                                           max="#{surveysBackingBean.totalVotes}"
                                           caption="#{surveysBackingBean.activeSurvey.vote1.toString()}"
                                           rendered="#{not empty surveysBackingBean.activeSurvey.answer1}"/>
                            #{surveysBackingBean.activeSurvey.answer2}
                            <b:progressBar value="#{surveysBackingBean.activeSurvey.vote2.toString()}" 
                                           max="#{surveysBackingBean.totalVotes}"
                                           caption="#{surveysBackingBean.activeSurvey.vote2.toString()}"
                                           rendered="#{not empty surveysBackingBean.activeSurvey.answer2}"/>
                            #{surveysBackingBean.activeSurvey.answer3}
                            <b:progressBar value="#{surveysBackingBean.activeSurvey.vote3.toString()}" 
                                           max="#{surveysBackingBean.totalVotes}"
                                           caption="#{surveysBackingBean.activeSurvey.vote3.toString()}"
                                           rendered="#{not empty surveysBackingBean.activeSurvey.answer3}"/>
                            #{surveysBackingBean.activeSurvey.answer4}
                            <b:progressBar value="#{surveysBackingBean.activeSurvey.vote4.toString()}" 
                                           max="#{surveysBackingBean.totalVotes}"
                                           caption="#{surveysBackingBean.activeSurvey.vote4.toString()}"
                                           rendered="#{not empty surveysBackingBean.activeSurvey.answer4}"/>
                        </h:panelGroup>
                        <b:commandButton value="#{msgs.Submit}" 
                                         action="#{surveysBackingBean.completeSurvey}" 
                                         update="@form"
                                         rendered="#{!surveysBackingBean.answered}" id="submitSurvey"/>
                        <h:message for="answersRadio" style="color: red" id="surveyMessage"/>
                    </h:form>
                </b:panel>
            </b:column>

            <!-- Fourth section, duplicate of first column -->
            <!-- This section is displayed only on extra-small and small devices -->
            <b:column span="2" hidden="md, lg">
                <!-- First Banner Ad -->
                <!-- Will not be rendered if there are no active banners -->
                <b:link href="#{bannersBackingBean.firstBanner.url}" 
                        target="true"
                        rendered="#{not empty bannersBackingBean.firstBanner}"
                        id="leftBannerMobile">
                    <p:graphicImage name="#{bannersBackingBean.firstBannerImageURL}"
                                    width="100%" 
                                    alt="#{msgs.AltBannerAd}"
                                    class="leftBanner"/>
                </b:link>
                <!-- News Highlights -->
                <b:panel title="#{msgs.NewsHighlights}" 
                         collapsible="false" 
                         style="background-color: rgba(229, 246, 228, 0.2)"
                         rendered="#{not empty newsHighlightBacking.url}"
                         class="newsHighlights"
                         id="newsHighlightsLast">

                    <p:feedReader value="#{newsHighlightBacking.url}" 
                                  var="feed" 
                                  size="3"
                                  class="max-width-100">
                        <div style="text-align: left;">
                            <h:outputLink value="#{feed.link}" 
                                          style="font-weight: bold" 
                                          target="true">
                                #{feed.title}
                            </h:outputLink>
                            <br/>
                            <h:outputText value="#{feed.description.value}" 
                                          escape="false"
                                          styleClass="max-width-100"/>
                            <p:separator/>
                            <f:facet name="error">
                                #{msgs.RssError}
                            </f:facet>
                        </div>
                    </p:feedReader>
                </b:panel>
            </b:column>
        </b:row>
    </h:body>
</ui:composition>

