<!-- Author: Shuey -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>#{msgs.Invoice}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <!-- Store the URL of the page -->
        <f:metadata>
            <f:event type="preRenderView" listener="#{navigationBean.savePageURL()}"/>
        </f:metadata>
        <h:outputStylesheet library="css" name="invoiceStyles.css"/>

        <b:panel class="max-width-100 ui-fluid" style="background-color: #80bf82">
            <h2>#{msgs.ThankYou}</h2>
            <h3>#{msgs.PaymentReceived}</h3>
            <p>
                #{msgs.PrintMsg}
                <br/>
                #{msgs.EmailMsg}
            </p>
        </b:panel>

        <h:outputStylesheet library="css" name="checkoutStyles.css"/>
        <b:container>
            <h1>#{msgs.Invoice}</h1>
            <br/>
            <p:dataTable id="invoice" value="1" editable="true" style="margin-bottom:20px "
                         class="max-width-100 ui-fluid"
                         tableStyle="table-layout: auto"
                         widgetVar="bookWidget">  

                <p:column headerText="#{msgs.BillingAddress}">
                    <h:outputText value="#{cartBean.billingAddress}, "/>
                    <h:outputText value="#{cartBean.billingCity}, "/>
                    <h:outputText value="#{cartBean.billingProvince}"/>
                </p:column>

                <p:column headerText="#{msgs.PaymentMethod}">
                    <h:outputText value="#{cartBean.creditCardType}"/>
                </p:column>

                <p:column headerText="#{msgs.OrderSummary}">
                    <h:outputText value="#{msgs.BeforeTax}: " style="font-weight:bold"/>
                    <h:outputText value="#{cartBean.calculateCartTotalBeforeTax()}">
                        <f:convertNumber type="currency"/>
                    </h:outputText>
                    <br/>

                    <h:outputText value="#{msgs.EstimatedTax}: " style="font-weight:bold"/>
                    <h:outputText value="#{cartBean.calculateTax()}">
                        <f:convertNumber type="currency"/>
                    </h:outputText>
                    <br/>

                    <h:outputText value="#{msgs.GrandTotal}: " style="font-weight:bold"/>
                    <h:outputText value="#{cartBean.calculateCartTotalAfterTax()}">
                        <f:convertNumber type="currency"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>

            <p:button onclick="window.print(); return false;" value="#{msgs.PrintBtn}" style="margin-right:20px;"/>
            <p:commandButton value="#{msgs.EmailBtn}" action="#{invoiceBackingBean.sendEmail()}" update="growlMsg"/>
        </b:container>
    </h:body>
</ui:composition>
