<!-- Author : Camillia E. -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <div class="content-center">
            <b:image name="img/logo.png"/>
        </div>

        <h:form class="login-form" id="loginForm">

            <!-- Username -->
            <b:inputText id="usernameDiv" fieldId="username" name="username"
                         value="#{loginBackingBean.email}"
                         label="#{msgs.Email}" 
                         required="true"
                         requiredMessage="#{msgs.RequiredMessage}">
                <f:facet name="prepend">
                    <b:icon name="user"/>
                </f:facet>
            </b:inputText>

            <!-- Password -->
            <b:inputSecret id="passwordDiv" fieldId="password" name="password"
                           value="#{loginBackingBean.password}"
                           label="#{msgs.Password}"  
                           required="true"
                           requiredMessage="#{msgs.RequiredMessage}">
                <f:facet name="prepend">
                    <b:iconAwesome name="key"/>
                </f:facet>
            </b:inputSecret>

            <!-- Submit Btn -->
            <b:commandButton update="@form" value="#{msgs.Login}"  
                             action="#{loginBackingBean.login()}" ajax="false" id="login"/>
            <br/>

            <!-- Error message -->
            <h:messages globalOnly="true" styleClass="error-form-msg"/>
        </h:form>

        <!-- Register link -->
        <div class="content-center">
            <p>#{msgs.NewUserQuestion} #{msgs.Register}
                <a href="register.xhtml">#{msgs.Here}</a>.
            </p>
        </div>
    </h:body>
</ui:composition>

