<!-- Author: Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:body>
        <!-- Store the URL of the page -->
        <f:metadata>
            <f:event type="preRenderView" listener="#{navigationBean.savePageURL()}"/>
        </f:metadata>

        <b:container>
            <h1 class="center">#{msgs.YourPurchasedBooks}</h1>
            <h:form>
                <p:dataView var="item" value="#{purchasedBooksBackingBean.purchasedBooks}" 
                            gridIcon="pi pi-th-large" 
                            listIcon="pi pi-bars" 
                            paginator="true" 
                            rows="10"
                            paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">
                    <p:dataViewListItem>
                        <p:panelGrid columns="2" style="width: 100%" columnClasses="col-md-2 col-md-10">
                            <p:column>
                                <p:graphicImage width="240px" name="#{bookActionBean.getCover(item.isbn)}"/>
                            </p:column>
                            <p:column>
                                <h3>#{item.title}</h3>
                                <p><strong style="margin-right: 5px">#{msgs.AuthorLabel}</strong>
                                    <ui:repeat var="author" value="#{bookActionBean.getAuthors(item)}" 
                                               varStatus="status">
                                        <h:outputText 
                                            value="#{author.firstname} #{author.lastname}#{status.last ? '' : ', '}"/>
                                    </ui:repeat>
                                </p>
                                <b:button outcome="#{bookActionBean.goToBookPage(item.isbn)}" 
                                          value="#{msgs.ToBookPageLabel}"/>
                            </p:column>
                        </p:panelGrid>
                    </p:dataViewListItem>
                </p:dataView>
            </h:form>
        </b:container>
    </h:body>

</ui:composition>