<!-- Author: Camillia E. -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <h:body>
        <b:container>
            <h2 class="center">#{msgs.Register}</h2>

            <!-- Register form -->
            <b:form id="registerForm" class="register-form">
                <!-- Email -->
                <b:inputText id="emailDiv" fieldId="email" name="email"
                             value="#{registerBackingBean.user.email}"
                             label="#{msgs.Email}"
                             required="true"
                             requiredMessage="#{msgs.RequiredMessage}"
                             validator="#{emailValidator.validate}">
                    <!-- Validates it is unique and corresponds to a regex -->
                    <f:validateLength maximum="120"/>
                    <f:ajax event="blur" execute="emailDiv" render="duplicateEmailMessage"/>
                    <f:facet name="prepend">
                        <h:outputText value="@"/>
                    </f:facet>
                </b:inputText> 
                <b:message for="emailDiv" id="duplicateEmailMessage" 
                           styleClass="register-form-error"/>

                <!-- Row with title, firstname and lastname -->
                <b:row>
                    <!-- Title -->
                    <b:column styleClass="col-md-4">
                        <b:selectOneMenu
                            value="#{registerBackingBean.user.title}" 
                            label="#{msgs.Title}"
                            select2="true"
                            style="max-width:100%; width:100%;">
                            <f:selectItem itemLabel="#{msgs.Select}"/>
                            <f:selectItem itemLabel="#{msgs.Mr}" itemValue="Mr"/>
                            <f:selectItem itemLabel="#{msgs.Ms}" itemValue="Ms"/>
                            <f:selectItem itemLabel="#{msgs.Miss}" itemValue="Miss"/>
                            <f:selectItem itemLabel="#{msgs.Mx}" itemValue="Mx"/>
                        </b:selectOneMenu>
                        <b:message for="titleDiv" styleClass="register-form-error"/>
                    </b:column>
                    <!-- First name -->
                    <b:column styleClass="col-md-4">
                        <b:inputText id="firstnameDiv" fieldId="firstname" name="firstname"
                                     value="#{registerBackingBean.user.firstname}"
                                     label="#{msgs.Firstname}"  
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage}">
                            <f:validateLength maximum="60"/>
                        </b:inputText> 
                        <b:message for="firstnameDiv" styleClass="register-form-error"/>
                    </b:column>
                    <!-- Last name -->
                    <b:column styleClass="col-md-4">
                        <b:inputText id="lastnameDiv" fieldId="lastname" name="lastname"
                                     value="#{registerBackingBean.user.lastname}"
                                     label="#{msgs.Lastname}"  
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage}">
                            <f:validateLength maximum="60"/>
                        </b:inputText>
                        <b:message for="lastnameDiv" styleClass="register-form-error"/>
                    </b:column>
                </b:row>

                <!-- Company name -->
                <b:inputText id="companyDiv" fieldId="company" name="company"
                             value="#{registerBackingBean.user.companyname}"
                             label="#{msgs.Company}" >
                    <f:validateLength maximum="150"/>
                </b:inputText>
                <b:message for="companyDiv" styleClass="register-form-error"/>

                <!-- Address1 -->
                <b:inputText id="address1Div" fieldId="address1" name="address1"
                             value="#{registerBackingBean.user.address1}"
                             label="#{msgs.Address1}"  
                             required="true"
                             requiredMessage="#{msgs.RequiredMessage}">
                    <f:validateLength maximum="300"/>
                </b:inputText>
                <b:message for="address1Div" styleClass="register-form-error"/>

                <!-- Address2 -->
                <b:inputText id="address2Div" fieldId="address2" name="address2"
                             value="#{registerBackingBean.user.address2}"
                             label="#{msgs.Address2}"  
                             a:placeholder="#{msgs.Address2Hint}">
                    <f:validateLength maximum="300"/>
                </b:inputText>
                <b:message for="address2Div" styleClass="register-form-error"/>

                <!-- Row with Area and City -->
                <b:row>
                    <!-- Area -->
                    <b:column styleClass="col-md-6">
                        <b:formGroup>
                            <b:selectOneMenu
                                value="#{registerBackingBean.user.province}" 
                                required="true" 
                                label="#{msgs.Region}" 
                                select2="true"
                                style="max-width:100%; width:100%;">
                                <f:selectItem itemLabel="#{msgs.Select}"/>
                                <f:selectItem itemLabel="#{msgs.AB}" itemValue="AB"/>
                                <f:selectItem itemLabel="#{msgs.BC}" itemValue="BC"/>
                                <f:selectItem itemLabel="#{msgs.MB}" itemValue="MB"/>
                                <f:selectItem itemLabel="#{msgs.NB}" itemValue="NB"/>
                                <f:selectItem itemLabel="#{msgs.NL}" itemValue="NL"/>
                                <f:selectItem itemLabel="#{msgs.NS}" itemValue="NS"/>
                                <f:selectItem itemLabel="#{msgs.NT}" itemValue="NT"/>
                                <f:selectItem itemLabel="#{msgs.NU}" itemValue="NU"/>
                                <f:selectItem itemLabel="#{msgs.ON}" itemValue="ON"/>
                                <f:selectItem itemLabel="#{msgs.PE}" itemValue="PE"/>
                                <f:selectItem itemLabel="#{msgs.QC}" itemValue="QC"/>
                                <f:selectItem itemLabel="#{msgs.SK}" itemValue="SK"/>
                                <f:selectItem itemLabel="#{msgs.YT}" itemValue="YT"/>
                            </b:selectOneMenu>
                        </b:formGroup>
                        <b:message for="@previous" styleClass="register-form-error"/>
                    </b:column>     

                    <!-- City -->
                    <b:column styleClass="col-md-6">
                        <b:inputText id="cityDiv" fieldId="city" name="city"
                                     value="#{registerBackingBean.user.city}"
                                     label="#{msgs.City}"  
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage}">
                            <f:validateLength maximum="60"/>
                        </b:inputText>
                        <b:message for="cityDiv" styleClass="register-form-error"/>
                    </b:column>
                </b:row>

                <!-- Row with Country and Postal Code -->
                <b:row>
                    <!-- Postal code -->
                    <b:column styleClass="col-md-6">
                        <b:inputText id="postalCode" fieldId="postalCode" name="postalCode"
                                     value="#{registerBackingBean.user.postalcode}"
                                     label="#{msgs.PostalCode}"  
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage}">
                            <f:converter converterId="removeWhiteSpaceConverter"/>
                            <f:validateRegex pattern="[a-zA-Z][0-9][a-zA-Z][0-9][a-zA-Z][0-9]"/>
                            <f:ajax event="blur" render="postalCodeError"/>
                        </b:inputText>
                        <b:message for="postalCode" id="postalCodeError" styleClass="register-form-error"/>
                    </b:column>

                    <!-- Country -->
                    <b:column styleClass="col-md-6">
                        <b:inputText id="countryDiv" fieldId="country" name="country"
                                     value="Canada"
                                     label="#{msgs.Country}"  
                                     a:readonly="readonly"/>
                    </b:column>
                </b:row>


                <!-- Row with home phone and cellphone -->
                <b:row>
                    <!-- Home phone -->
                    <b:column styleClass="col-md-6">
                        <b:inputText id="homePhoneDiv" fieldId="homePhone" name="homePhone"
                                     value="#{registerBackingBean.user.homephone}"
                                     label="#{msgs.Phone}"  
                                     type="tel">
                            <f:converter converterId="phoneNumberConverter"/>
                            <f:validateLength minimum="10" maximum="20"/>
                        </b:inputText>
                        <b:message for="homePhoneDiv" styleClass="register-form-error"/>
                    </b:column>

                    <!-- Cellphone -->
                    <b:column styleClass="col-md-6">
                        <b:inputText id="cellphoneDiv" fieldId="cellphone" name="cellphone"
                                     value="#{registerBackingBean.user.cellphone}"
                                     label="#{msgs.Cellphone}"  
                                     type="tel">
                            <f:converter converterId="phoneNumberConverter"/>
                            <f:validateLength minimum="10" maximum="20"/>
                        </b:inputText>
                        <b:message for="cellphoneDiv" styleClass="register-form-error"/>
                    </b:column>
                </b:row>

                <!-- Separation line -->
                <hr/>

                <!-- Passwords -->
                <!-- Hidden input for cross-fields password validation -->
                <h:inputHidden value="true" id="passwordValidatorDiv">
                    <f:validator validatorId="passwordValidator"/>
                    <f:attribute name="passwordInput" value="#{passwordInput}"/>
                    <f:attribute name="passwordConfirmInput" value="#{passwordConfirmInput}"/>
                </h:inputHidden>

                <!-- Password -->
                <b:inputSecret id="passwordDiv" 
                               fieldId="passwordDiv" 
                               name="passwordDiv"
                               value="#{registerBackingBean.password}"
                               label="#{msgs.Password}"  
                               required="true"
                               requiredMessage="#{msgs.RequiredMessage}"
                               binding="#{passwordInput}">
                    <f:facet name="prepend">
                        <b:iconAwesome name="key"/>
                    </f:facet>
                    <!-- Validator will confirm password follow regex pattern 
                    and is the same as in passwordConfirmDiv -->
                    <f:ajax event="blur" execute="passwordValidatorDiv passwordDiv passwordConfirmDiv" 
                            render="passwordError"/>
                </b:inputSecret>
                <b:message for="passwordDiv" styleClass="register-form-error"/>

                <!-- Password confirmation -->
                <b:inputSecret id="passwordConfirmDiv" 
                               fieldId="passwordConfirmDiv" 
                               name="passwordConfirmDiv"
                               value="#{registerBackingBean.passwordConfirm}"
                               label="#{msgs.PasswordConfirm}"  
                               required="true"
                               requiredMessage="#{msgs.RequiredMessage}"
                               binding="#{passwordConfirmInput}">
                    <f:facet name="prepend">
                        <b:iconAwesome name="key"/>
                    </f:facet>
                    <!-- Validator will confirm password follow regex pattern 
                    and is the same as in passwordDiv -->
                    <f:ajax event="blur" execute="passwordValidatorDiv passwordDiv passwordConfirmDiv" 
                            render="passwordError"/>
                </b:inputSecret>

                <!-- Error messages for password mismatch -->
                <b:message for="passwordValidatorDiv" id="passwordError" styleClass="register-form-error"/>


                <!-- Form buttons -->
                <div class="content-center">
                    <p:commandButton value="#{msgs.Register}" action="#{registerBackingBean.register}"/>
                    <p:commandButton value="#{msgs.Cancel}" action="cancel" immediate="true"/>
                </div>

                <br/>
            </b:form>
        </b:container>
    </h:body>
</ui:composition>


