<!-- Author: Eira, Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <!-- Store the URL of the page -->
        <f:metadata>
            <f:event type="preRenderView" listener="#{navigationBean.savePageURL()}"/>
        </f:metadata>
        <b:jumbotron id="searchJumbotron" style="margin-top: -20px">
            <b:container>
                <b:panelGrid columns="3">
                    <b:column>
                        <b:label value="#{msgs.SearchIn}"/>
                        <br/>
                        <span class="searchFilterSpan">                    
                            <!-- Search in: -->
                            <b:form inline="true">
                                <b:inputText value="#{searchBackingBean.titleSearch}" 
                                             label="#{msgs.TitleLabel}" 
                                             labelStyle="width:80px" 
                                             style="width: 300px"/>
                                <b:inputText value="#{searchBackingBean.authorSearch}" 
                                             label="#{msgs.AuthorLabel}" 
                                             labelStyle="width:80px" style="width: 300px"/>
                                <b:inputText value="#{searchBackingBean.publisherSearch}" 
                                             label="#{msgs.PublisherLabel}" labelStyle="width:80px" 
                                             style="width: 300px"/>
                                <b:inputText value="#{searchBackingBean.genreSearch}" 
                                             label="#{msgs.GenreLabel}" labelStyle="width:80px" 
                                             style="width: 300px"/>
                                <b:inputText value="#{searchBackingBean.isbnSearch}" 
                                             label="#{msgs.IsbnLabel}" labelStyle="width:80px" 
                                             style="width: 300px"/>
                                <br/><br/>
                                <b:commandButton value="#{msgs.AdvancedSearch}" action="#{searchBackingBean.refineSearchPage()}"/>
                            </b:form>
                        </span>
                    </b:column>
                    <b:column>
                        <b:form style="margin-bottom: 10px">
                            <b:label value="#{msgs.FormatsLabel}"/>
                            <b:selectMultiMenu id="formatMenu" 
                                               value="#{searchBackingBean.selectedFormats}" includeSelectAllOption="true"
                                               selectAllText="Select all" maxHeight="300" buttonWidth="300"
                                               enableFiltering="true" enableCaseInsensitiveFiltering="true"
                                               onchange="ajax:searchBackingBean.filterBooksByFormats()" 
                                               update="searchResults">
                                <f:selectItems value="#{searchBackingBean.formatsList}" var="format" itemLabel="#{format}" itemValue="#{format}"/>
                            </b:selectMultiMenu>
                        </b:form>
                    </b:column>
                    <b:column>
                        <b:form>
                            <b:label class="filterLabel" value="#{msgs.SortBy}"></b:label>
                            <b:radiobutton value="#{searchBackingBean.selectedSortCriterion}" onclick="ajax:searchBackingBean.sortBooksByCriteria()" update="searchResults">
                                <f:selectItems value="#{searchBackingBean.sortByValues}" var="sortBy"
                                               itemValue="#{sortBy}" itemLabel="#{msgs['sortBySearch.' += sortBy]}"/>
                            </b:radiobutton>
                            <b:label class="filterLabel" value="#{msgs.ToggleReverse}"></b:label>
                            <b:switch id="sortOrderSwitch" value="#{searchBackingBean.sortReversed}" onchange="ajax:searchBackingBean.sortBooksByCriteria()" update="searchResults"/>
                        </b:form>
                    </b:column>
                </b:panelGrid>
            </b:container>
        </b:jumbotron>

        <b:container id="searchResults" class="max-width-100 ui-fluid">
            <h:form>
                <p:dataView var="item" 
                            value="#{searchBackingBean.results}" 
                            gridIcon="pi pi-th-large" 
                            listIcon="pi pi-bars" 
                            paginator="true" 
                            rows="10"
                            paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">
                    <f:facet name="header">
                        <h:outputText value="#{searchBackingBean.results.size()} #{msgs.Results}"/>
                    </f:facet>
                    <p:dataViewGridItem>
                        <p:panel style="background-color: transparent" 
                                 styleClass="book-select-result"
                                 class="max-width-100 ui-fluid">
                            <h3 class="center">#{item.title}</h3>
                            <p:graphicImage name="#{bookActionBean.getCover(item.isbn)}" styleClass="img-center"/>
                            <div>
                                <p><strong style="margin-right: 5px">#{msgs.AuthorLabel}</strong>
                                    <ui:repeat var="author" value="#{item.authors}" varStatus="status">
                                        <h:outputText value="#{author}#{status.last ? '' : ', '}"/>
                                    </ui:repeat>
                                </p>
                                <p><strong style="margin-right: 5px">#{msgs.GenreLabel}</strong>
                                    <ui:repeat var="genre" value="#{item.genres}" varStatus="status">
                                        <h:outputText value="#{genre.substring(0, 1).toUpperCase().concat(genre.substring(1))}#{status.last ? '' : ', '}"/>
                                    </ui:repeat>
                                </p>
                                <p class="mid-description"><strong>#{msgs.CreateBooksLabel_description}</strong> #{item.description} </p>
                                <!-- List price only -->
                                <h:outputText styleClass="bold" style="margin-left: 5px" value="#{item.listPrice}"
                                              rendered="#{item.salePrice.doubleValue() eq 0}">
                                    <f:convertNumber type="currency" currencySymbol="$"/>
                                </h:outputText>
                                <!-- Cross off list price and display sale price if there is a sale -->
                                <ui:fragment rendered="#{item.salePrice.doubleValue() ne 0}">
                                    <h:outputText styleClass="crossoff" value="#{item.listPrice}">
                                        <f:convertNumber type="currency" currencySymbol="$"/>
                                    </h:outputText>
                                    <h:outputText styleClass="bold" style="margin-left: 5px" value="#{item.salePrice}">
                                        <f:convertNumber type="currency" currencySymbol="$"/>
                                    </h:outputText>
                                </ui:fragment>
                            </div>
                            <p><b:button outcome="#{bookActionBean.goToBookPage(item.isbn)}" value="#{msgs.ToBookPageLabel}"/></p>
                        </p:panel>
                    </p:dataViewGridItem>
                    <p:dataViewListItem>
                        <p:panelGrid columns="2" styleClass="max-width-100">
                            <p:column>
                                <p:graphicImage width="240px" 
                                                name="#{bookActionBean.getCover(item.isbn)}"/>
                            </p:column>
                            <p:column>
                                <h3>#{item.title}</h3>
                                <div>
                                    <p><strong style="margin-right: 5px">#{msgs.AuthorLabel}</strong>
                                        <ui:repeat var="author" value="#{item.authors}" varStatus="status">
                                            <h:outputText value="#{author}#{status.last ? '' : ', '}"/>
                                        </ui:repeat>
                                    </p>
                                    <p><strong style="margin-right: 5px">#{msgs.GenreLabel}</strong>
                                        <ui:repeat var="genre" value="#{item.genres}" varStatus="status">
                                            <h:outputText value="#{genre.substring(0, 1).toUpperCase().concat(genre.substring(1))}#{status.last ? '' : ', '}"/>
                                        </ui:repeat>
                                    </p>
                                    <p class="mid-description"><strong>#{msgs.CreateBooksLabel_description}</strong> #{item.description} </p>
                                    <!-- List price only -->
                                    <h:outputText styleClass="bold" style="margin-left: 5px" value="#{item.listPrice}"
                                                  rendered="#{item.salePrice.doubleValue() eq 0}">
                                        <f:convertNumber type="currency" currencySymbol="$"/>
                                    </h:outputText>
                                    <!-- Cross off list price and display sale price if there is a sale -->
                                    <ui:fragment rendered="#{item.salePrice.doubleValue() ne 0}">
                                        <h:outputText styleClass="crossoff" value="#{item.listPrice}">
                                            <f:convertNumber type="currency" currencySymbol="$"/>
                                        </h:outputText>
                                        <h:outputText styleClass="bold" style="margin-left: 5px" value="#{item.salePrice}">
                                            <f:convertNumber type="currency" currencySymbol="$"/>
                                        </h:outputText>
                                    </ui:fragment>
                                </div>
                                <p><b:button outcome="#{bookActionBean.goToBookPage(item.isbn)}" 
                                             value="#{msgs.ToBookPageLabel}"/></p>
                            </p:column>
                        </p:panelGrid>
                    </p:dataViewListItem>
                </p:dataView>
            </h:form>
        </b:container>
    </h:body>
</ui:composition>