<!-- Author: Camillia -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body class="content-center">
        <b:image name="img/logo.png"/>
        <h1>#{msgs.FourHundredFourMessage}</h1>
        <br/>
        <a href="/ga1w20">#{msgs.FourHundredFourRedirect}</a>
    </h:body>
</ui:composition>