<!-- Author: Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <b:panelGrid columns="2">
        <b:dateTimePicker field-size="lg" format="YYYY/MM/DD" value="#{dateRangeBacking.startDate}" label="#{msgs.StartDate}" auto-update="true"
                          minDate="#{dateRangeBacking.minDate}" maxDate="#{dateRangeBacking.endDate}">
            <f:ajax render="#{table}" event="blur" listener="#{reportBean[updateMethod]}"/>
        </b:dateTimePicker>
        <b:dateTimePicker field-size="lg" format="YYYY/MM/DD" value="#{dateRangeBacking.endDate}" label="#{msgs.EndDate}" auto-update="true" 
                          minDate="#{dateRangeBacking.startDate}" maxDate="#{dateRangeBacking.maxDate}">
            <f:ajax render="#{table}" event="blur" listener="#{reportBean[updateMethod]}"/>
        </b:dateTimePicker>
    </b:panelGrid>
</ui:composition>