<!-- Authors: Michael, Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h1 class="center">#{msgs.AdsManagement}</h1>
    <b:container>
        <h1 class="center">#{msgs.AddNewAd}</h1>
        <!-- New Ad form -->
        <p:panel>
            <h:form enctype="multipart/form-data">
                <p:panelGrid columns="2" styleClass="ui-noborder">
                    <p:column>
                        <h4>#{msgs.Url}</h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{newAdBacking.url}" id="url" 
                                     style="width: 300px" required="true"
                                     requiredMessage="#{msgs.UrlRequired}"
                                     validatorMessage="#{msgs.UrlInvalid}">
                            <f:validator validatorId="com.ga1w20.urlValidator"/>
                            <!-- URL will be validated -->
                        </p:inputText>
                        <h:message for="url" style="margin-left: 15px; color: red"/>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.BannerImage}: </h4>
                    </p:column>
                    <p:column>
                        <p:fileUpload value="#{newAdBacking.image}" mode="simple" accept="image/jpeg"
                                      invalidSizeMessage="#{msgs.ImageSizeLimitError}" required="true" requiredMessage="#{msgs.ImageRequiredMsg}"
                                      label="#{msgs.BannerImageChoose}" skinSimple="true" id="bannerImage"
                                      validator="imageValidator">
                        </p:fileUpload>
                        <h:message for="bannerImage" style="margin-left: 15px; color: red"/>
                    </p:column>
                    <p:column/>
                    <p:commandButton value="#{msgs.AddNewAd}" process="url,bannerImage"
                                     action="#{newAdBacking.addNewAd}" ajax="false" update="adsTable"/>
                </p:panelGrid>
            </h:form>
        </p:panel>

        <!-- Ads data table -->
        <h1 class="center">#{msgs.EditAds}</h1>
        <h:form>
            <p:dataTable id="adsTable" var="ad" value="#{adsManagementBacking.ads}" 
                         editable="true" paginator="true" rows="10"
                         tableStyle="table-layout: auto"
                         widgetVar="adsTable"
                         filteredValue="#{adsManagementBacking.filteredAds}"
                         globalFilterFunction="#{adsManagementBacking.globalFitlerFunction}">
                <!-- Header -->
                <f:facet name="header">
                    <div style="margin-bottom: 5px">
                        <h:outputText value="#{msgs.Search}: "/>
                        <p:inputText id="globalFilter" 
                                     onkeyup="PF('adsTable').filter()" 
                                     placeholder="#{msgs.EnterKeyword}"/>
                    </div>
                    <p:commandButton value="#{msgs.CheckAll}" 
                                     action="#{adsManagementBacking.checkAllCheckboxes()}" 
                                     update="@form:adsTable"/>
                    <p:commandButton value="#{msgs.UncheckAll}" 
                                     action="#{adsManagementBacking.uncheckAllCheckboxes()}"  
                                     update="@form:adsTable"/>
                </f:facet>

                <p:column headerText="#{msgs.AdId}" sortBy="#{ad.adId}">
                    <f:facet name="header">
                        <p>#{msgs.AdId}</p>
                        <p:selectBooleanCheckbox value="#{adsSearchBacking.adId}" 
                                                 onchange="PF('adsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{ad.adId}"/>
                </p:column>

                <p:column headerText="#{msgs.Url}">
                    <f:facet name="header">
                        <p>#{msgs.Url}</p>
                        <p:selectBooleanCheckbox value="#{adsSearchBacking.url}" 
                                                 onchange="PF('adsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{ad.url}"/>
                </p:column>
                <p:column headerText="#{msgs.Active}" sortBy="#{ad.active}">
                    <f:facet name="header">
                        <p>#{msgs.Active}</p>
                        <p:selectBooleanCheckbox value="#{adsSearchBacking.active}" 
                                                 onchange="PF('adsTable').filter()"/>
                    </f:facet>
                    <p:toggleSwitch value="#{ad.active}" disabled="true"/>
                </p:column>
                <p:column headerText="#{msgs.Edit}">
                    <p:commandButton icon="pi pi-pencil" 
                                     update="@(#modalForm)" 
                                     action="#{adsManagementBacking.resetDialogForm('modalForm')}" 
                                     oncomplete="PF('dialog').show();">
                        <f:setPropertyActionListener value="#{ad}"  
                                                     target="#{adsManagementBacking.selectedAd}"/>  
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>

        <!-- Modal to edit record -->
        <p:dialog header="#{msgs.EditRecord}" 
                  widgetVar="dialog" modal="true" 
                  resizable="true" responsive="true" 
                  closeOnEscape="true" 
                  height="500px">

            <h:form id="modalForm" enctype="multipart/form-data">
                <p:growl id="messages" showDetail="true"/>
                <p:panelGrid columns="2" styleClass="dialog-form">
                    <p:column>
                        <h4>#{msgs.Url} </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{adsManagementBacking.selectedAd.url}" 
                                     id="url" required="true"
                                     requiredMessage="#{msgs.UrlRequired}"
                                     validatorMessage="#{msgs.UrlInvalid}">
                            <f:validator validatorId="com.ga1w20.urlValidator"/>
                            <!-- URL will be validated -->
                        </p:inputText>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.BannerImage} </h4>
                    </p:column>
                    <p:column>
                        <p:graphicImage 
                            name="#{adsManagementBacking.getImageUrlAssociatedToBannerId(adsManagementBacking.selectedAd.adId)}" 
                            height="50%"/>
                        <br/>
                        <p:fileUpload value="#{adsManagementBacking.selectedImage}" 
                                      mode="simple" accept="image/jpeg"
                                      invalidSizeMessage="#{msgs.ImageSizeLimitError}"
                                      label="#{msgs.BannerImageChoose}" skinSimple="true"
                                      validator="imageValidator">
                        </p:fileUpload>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.Active}: </h4>
                    </p:column>
                    <p:column>
                        <p:toggleSwitch value="#{adsManagementBacking.selectedAd.active}"/>
                    </p:column>
                </p:panelGrid>
                <p:commandButton value="#{msgs.SaveChanges}" 
                                 action="#{adsManagementBacking.saveChanges}" 
                                 ajax="false"/>
            </h:form>
        </p:dialog>  
    </b:container>

</ui:composition>