<!-- Authors: Michael, Timmy, Camillia -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="content-center" style="width: 80%">
        <h1 class="center">#{msgs.ClientManagement}</h1>
        <h:form>
            <p:growl id="messages" showDetail="true"/>

            <p:dataTable id="clientTable" 
                         var="client" 
                         value="#{clientsBacking.clients}" 
                         editable="true" 
                         paginator="true" 
                         rows="5"
                         tableStyle="table-layout: auto"
                         widgetVar="clientsTable"
                         filteredValue="#{clientsBacking.filteredClients}"
                         globalFilterFunction="#{clientsBacking.globalFitlerFunction}"
                         emptyMessage="#{msgs.NoUsersFound}">

                <!-- Header -->
                <f:facet name="header">
                    <div style="margin-bottom: 5px">
                        <h:outputText value="#{msgs.Search}: "/>
                        <p:inputText id="globalFilter" 
                                     onkeyup="PF('clientsTable').filter()" 
                                     placeholder="#{msgs.EnterKeyword}"/>
                    </div>

                    <p:commandButton value="#{msgs.CheckAll}" 
                                     action="#{clientsBacking.checkAllCheckboxes()}" 
                                     update="@form:clientTable"/>
                    <p:commandButton value="#{msgs.UncheckAll}" 
                                     action="#{clientsBacking.uncheckAllCheckboxes()}"  
                                     update="@form:clientTable"/>
                </f:facet>

                <!-- UserId -->
                <p:column headerText="#{msgs.UserId}">
                    <f:facet name="header">
                        <p>#{msgs.UserId}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.userId}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.userId}"/>
                </p:column>

                <!-- Manager -->
                <p:column headerText="#{msgs.Manager}" 
                          sortBy="#{client.credentials.manager}">
                    <f:facet name="header">
                        <p>#{msgs.Manager}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.manager}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <p:toggleSwitch value="#{client.credentials.manager}"
                                    disabled="true"/>
                </p:column>

                <!-- Email -->
                <p:column headerText="#{msgs.Email}">
                    <f:facet name="header">
                        <p>#{msgs.Email}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.email}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.email}"/>
                </p:column>

                <!-- Title -->
                <p:column headerText="#{msgs.Title}">
                    <f:facet name="header">
                        <p>#{msgs.Title}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.title}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.title}"/>
                </p:column>

                <!-- Lastname -->
                <p:column headerText="#{msgs.Lastname}">
                    <f:facet name="header">
                        <p>#{msgs.Lastname}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.lastName}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.lastname}"/>
                </p:column>

                <!-- Firstname -->
                <p:column headerText="#{msgs.Firstname}">
                    <f:facet name="header">
                        <p>#{msgs.Firstname}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.firstName}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.firstname}"/>
                </p:column>

                <!-- Address -->
                <p:column headerText="#{msgs.Address1}, ">
                    <f:facet name="header">
                        <p>#{msgs.Address1}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.address}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.address1}"/>
                </p:column>

                <!-- Second Address -->
                <p:column headerText="#{msgs.Address2}">
                    <f:facet name="header">
                        <p>#{msgs.Address2}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.secondAddress}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.address2}"/>
                </p:column>

                <!-- Postal Code -->
                <p:column headerText="#{msgs.PostalCode}">
                    <f:facet name="header">
                        <p>#{msgs.PostalCode}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.postalCode}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.postalcode}"/>
                </p:column>

                <!-- Area -->
                <p:column headerText="#{msgs.Region}">
                    <f:facet name="header">
                        <p>#{msgs.Region}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.province}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.province}"/>
                </p:column>

                <!-- City -->
                <p:column headerText="#{msgs.City}">
                    <f:facet name="header">
                        <p>#{msgs.City}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.city}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.city}"/>
                </p:column>

                <!-- Country -->
                <p:column headerText="#{msgs.Country}">
                    <f:facet name="header">
                        <p>#{msgs.Country}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.country}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.country}"/>
                </p:column>

                <!-- Homephone -->
                <p:column headerText="#{msgs.Phone}">
                    <f:facet name="header">
                        <p>#{msgs.Phone}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.homephone}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.homephone}"/>
                </p:column>

                <!-- Cellphone -->
                <p:column headerText="#{msgs.Cellphone}">
                    <f:facet name="header">
                        <p>#{msgs.Cellphone}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.cellphone}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.cellphone}"/>
                </p:column>

                <!-- Company name -->
                <p:column headerText="#{msgs.Company}">
                    <f:facet name="header">
                        <p>#{msgs.Company}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.company}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{client.companyname}"/>
                </p:column>

                <!-- Total purchases -->
                <p:column headerText="#{msgs.TotalPurchases}">
                    <f:facet name="header">
                        <p>#{msgs.TotalPurchases}</p>
                        <p:selectBooleanCheckbox 
                            value="#{clientsSearchBacking.company}" 
                            onchange="PF('clientsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{clientsBacking.getClientTotalPurchases(client)}">
                        <f:convertNumber currencySymbol="$" type="currency"/>
                    </h:outputText>
                </p:column>


                <!-- Editor -->
                <p:column headerText="#{msgs.Edit}">
                    <p:commandButton icon="pi pi-pencil" 
                                     update="@(#modalForm)" 
                                     action="#{clientsBacking.resetDialogForm('modalForm')}"
                                     oncomplete="PF('dialog').show();">
                        <f:setPropertyActionListener 
                            value="#{client}" 
                            target="#{clientsBacking.selectedUser}"/>  
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>

        <!-- Modal window to edit client -->
        <p:dialog header="#{msgs.EditRecord}" 
                  widgetVar="dialog" modal="true" 
                  resizable="false" fitViewport="true" 
                  responsive="true" closeOnEscape="true">
            <h:form id="modalForm">

                <p:panelGrid columns="2" styleClass="dialog-form">

                    <!-- Email -->
                    <p:column>#{msgs.Email}</p:column>
                    <p:column>
                        <p:inputText value="#{clientsBacking.selectedUser.email}"
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage_Email}"
                                     validator="#{clientsBacking.validateEmail}">
                            <!-- Validator validates it is unique and corresponds to a regex -->
                            <f:validateLength maximum="120"/>
                            <f:attribute name="userId" value="#{clientsBacking.selectedUser.userId}"/>
                        </p:inputText>

                    </p:column>

                    <!-- Title -->
                    <p:column>#{msgs.Title}</p:column>
                    <p:column>
                        <p:selectOneMenu value="#{clientsBacking.selectedUser.title}">                                
                            <f:selectItem itemLabel="Mr." itemValue="Mr."/>
                            <f:selectItem itemLabel="Miss." itemValue="Miss."/>
                            <f:selectItem itemLabel="Mrs." itemValue="Mrs."/>
                            <f:selectItem itemLabel="Ms." itemValue="Ms."/>
                            <f:selectItem itemLabel="Mx." itemValue="Mx."/>
                        </p:selectOneMenu>
                    </p:column>

                    <!-- Lastname -->
                    <p:column>#{msgs.Lastname}</p:column>
                    <p:column>
                        <p:inputText value="#{clientsBacking.selectedUser.lastname}"
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage_Lastname}">
                            <f:validateLength maximum="60"/> 
                        </p:inputText>
                    </p:column>

                    <!-- Firstname -->
                    <p:column>#{msgs.Firstname}</p:column>
                    <p:column>
                        <p:inputText value="#{clientsBacking.selectedUser.firstname}"
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage_Firstname}">
                            <f:validateLength maximum="60"/>  
                        </p:inputText>
                    </p:column>

                    <!-- Address -->
                    <p:column>#{msgs.Address1}</p:column>
                    <p:column headerText="#{msgs.Address1}">
                        <p:inputText value="#{clientsBacking.selectedUser.address1}"
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage_Address}">
                            <f:validateLength maximum="300"/>  
                        </p:inputText>
                    </p:column>

                    <!-- Second Address -->
                    <p:column>#{msgs.Address2}</p:column>
                    <p:column headerText="#{msgs.Address2}">
                        <p:inputText value="#{clientsBacking.selectedUser.address2}"> 
                            <f:validateLength maximum="300"/>  
                        </p:inputText>
                    </p:column>

                    <!-- Postal Code -->
                    <p:column>#{msgs.PostalCode}</p:column>
                    <p:column headerText="#{msgs.PostalCode}">
                        <p:inputText value="#{clientsBacking.selectedUser.postalcode}"
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage_PostalCode}">
                            <f:converter converterId="removeWhiteSpaceConverter"/>
                            <f:validateRegex pattern="[a-zA-Z][0-9][a-zA-Z][0-9][a-zA-Z][0-9]"/>
                        </p:inputText>
                    </p:column>

                    <!-- Area -->
                    <p:column>#{msgs.Region}</p:column>
                    <p:column headerText="#{msgs.Region}">
                        <b:selectOneMenu
                            value="#{clientsBacking.selectedUser.province}" 
                            required="true">
                            <f:selectItem itemLabel="#{msgs.Select}"/>
                            <f:selectItem itemLabel="#{msgs.AB}" itemValue="AB"/>
                            <f:selectItem itemLabel="#{msgs.BC}" itemValue="BC"/>
                            <f:selectItem itemLabel="#{msgs.MB}" itemValue="MB"/>
                            <f:selectItem itemLabel="#{msgs.NB}" itemValue="NB"/>
                            <f:selectItem itemLabel="#{msgs.NL}" itemValue="NL"/>
                            <f:selectItem itemLabel="#{msgs.NS}" itemValue="NS"/>
                            <f:selectItem itemLabel="#{msgs.NT}" itemValue="NT"/>
                            <f:selectItem itemLabel="#{msgs.NU}" itemValue="NU"/>
                            <f:selectItem itemLabel="#{msgs.ON}" itemValue="ON"/>
                            <f:selectItem itemLabel="#{msgs.PE}" itemValue="PE"/>
                            <f:selectItem itemLabel="#{msgs.QC}" itemValue="QC"/>
                            <f:selectItem itemLabel="#{msgs.SK}" itemValue="SK"/>
                            <f:selectItem itemLabel="#{msgs.YT}" itemValue="YT"/>
                        </b:selectOneMenu>
                    </p:column>

                    <!-- City -->
                    <p:column>#{msgs.City}</p:column>
                    <p:column>
                        <p:inputText value="#{clientsBacking.selectedUser.city}"
                                     required="true"
                                     requiredMessage="#{msgs.RequiredMessage_City}">
                            <f:validateLength maximum="60"/>  
                        </p:inputText>

                    </p:column>

                    <!-- Country -->
                    <p:column>#{msgs.Country}</p:column>
                    <p:column>
                        <h:outputText value="#{clientsBacking.selectedUser.country}"/>
                    </p:column>

                    <!-- Homephone -->
                    <p:column>#{msgs.Phone}</p:column>
                    <p:column>
                        <p:inputText value="#{clientsBacking.selectedUser.homephone}"> 
                            <f:converter converterId="phoneNumberConverter"/>
                            <f:validateLength minimum="10" maximum="20"/>
                        </p:inputText>
                    </p:column>

                    <!-- Cellphone -->
                    <p:column>#{msgs.Cellphone}</p:column>
                    <p:column>
                        <p:inputText value="#{clientsBacking.selectedUser.cellphone}"> 
                            <f:converter converterId="phoneNumberConverter"/>
                            <f:validateLength minimum="10" maximum="20"/>
                        </p:inputText>
                    </p:column>

                    <!-- Company name -->
                    <p:column>#{msgs.Company}</p:column>
                    <p:column>
                        <p:inputText value="#{clientsBacking.selectedUser.companyname}"/>
                    </p:column>

                    <!-- Manager -->
                    <p:column>#{msgs.Manager}</p:column>
                    <p:column sortBy="#{clientsBacking.selectedUser.credentials.manager}">
                        <p:toggleSwitch value="#{clientsBacking.selectedUser.credentials.manager}"/>
                    </p:column>

                    <!-- Save changes button -->
                    <p:commandButton value="#{msgs.SaveChanges}" 
                                     action="#{clientsBacking.saveChanges}" 
                                     ajax="false" update="growlMsg"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </div>
</ui:composition>