<!-- Authors: Michael, Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <b:container>
        <p:panelGrid columns="3" styleClass="content-center manager-header" 
                     style="font-size: 32px; width: 100%; height: 50vh; table-layout: fixed">
            <p:row>
                <p:link outcome="reports">
                    #{msgs.Reports}
                </p:link>
            </p:row>
            <p:row>
                <p:link outcome="sales">
                    #{msgs.Sales}
                </p:link>
            </p:row>
            <p:row>
                <p:link outcome="inventory">
                    #{msgs.Inventory}
                </p:link>
            </p:row>
            <p:row><p:link outcome="clients">
                    #{msgs.Clients}
                </p:link>
            </p:row>
            <p:row><p:link outcome="orders">
                    #{msgs.Orders}
                </p:link>
            </p:row>
            <p:row>
                <p:link outcome="reviews">
                    #{msgs.Reviews}
                </p:link>
            </p:row>
            <p:row>
                <p:link outcome="surveys">             
                    #{msgs.Surveys}
                </p:link>
            </p:row>
            <p:row>
                <p:link outcome="ads">             
                    #{msgs.Ads}
                </p:link>
            </p:row>
            <p:row>
                <p:link outcome="rss">             
                    #{msgs.RssFeed}
                </p:link>
            </p:row>
        </p:panelGrid>
    </b:container>
</ui:composition>