<!-- Authors: Michael, Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <!-- AUTHOR: Michael -->
    <h:outputStylesheet library="css" name="newBookStyles.css"/>
    <h1 class="center">#{msgs.InventoryManagement}</h1>
    <br/>
    <div style="text-align: center">
        <p:commandButton value="#{msgs.addNewBook}" process="@this" action="toNewBook" styleClass="ui-priority-primary inventory-create-button"/>
        <p:commandButton value="#{msgs.addNewAuthor}" process="@this" action="toNewAuthor" styleClass="ui-priority-primary inventory-create-button"/>
        <p:commandButton value="#{msgs.addNewPublisher}" process="@this" action="toNewPublisher" styleClass="ui-priority-primary inventory-create-button"/>
        <p:commandButton value="#{msgs.addNewGenre}" process="@this" action="toNewGenre" styleClass="ui-priority-primary inventory-create-button"/>
        <p:commandButton value="#{msgs.addNewFormat}" process="@this" action="toNewFormat" styleClass="ui-priority-primary inventory-create-button"/><br/>
        <h:inputHidden id="create"/>
        <h4><h:message for="create"/></h4><br/>
    </div>

    <div class="content-center" style="width: 95%">
        <h:form id="form">
            <p:dataTable id="books" var="book" value="#{inventoryBacking.allBooks}" editable="true" style="margin-bottom:20px"
                         styleClass="original-ui-widget-content"
                         paginator="true"
                         paginatorAlwaysVisible="false"
                         rows="10"
                         widgetVar="bookWidget"
                         emptyMessage="#{msgs.NoBookFoundMessage}" 
                         filteredValue="#{inventoryBacking.filteredBooks}"
                         globalFilterFunction="#{inventoryBacking.bookGlobalFilterFunction}">

                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="#{msgs.Search}:"/>
                        <p:inputText id="globalFilter" onkeyup="PF('bookWidget').filter()" style="width:150px" placeholder="#{msgs.EnterKeyword}"/>
                    </p:outputPanel>
                    <p>Please note that not all fields are visible in this table. You can view the rest of the fields while editing.</p>
                    <p:commandButton value="#{msgs.CheckAll}" action="#{inventoryBacking.checkAllCheckboxes()}" update="@form:books"/>
                    <p:commandButton value="#{msgs.UncheckAll}" action="#{inventoryBacking.uncheckAllCheckboxes()}" update="@form:books"/>
                </f:facet>

                <p:ajax event="rowEdit" listener="#{booksEditView.onRowEdit}" update="growlMsg"/>
                <p:ajax event="rowEditCancel" listener="#{booksEditView.onRowCancel}" update="growlMsg"/>

                <p:column headerText="#{msgs.CreateBooksTitle_isbn}" style="width: 8%">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_isbn}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.isbn}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.isbn}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_cover}">
                    <p:graphicImage name="#{bookActionBean.getCover(book.book.isbn)}" style="width: 90%"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_title}" style="width: 10%">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_title}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.title}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.title}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_Authors}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_Authors}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.authors}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{inventoryBacking.getStringListOfAuthors(book.authors)}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_Genres}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_Genres}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.genres}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{inventoryBacking.getStringListOfGenres(book.genres)}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_publishers}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_publishers}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.publisher}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.publisherId.name}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_pubDate}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_pubDate}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.pubDate}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.pubDate}">
                        <f:convertDateTime pattern="MMM dd, YYYY"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_wholesalePrice}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_wholesalePrice}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.wholesalePrice}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.wholesalePrice}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_listPrice}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_listPrice}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.listPrice}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.listPrice}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_salePrice}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_salePrice}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.salePrice}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.salePrice}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_minAge}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_minAge}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.minAge}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.minAge}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_maxAge}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_maxAge}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.maxAge}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.book.maxAge == null ? 'None' : book.book.maxAge}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_removed}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_removed}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.removed}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <p:toggleSwitch value="#{book.book.removed}" disabled="true"/>
                </p:column>

                <p:column headerText="#{msgs.TotalSales}">
                    <f:facet name="header">
                        <p>#{msgs.TotalSales}</p>
                        <p:selectBooleanCheckbox value="#{inventorySearchBacking.totalSales}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{inventoryBacking.getTotalSalesOfABook(book.book.isbn) == null ? 0 : inventoryBacking.getTotalSalesOfABook(book.book.isbn)}"/>
                </p:column>

                <p:column headerText="#{msgs.Edit}">
                    <p:commandButton icon="pi pi-pencil" 
                                     action="#{inventoryBacking.fillSelectedBookLists()}"
                                     update="@(#bookEditForm)" 
                                     oncomplete="PF('dialog').show()">
                        <f:setPropertyActionListener
                            value="#{book}"
                            target="#{inventoryBacking.selectedBook}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
    </div>

    <!-- EDIT DIALOG -->
    <p:dialog header="#{msgs.EditRecord}" widgetVar="dialog" 
              modal="true" resizable="false" fitViewport="true" 
              responsive="true" closeOnEscape="true" width="60%">
        <h:form id="bookEditForm" enctype="multipart/form-data" style="max-height: 800px">
            <!-- BOOK -->
            <p:panel>
                <!-- The following four hidden inputs make cross-field validation possible.
                     They are bound to their fields and to the validator that handles them.
                     Later, using ajax, they are validated in real time!                    -->
                <h:inputHidden value="true" id="listValidator">
                    <f:validator validatorId="listPriceValidator"/>
                    <f:attribute name="wholesale" value="#{wholesale}"/>
                    <f:attribute name="list" value="#{list}"/>
                </h:inputHidden>

                <h:inputHidden value="true" id="saleValidator">
                    <f:validator validatorId="salePriceValidator"/>
                    <f:attribute name="wholesale" value="#{wholesale}"/>
                    <f:attribute name="list" value="#{list}"/>
                    <f:attribute name="sale" value="#{sale}"/>
                </h:inputHidden>

                <h:inputHidden value="true" id="ageRange">
                    <f:validator validatorId="ageRangeValidator"/>
                    <f:attribute name="minAge" value="#{minAge}"/>
                    <f:attribute name="maxAge" value="#{maxAge}"/>
                </h:inputHidden>

                <h:panelGrid columns="3">
                    <p:outputLabel value="#{msgs.CreateBooksLabel_isbn}"/>
                    <p:outputLabel value="#{inventoryBacking.selectedBook.book.isbn}"/>
                    <h:message id="isbnMessage" for="newIsbn"/>

                    <p:outputLabel for="newCoverImage" value="#{msgs.CreateBooksLabel_CoverImage}"/>
                    <p:graphicImage name="#{bookActionBean.getCover(inventoryBacking.selectedBook.book.isbn)}" style="height: 70%"/>
                    <p:fileUpload id="newCoverImage" label="#{msgs.CreateBooksTitle_NewCoverImage}" listener="#{inventoryBacking.setImage}" style="display: inline-block"
                                  invalidSizeMessage="#{msgs.ImageSizeLimitError}" skinSimple="true" auto="true" accept="image/jpeg" widgetVar="newCoverImage"
                                  validator="imageValidator"/>

                    <p:outputLabel for="newTitle" value="#{msgs.CreateBooksLabel_title}"/>
                    <p:inputText id="newTitle" value="#{inventoryBacking.selectedBook.book.title}" required="true" maxlength="260" 
                                 requiredMessage="#{msgs.CreateBooksRequiredMessage_title}">
                        <f:ajax event="blur" render="titleMessage"/>
                    </p:inputText>
                    <h:message id="titleMessage" for="newTitle"/>

                    <p:outputLabel for="newPubDate" value="#{msgs.CreateBooksLabel_pubDate}"/>
                    <p:datePicker id="newPubDate" pattern="yyyy/MM/dd" value="#{inventoryBacking.selectedBook.book.pubDate}" required="true" maxdate="#{inventoryBacking.selectedBook.book.acquiredStamp}"
                                  requiredMessage="#{msgs.CreateBooksRequiredMessage_pubDate}">
                        <f:ajax event="blur" render="pubDateMessage"/>
                    </p:datePicker>
                    <h:message id="pubDateMessage" for="newPubDate"/>

                    <p:outputLabel for="newNumPages" value="#{msgs.CreateBooksLabel_numPages}"/>
                    <p:inputNumber id="newNumPages" value="#{inventoryBacking.selectedBookNumPages}" required="true" decimalPlaces="0" minValue="0"
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_numPages}">
                        <f:ajax event="blur" render="numPagesMessage"/>
                    </p:inputNumber>
                    <h:message id="numPagesMessage" for="newNumPages"/>

                    <p:outputLabel for="newDescription" value="#{msgs.CreateBooksLabel_description}"/>
                    <p:inputTextarea id="newDescription" value="#{inventoryBacking.selectedBook.book.description}" required="true" autoResize="false" style="width: 350px" 
                                     requiredMessage="#{msgs.CreateBooksRequiredMessage_description}">
                        <f:ajax event="blur" render="descriptionMessage"/>
                    </p:inputTextarea>
                    <h:message id="descriptionMessage" for="newDescription"/>

                    <p:outputLabel for="newWholesalePrice" value="#{msgs.CreateBooksLabel_wholesalePrice}"/>
                    <p:inputNumber id="newWholesalePrice" value="#{inventoryBacking.selectedBook.book.wholesalePrice}" required="true" binding="#{wholesale}" minValue="0" maxValue="9999.99" 
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_wholesalePrice}">
                        <f:ajax event="blur" render="wholesalePriceMessage"/>
                        <f:ajax event="blur" execute="listValidator newWholesalePrice newListPrice" render="listValidatorMessage"/>
                        <f:ajax event="blur" execute="saleValidator newWholesalePrice newListPrice newSalePrice" render="salePriceMessage"/>
                    </p:inputNumber>
                    <h:message id="wholesalePriceMessage" for="newWholesalePrice"/>

                    <p:outputLabel for="newListPrice" value="#{msgs.CreateBooksLabel_listPrice}"/>
                    <p:inputNumber id="newListPrice" value="#{inventoryBacking.selectedBook.book.listPrice}" required="true" binding="#{list}"  minValue="0" maxValue="9999.99" 
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_listPrice}">
                        <f:ajax event="blur" render="listPriceMessage"/>
                        <f:ajax event="blur" execute="listValidator newWholesalePrice newListPrice" render="listValidatorMessage"/>
                        <f:ajax event="blur" execute="saleValidator newWholesalePrice newListPrice newSalePrice" render="salePriceMessage"/>
                    </p:inputNumber>
                    <h:message id="listPriceMessage" for="newListPrice"/>

                    <p:outputLabel for="newSalePrice" value="#{msgs.CreateBooksLabel_salePrice}"/>
                    <p:inputNumber id="newSalePrice" value="#{inventoryBacking.selectedBook.book.salePrice}" required="false" binding="#{sale}" minValue="0" maxValue="9999.99">
                        <f:ajax event="blur" execute="saleValidator newWholesalePrice newListPrice newSalePrice" render="salePriceMessage"/>
                    </p:inputNumber>
                    <h:message id="salePriceMessage" for="saleValidator"/>

                    <p:outputLabel for="newMinAge" value="#{msgs.CreateBooksLabel_minAge}"/>
                    <p:inputNumber id="newMinAge" value="#{inventoryBacking.selectedBookMinAge}" required="true" binding="#{minAge}" decimalPlaces="0" minValue="0" maxValue="100"
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_minAge}">
                        <f:ajax event="blur" render="minAgeMessage"/>
                        <f:ajax event="blur" execute="ageRange newMinAge newMaxAge" render="ageRangeMessage"/>
                    </p:inputNumber>
                    <h:message id="minAgeMessage" for="newMinAge"/>

                    <p:outputLabel for="newMaxAge" value="#{msgs.CreateBooksLabel_maxAge}"/>
                    <p:inputNumber id="newMaxAge" value="#{inventoryBacking.selectedBook.book.maxAge}" required="false" binding="#{maxAge}" decimalPlaces="0">
                        <f:ajax event="blur" execute="ageRange newMinAge newMaxAge" render="ageRangeMessage"/>
                    </p:inputNumber>
                    <h:message id="ageRangeMessage" for="ageRange"/>

                    <p:outputLabel for="newAcquiredStamp" value="#{msgs.CreateBooksLabel_acquiredStamp}"/>
                    <p:datePicker id="newAcquiredStamp" pattern="yyyy/MM/dd" value="#{inventoryBacking.selectedBook.book.acquiredStamp}" required="true" 
                                  maxdate="#{inventoryBacking.today}" requiredMessage="#{msgs.CreateBooksRequiredMessage_acquiredStamp}">
                        <f:ajax event="blur" render="AcquiredStampMessage"/>
                    </p:datePicker>
                    <h:message id="AcquiredStampMessage" for="newAcquiredStamp"/>

                    <p:outputLabel for="newRemoved" value="#{msgs.CreateBooksLabel_removed}"/>
                    <p:toggleSwitch id="newRemoved" value="#{inventoryBacking.selectedBook.book.removed}"/>
                </h:panelGrid><br/>
                <p><h:message id="listValidatorMessage" for="listValidator"/></p>
            </p:panel><hr/>

            <!-- AUTHOR -->
            <p:panel id="authorPanel">
                <p:outputLabel value="#{msgs.CreateBooksLabel_Authors}"/>
                <ui:repeat value="#{inventoryBacking.selectedBookAuthors}" var="currentAuthor">
                    <b:selectOneMenu value="#{currentAuthor.author}">
                        <f:selectItems var="author"
                                       value="#{inventoryBacking.allAuthors}"
                                       itemLabel="#{author.lastname}#{not empty author.lastname ? ',' : ''} #{author.firstname}" 
                                       itemValue="#{author}"/>
                    </b:selectOneMenu>
                    <p:commandButton value="#{msgs.RemoveButton}" action="#{inventoryBacking.removeAuthorFromSelectedList(currentAuthor)}" 
                                     process="@parent:@parent" update="@parent:@parent" rendered="#{inventoryBacking.selectedBookAuthors.size() gt 1}" styleClass="remove-button"/>
                </ui:repeat>
                <p:commandButton value="#{msgs.CreateBooksButton_AuthorAdd}" action="#{inventoryBacking.addAuthorToSelectedList()}" process="@parent" update="@parent" styleClass="margin-bottom-1_5"/>
            </p:panel><hr/>

            <!-- PUBLISHER -->
            <p:panel>
                <p:outputLabel value="#{msgs.CreateBooksLabel_Publisher}"/>
                <b:selectOneMenu value="#{inventoryBacking.selectedBook.book.publisherId}">
                    <f:selectItems var="publisher"
                                   value="#{inventoryBacking.allPublishers}" 
                                   itemLabel="#{publisher.name}" 
                                   itemValue="#{publisher}"/>
                </b:selectOneMenu>
            </p:panel><hr/>

            <!-- GENRE -->                
            <p:panel>
                <p:outputLabel value="#{msgs.CreateBooksLabel_genres}"/>
                <ui:repeat value="#{inventoryBacking.selectedBookGenres}" var="currentGenre">
                    <b:selectOneMenu value="#{currentGenre.genre}">
                        <f:selectItems var="genre"
                                       value="#{inventoryBacking.allGenres}"
                                       itemLabel="#{genre.name}"
                                       itemValue="#{genre}"/>
                    </b:selectOneMenu>
                    <p:commandButton value="#{msgs.RemoveButton}" action="#{inventoryBacking.removeGenreFromSelectedList(currentGenre)}" 
                                     process="@parent:@parent" update="@parent:@parent" rendered="#{inventoryBacking.selectedBookGenres.size() gt 1}" styleClass="remove-button"/>
                </ui:repeat>
                <p:commandButton value="#{msgs.CreateBooksButton_GenreAdd}" action="#{inventoryBacking.addGenreToSelectedList()}" process="@parent" update="@parent" styleClass="margin-bottom-1_5"/>
            </p:panel><hr/>

            <!-- FORMAT -->
            <p:panel>
                <p:outputLabel value="#{msgs.CreateBooksLabel_Formats}"/>
                <ui:repeat value="#{inventoryBacking.selectedBookFormats}" var="currentFormat">
                    <b:selectOneMenu value="#{currentFormat.format}">
                        <f:selectItems var="format"
                                       value="#{inventoryBacking.allFormats}"
                                       itemLabel="#{format.extension} - #{format.name}" 
                                       itemValue="#{format}"/>
                    </b:selectOneMenu>
                    <p:commandButton value="#{msgs.RemoveButton}" action="#{inventoryBacking.removeFormatFromSelectedList(currentFormat)}" 
                                     process="@parent:@parent" update="@parent:@parent" rendered="#{inventoryBacking.selectedBookFormats.size() gt 1}" styleClass="remove-button"/>
                </ui:repeat>
                <p:commandButton value="#{msgs.CreateBooksButton_FormatAdd}" action="#{inventoryBacking.addFormatToSelectedList()}" process="@parent" update="@parent" styleClass="margin-bottom-1_5"/>
            </p:panel><hr/>

            <h:message id="dupEntityMessage" for="dupEntityValidator"/>
            <p:commandButton value="#{msgs.SaveChanges}" 
                             action="#{inventoryBacking.saveChanges}"
                             oncomplete="if (args &amp;&amp; !args.validationFailed) location.reload()"
                             styleClass="margin-bottom-1_5"/>
        </h:form>
    </p:dialog>
</ui:composition>