<!-- Authors: Michael, Timmy, Camillia -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h1 class="center">#{msgs.OrdersManagement}</h1>
    <b:container>
        <h:form>
            <p:dataTable id="ordersTable" 
                         var="order" 
                         value="#{ordersBacking.orderList}" 
                         editable="true" 
                         paginator="true" 
                         rows="10"
                         tableStyle="table-layout: auto"
                         widgetVar="ordersTable"
                         filteredValue="#{ordersBacking.filteredOrders}"
                         globalFilterFunction="#{ordersBacking.globalFitlerFunction}">

                <f:facet name="header">
                    <div style="margin-bottom: 5px">
                        <h:outputText value="#{msgs.Search}: "/>
                        <p:inputText id="globalFilter" 
                                     onkeyup="PF('ordersTable').filter()" 
                                     placeholder="#{msgs.EnterKeyword}"/>
                    </div>
                    <p:commandButton value="Select all" 
                                     action="#{ordersBacking.checkAllCheckboxes()}" 
                                     update="@form:ordersTable"/>
                    <p:commandButton value="Uncheck all" 
                                     action="#{ordersBacking.uncheckAllCheckboxes()}"  
                                     update="@form:ordersTable"/>
                </f:facet>

                <!-- Order id -->
                <p:column headerText="#{msgs.OrderId}">
                    <f:facet name="header">
                        <p>#{msgs.OrderId}</p>
                        <p:selectBooleanCheckbox 
                            value="#{ordersSearchBacking.orderId}"  
                            onchange="PF('ordersTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{order.orderId}"/>
                </p:column>

                <!-- UserID -->
                <p:column headerText="#{msgs.UserId}">
                    <f:facet name="header">
                        <p>#{msgs.UserId}</p>
                        <p:selectBooleanCheckbox 
                            value="#{ordersSearchBacking.userId}" 
                            onchange="PF('ordersTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{order.userId}"/>
                </p:column>

                <!-- Purchase date -->
                <p:column headerText="#{msgs.PurchaseDate}" 
                          sortBy="#{ordersSearchBacking.purchaseDate}">
                    <f:facet name="header">
                        <p>#{msgs.PurchaseDate}</p>
                        <p:selectBooleanCheckbox 
                            value="#{ordersSearchBacking.purchaseDate}" 
                            onchange="PF('ordersTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{order.purchaseDate}">
                        <f:convertDateTime pattern="YYYY/MM/dd HH:mm:ss z"/>
                    </h:outputText>
                </p:column>

                <!-- GST -->
                <p:column headerText="#{msgs.GST}">
                    <f:facet name="header">
                        <p>#{msgs.GST}</p>
                        <p:selectBooleanCheckbox 
                            value="#{ordersSearchBacking.gst}" 
                            onchange="PF('ordersTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{order.gst}">
                        <f:convertNumber pattern="#0.000"/>
                    </h:outputText>

                </p:column>

                <!-- HST -->
                <p:column headerText="#{msgs.HST}">
                    <f:facet name="header">
                        <p>#{msgs.HST}</p>
                        <p:selectBooleanCheckbox 
                            value="#{ordersSearchBacking.hst}" 
                            onchange="PF('ordersTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{order.hst}"/>
                </p:column>

                <!-- PST -->
                <p:column headerText="#{msgs.PST}">
                    <f:facet name="header">
                        <p>#{msgs.PST}</p>
                        <p:selectBooleanCheckbox value="#{ordersSearchBacking.pst}" 
                                                 onchange="PF('ordersTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{order.pst}"/>
                </p:column>

                <p:column headerText="#{msgs.Edit}">
                    <p:commandButton icon="pi pi-pencil" 
                                     update="@(#modalForm)" 
                                     oncomplete="PF('dialog').show();">
                        <f:setPropertyActionListener 
                            value="#{order}"            
                            target="#{ordersBacking.selectedOrder}"/>  
                    </p:commandButton>
                </p:column>

                <!-- Removed -->
                <p:column headerText="#{msgs.Removed}" sortBy="#{order.orderRemove}">
                    <p:toggleSwitch value="#{order.orderRemove}">
                        <p:ajax 
                            listener="#{ordersBacking.switchRemovedEntireOrder(order)}" 
                            update="growlMsg"/>
                    </p:toggleSwitch>
                </p:column>
            </p:dataTable>
        </h:form>

        <!-- Modal window to edit orderitems -->
        <p:dialog header="#{msgs.EditRecord}" 
                  widgetVar="dialog" modal="true" resizable="false" 
                  fitViewport="true" responsive="true" closeOnEscape="true">
            <h:form id="modalForm">
                <p:dataTable id="orderitemsTable" 
                             var="orderitem" 
                             value="#{ordersBacking.selectedOrder.orderitems}" 
                             rows="10"
                             tableStyle="table-layout: auto"
                             widgetVar="orderitemsTable">

                    <!-- Order item ID -->
                    <p:column headerText="#{msgs.OrderitemId}">
                        <h:outputText value="#{orderitem.orderitemsId}"/>
                    </p:column>


                    <!-- Isbn -->
                    <p:column headerText="#{msgs.ISBN}">
                        <p:link 
                            outcome="#{bookActionBean.goToBookPage(orderitem.isbn.isbn)}" 
                            value="#{orderitem.isbn.isbn}"/>
                    </p:column>

                    <!-- Price -->
                    <p:column headerText="#{msgs.Price}">
                        <h:outputText value="#{orderitem.price}">
                            <f:convertNumber type="currency"/>
                        </h:outputText>
                    </p:column>

                    <!-- Removed -->
                    <p:column headerText="#{msgs.Removed}" sortBy="#{orderitem.removed}">
                        <p:toggleSwitch value="#{orderitem.removed}"/>
                    </p:column>
                </p:dataTable>
                <p:commandButton value="#{msgs.SaveChanges}" 
                                 action="#{ordersBacking.saveOrderitemChanges}" 
                                 ajax="false" update="growlMsg"/>
            </h:form>
        </p:dialog>
    </b:container>
</ui:composition>