<!-- Authors: Michael, Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:b="http://bootsfaces.net/ui">

    <b:form styleClass="sticky">
        <h1 style="margin-left: 15px" class="sticky-item">Reports</h1>
        <b:tabView tabPosition="left" styleClass="box-border">
            <b:tab title="Top Sellers">
                <ui:include src="/WEB-INF/manager/reports/topSellers.xhtml"/>
            </b:tab>
            <b:tab title="Top Clients">
                <ui:include src="/WEB-INF/manager/reports/topClients.xhtml"/>
            </b:tab>
            <b:tab title="Zero Sales">                
                <ui:include src="/WEB-INF/manager/reports/zeroSales.xhtml"/>
            </b:tab>
            <b:tab title="Total Sales">
                <ui:include src="/WEB-INF/manager/reports/totalSales.xhtml"/>
            </b:tab>
            <b:tab title="Sales By Author">
                <ui:include src="/WEB-INF/manager/reports/salesByAuthor.xhtml"/>
            </b:tab>
            <b:tab title="Sales By Client">
                <ui:include src="/WEB-INF/manager/reports/salesByClient.xhtml"/>
            </b:tab>
            <b:tab title="Sales By Publisher">
                <ui:include src="/WEB-INF/manager/reports/salesByPublisher.xhtml"/>
            </b:tab>
            <b:tab title="Stock Report">
                <ui:include src="/WEB-INF/manager/reports/stock.xhtml"/>
            </b:tab>
        </b:tabView>
    </b:form>

</ui:composition>