<!-- Authors: Michael, Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <b:container>
        <h1 class="center">#{msgs.ReviewsManagement}</h1>
        <h:form>
            <h2 class="center">#{msgs.ReviewPending}</h2>
            <p:dataTable id="pendingReviewsTable" var="pendingReview" 
                         value="#{reviewsManagementBacking.pendingReviews}" 
                         editable="true" paginator="true" rows="10"
                         tableStyle="table-layout: auto"
                         widgetVar="pendingReviewsTable"
                         filteredValue="#{reviewsManagementBacking.filteredPendingReviews}"
                         globalFilterFunction="#{reviewsManagementBacking.globalFitlerFunction}">
                <f:facet name="header">
                    <div style="margin-bottom: 5px">
                        <h:outputText value="#{msgs.Search}: "/>
                        <p:inputText id="globalFilter" onkeyup="PF('pendingReviewsTable').filter()" placeholder="#{msgs.EnterKeyword}"/>
                    </div>
                    <p:commandButton value="#{msgs.CheckAll}" action="#{rssManagementBacking.checkAllCheckboxes}" update="@form:pendingReviewsTable"/>
                    <p:commandButton value="#{msgs.UncheckAll}" action="#{rssManagementBacking.uncheckAllCheckboxes}"  update="@form:pendingReviewsTable"/>
                </f:facet>

                <p:column headerText="#{msgs.ReviewId}" sortBy="#{pendingReview.reviewId}">
                    <f:facet name="header">
                        <p>#{msgs.ReviewId}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.reviewId}" onchange="PF('form:pendingReviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{pendingReview.reviewId}"/>
                </p:column>

                <p:column headerText="#{msgs.ISBN}" sortBy="#{pendingReview.isbn.isbn}">
                    <f:facet name="header">
                        <p>#{msgs.ISBN}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.isbn}" onchange="PF('pendingReviewsTable').filter()"/>
                    </f:facet>
                    <p:link outcome="#{bookActionBean.goToBookPage(pendingReview.isbn.isbn)}" value="#{pendingReview.isbn.isbn}"/>
                </p:column>
                <p:column headerText="#{msgs.Postdate}" sortBy="#{pendingReview.postdate}">
                    <f:facet name="header">
                        <p>#{msgs.Postdate}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.postdate}" onchange="PF('pendingReviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{pendingReview.postdate}"/>
                </p:column>
                <p:column headerText="#{msgs.UserId}" sortBy="#{pendingReview.userId.userId}">
                    <f:facet name="header">
                        <p>#{msgs.UserId}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.userid}" onchange="PF('pendingReviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{pendingReview.userId.userId}"/>
                </p:column>
                <p:column headerText="#{msgs.Rating}" sortBy="#{pendingReview.rating}">
                    <f:facet name="header">
                        <p>#{msgs.Rating}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.rating}" onchange="PF('pendingReviewsTable').filter()"/>
                    </f:facet>
                    <p:rating value="#{pendingReview.rating}" disabled="true"/>
                </p:column>
                <p:column headerText="#{msgs.Test}">
                    <f:facet name="header">
                        <p>#{msgs.Text}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.text}" onchange="PF('pendingReviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{pendingReview.text}"/>
                </p:column>
                <p:column>
                    <p:commandButton oncomplete="PF('dialogApprove').show()" value="#{msgs.ReviewApproveMsg}">
                        <f:setPropertyActionListener value="#{pendingReview}"  
                                                     target="#{reviewsManagementBacking.selectedReview}"/>  
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <h2 class="center">#{msgs.ReviewAll}</h2>
            <p:dataTable id="reviewsTable" var="review" value="#{reviewsManagementBacking.allReviews}" 
                         editable="true" paginator="true" rows="10"
                         tableStyle="table-layout: auto"
                         widgetVar="reviewsTable"
                         filteredValue="#{reviewsManagementBacking.filteredAllReviews}"
                         globalFilterFunction="#{reviewsManagementBacking.globalFitlerFunction}">
                <f:facet name="header">
                    <div style="margin-bottom: 5px">
                        <h:outputText value="#{msgs.Search}: "/>
                        <p:inputText id="globalFilter" onkeyup="PF('reviewsTable').filter()" placeholder="#{msgs.EnterKeyword}"/>
                    </div>
                    <p:commandButton value="#{msgs.CheckAll}" action="#{rssManagementBacking.checkAllCheckboxes()}" update="@form:reviewsTable"/>
                    <p:commandButton value="#{msgs.UncheckAll}" action="#{rssManagementBacking.uncheckAllCheckboxes()}"  update="@form:reviewsTable"/>
                </f:facet>
                <p:column headerText="#{msgs.ReviewId}" sortBy="#{review.reviewId}">
                    <f:facet name="header">
                        <p>#{msgs.ReviewId}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.reviewId}" onchange="PF('reviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{review.reviewId}"/>
                </p:column>
                <p:column headerText="#{msgs.ISBN}" sortBy="#{review.isbn.isbn}">
                    <f:facet name="header">
                        <p>#{msgs.ISBN}</p>
                        <p:selectBooleanCheckbox 
                            value="#{reviewsSearchBacking.isbn}" 
                            onchange="PF('reviewsTable').filter()"/>
                    </f:facet>
                    <p:link outcome="#{bookActionBean.goToBookPage(review.isbn.isbn)}" value="#{review.isbn.isbn}"/>
                </p:column>
                <p:column headerText="#{msgs.Postdate}" sortBy="#{review.postdate}">
                    <f:facet name="header">
                        <p>#{msgs.Postdate}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.postdate}" onchange="PF('reviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{review.postdate}"/>
                </p:column>
                <p:column headerText="#{msgs.UserId}" sortBy="#{review.userId.userId}">
                    <f:facet name="header">
                        <p>#{msgs.UserId}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.userid}" onchange="PF('reviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{review.userId.userId}"/>
                </p:column>
                <p:column headerText="#{msgs.Rating}" sortBy="#{review.rating}">
                    <f:facet name="header">
                        <p>#{msgs.Rating}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.rating}" onchange="PF('reviewsTable').filter()"/>
                    </f:facet>
                    <p:rating value="#{review.rating}" disabled="true"/>
                </p:column>
                <p:column headerText="#{msgs.Text}">
                    <f:facet name="header">
                        <p>#{msgs.Text}</p>
                        <p:selectBooleanCheckbox value="#{reviewsSearchBacking.text}" onchange="PF('reviewsTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{review.text}"/>
                </p:column>
                <p:column headerText="Approved" sortBy="#{review.approved}">
                    <p:toggleSwitch value="#{review.approved}" disabled="true"/>
                </p:column>
                <p:column>
                    <p:commandButton oncomplete="PF('dialogApprove').show()" value="#{msgs.ReviewApproveMsg}" rendered="#{not review.approved}">
                        <f:setPropertyActionListener value="#{review}"  
                                                     target="#{reviewsManagementBacking.selectedReview}"/>  
                    </p:commandButton>
                    <p:commandButton oncomplete="PF('dialogNotApprove').show()" value="#{msgs.ReviewNotApproveMsg}" rendered="#{review.approved}">
                        <f:setPropertyActionListener value="#{review}"  
                                                     target="#{reviewsManagementBacking.selectedReview}"/>  
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="#{msgs.ReviewApproveMsg}?" widgetVar="dialogApprove" modal="true" resizable="false" fitViewport="true" responsive="true" closeOnEscape="true">
            <h:form id="approveForm">
                #{msgs.ReviewApproveConfirmation}
                <br/>
                <p:commandButton value="#{msgs.Yes}" action="#{reviewsManagementBacking.changeApprovedOfReview}" ajax="false"/>
                <p:commandButton value="#{msgs.No}" onclick="PF('dialogApprove').hide()"/>
            </h:form>
        </p:dialog>
        <p:dialog header="#{msgs.ReviewNotApproveMsg}?" widgetVar="dialogNotApprove" modal="true" resizable="false" fitViewport="true" responsive="true" closeOnEscape="true">
            <h:form id="notApproveForm">
                #{msgs.ReviewNotApproveConfirmation}
                <br/>
                <p:commandButton value="#{msgs.Yes}" action="#{reviewsManagementBacking.changeApprovedOfReview}" ajax="false"/>
                <p:commandButton value="#{msgs.No}" onclick="PF('dialogNotApprove').hide()"/>
            </h:form>
        </p:dialog>
    </b:container>

</ui:composition>