<!-- Authors: Michael, Timmy, Camillia -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h1 class="center">#{msgs.RssManagement}</h1>
    <b:container>
        <h1 class="center">#{msgs.AddNewRss}</h1>
        <p:panel>
            <!-- Create form -->
            <h:form>
                <p:panelGrid columns="2" styleClass="ui-noborder">
                    <p:column>
                        <h4>#{msgs.Url}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{newRssBacking.url}" id="url" 
                                     style="width: 300px" required="true"
                                     requiredMessage="#{msgs.RssRequired}"
                                     validatorMessage="#{msgs.RssInvalid}">
                            <f:validator validatorId="rssfeedValidator"/>
                            <!-- RSS will be validated -->
                        </p:inputText>
                        <h:message for="url" style="margin-left: 15px; color: red"/>
                    </p:column>
                    <p:column/>
                    <p:commandButton value="#{msgs.AddNewRss}" 
                                     action="#{newRssBacking.addNewRssfeed()}" 
                                     ajax="false"/>
                </p:panelGrid>
            </h:form>
        </p:panel>

        <!-- Data table -->
        <h1 class="center">#{msgs.EditRss}</h1>
        <h:form>
            <p:growl id="messages" showDetail="true"/>
            <p:dataTable id="rssTable" var="rssfeed" 
                         value="#{rssManagementBacking.rssfeeds}" 
                         editable="true" paginator="true" rows="10"
                         tableStyle="table-layout: auto"
                         widgetVar="rssTable"
                         filteredValue="#{rssManagementBacking.filteredRssfeeds}"
                         globalFilterFunction="#{rssManagementBacking.globalFitlerFunction}">
                <f:facet name="header">
                    <div style="margin-bottom: 5px">
                        <h:outputText value="#{msgs.Search}: "/>
                        <p:inputText id="globalFilter" 
                                     onkeyup="PF('rssTable').filter()" 
                                     placeholder="#{msgs.EnterKeyword}"/>
                    </div>
                    <p:commandButton value="#{msgs.CheckAll}" 
                                     action="#{rssManagementBacking.checkAllCheckboxes()}" 
                                     update="@form:rssTable"/>
                    <p:commandButton value="#{msgs.UncheckAll}" 
                                     action="#{rssManagementBacking.uncheckAllCheckboxes()}"  
                                     update="@form:rssTable"/>
                </f:facet>
                <p:column headerText="#{msgs.FeedId}" sortBy="#{rssfeed.feedId}">
                    <f:facet name="header">
                        <p>#{msgs.FeedId}</p>
                        <p:selectBooleanCheckbox value="#{rssSearchBacking.feedId}" 
                                                 onchange="PF('rssTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{rssfeed.feedId}"/>
                </p:column>
                <p:column headerText="#{msgs.Url}">
                    <f:facet name="header">
                        <p>#{msgs.Url}</p>
                        <p:selectBooleanCheckbox value="#{rssSearchBacking.url}" 
                                                 onchange="PF('rssTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{rssfeed.url}"/>
                </p:column>
                <p:column headerText="#{msgs.Active}" sortBy="#{rssfeed.active}">
                    <f:facet name="header">
                        <p>#{msgs.Active}</p>
                        <p:selectBooleanCheckbox value="#{rssSearchBacking.active}" 
                                                 onchange="PF('rssTable').filter()"/>
                    </f:facet>
                    <p:toggleSwitch value="#{rssfeed.active}" disabled="true"/>
                </p:column>
                <p:column headerText="#{msgs.Edit}">
                    <p:commandButton icon="pi pi-pencil" 
                                     update="@(#modalForm)" 
                                     action="#{rssManagementBacking.resetDialogForm('modalForm')}" 
                                     oncomplete="PF('dialog').show();">
                        <f:setPropertyActionListener 
                            value="#{rssfeed}"  
                            target="#{rssManagementBacking.selectedFeed}"/>  
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>

        <!-- Modal to edit record -->
        <p:dialog header="#{msgs.EditRecord}" widgetVar="dialog" 
                  modal="true" resizable="false" fitViewport="true" 
                  responsive="true" closeOnEscape="true">
            <h:form id="modalForm">
                <p:panelGrid columns="2" styleClass="dialog-form">
                    <p:column>
                        <h4>#{msgs.Url}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{rssManagementBacking.selectedFeed.url}" 
                                     id="url" required="true"
                                     requiredMessage="#{msgs.RssRequired}"
                                     validatorMessage="#{msgs.RssInvalid}">
                            <f:validator validatorId="rssfeedValidator"/>
                            <!-- RSS will be validated -->
                        </p:inputText>
                        <h:message for="url" style="margin-left: 15px; color: red"/>
                    </p:column>

                    <p:column>
                        <h4>#{msgs.Active}: </h4>
                    </p:column>
                    <p:column>
                        <p:toggleSwitch 
                            value="#{rssManagementBacking.selectedFeed.active}"/>
                    </p:column>
                </p:panelGrid>

                <p:commandButton value="#{msgs.SaveChanges}" 
                                 action="#{rssManagementBacking.saveChanges}" 
                                 ajax="false"/>
                <p:commandButton value="#{msgs.DeleteRecord}" 
                                 oncomplete="PF('dialogDelete').show();"/>

            </h:form>
        </p:dialog>

        <!-- Modal to confirm delete record -->
        <p:dialog header="#{msgs.DeleteRecord}?" 
                  widgetVar="dialogDelete" modal="true" 
                  resizable="false" fitViewport="true" responsive="true" 
                  closeOnEscape="true">
            <h:form id="deleteForm">
                #{msgs.DeleteRecordConfirmation}
                <br/>
                <p:commandButton value="#{msgs.Yes}" 
                                 action="#{rssManagementBacking.deleteRecord}" 
                                 ajax="false"/>
                <p:commandButton value="#{msgs.No}" 
                                 onclick="PF('dialogDelete').hide()"/>


                <p:commandButton value="#{msgs.SaveChanges}" 
                                 action="#{rssManagementBacking.saveChanges}" 
                                 ajax="false"/>
            </h:form>
        </p:dialog>
    </b:container>

</ui:composition>