<!-- Authors: Michael, Timmy -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <!-- AUTHOR: Michael -->
    <h1 class="center">#{msgs.SalesManagement}</h1>
    <br/>
    <b:container>
        <h:form id="form">
            <p:dataTable id="books" var="book" value="#{booksEditView.books}" editable="true" style="margin-bottom:20px"
                         paginator="true"
                         paginatorAlwaysVisible="false"
                         rows="10"
                         tableStyle="table-layout: auto"
                         widgetVar="bookWidget"
                         emptyMessage="#{msgs.NoBooksFound}"
                         filteredValue="#{salesBacking.filteredBooks}"
                         globalFilterFunction="#{salesBacking.bookGlobalFilterFunction}">

                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="#{msgs.Search}:"/>
                        <p:inputText id="globalFilter" onkeyup="PF('bookWidget').filter()" style="width:150px" placeholder="#{msgs.EnterKeyword}"/>
                    </p:outputPanel>
                    <br/>
                    <p:commandButton value="#{msgs.CheckAll}" action="#{salesBacking.checkAllCheckboxes()}" update="@form:books"/>
                    <p:commandButton value="#{msgs.UncheckAll}" action="#{salesBacking.uncheckAllCheckboxes()}" update="@form:books"/>
                </f:facet>

                <p:ajax event="rowEdit" listener="#{booksEditView.onRowEdit}" update="growlMsg"/>
                <p:ajax event="rowEditCancel" listener="#{booksEditView.onRowCancel}" update="growlMsg"/>

                <p:column headerText="#{msgs.CreateBooksTitle_isbn}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_isbn}</p>
                        <p:selectBooleanCheckbox value="#{salesSearchBacking.isbn}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.isbn}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_cover}">
                    <p:graphicImage name="#{bookActionBean.getCover(book.isbn)}" style="width: 90%"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_title}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_title}</p>
                        <p:selectBooleanCheckbox value="#{salesSearchBacking.title}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.title}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_wholesalePrice}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_wholesalePrice}</p>
                        <p:selectBooleanCheckbox value="#{salesSearchBacking.wholesalePrice}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.wholesalePrice}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_listPrice}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_listPrice}</p>
                        <p:selectBooleanCheckbox value="#{salesSearchBacking.listPrice}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <h:outputText value="#{book.listPrice}"/>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_salePrice}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_salePrice}</p>
                        <p:selectBooleanCheckbox value="#{salesSearchBacking.salePrice}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{book.salePrice}"/></f:facet>
                        <f:facet name="input">
                            <p:inputNumber value="#{book.salePrice}" binding="#{sale}" minValue="0" maxValue="9999.99" style="width:100%">
                                <f:validator validatorId="salePriceValidator"/>
                                <f:attribute name="wholesale" value="#{book.wholesalePrice}"/>
                                <f:attribute name="list" value="#{book.listPrice}"/>
                                <f:attribute name="sale" value="#{sale}"/>
                            </p:inputNumber>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column headerText="#{msgs.CreateBooksTitle_removed}">
                    <f:facet name="header">
                        <p>#{msgs.CreateBooksTitle_removed}</p>
                        <p:selectBooleanCheckbox value="#{salesSearchBacking.removed}" onchange="PF('bookWidget').filter()"/>
                    </f:facet>
                    <p:toggleSwitch value="#{book.removed}" disabled="true"/>
                </p:column>

                <p:column style="width:35px">
                    <p:rowEditor/>
                </p:column>
            </p:dataTable>
        </h:form>
    </b:container>
</ui:composition>