<!-- Authors: Michael, Timmy, Camillia -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h1 class="center">#{msgs.SurveyManagement}</h1>
    <b:container>

        <!-- Add a survey -->
        <h1 class="center">#{msgs.AddSurvey}</h1>
        <p:panel>
            <h:form>
                <p:panelGrid columns="2" styleClass="ui-noborder">
                    <p:column>
                        <h4>#{msgs.Question}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{newSurveyBacking.question}" 
                                     id="question" 
                                     style="width: 300px" 
                                     required="true" 
                                     requiredMessage="#{msgs.RequiredMessage}"/>
                        <h:message for="question" style="margin-left: 15px; color: red"/>
                    </p:column>

                    <p:column>
                        <h4>#{msgs.Answer1}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{newSurveyBacking.answer1}" 
                                     id="answer1" style="width: 300px" 
                                     required="true" 
                                     requiredMessage="#{msgs.RequiredMessage}"/>
                        <h:message for="answer1" style="margin-left: 15px; color: red"/>
                    </p:column>

                    <p:column>
                        <h4>#{msgs.Answer2}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{newSurveyBacking.answer2}" 
                                     id="answer2" 
                                     style="width: 300px" 
                                     required="true" 
                                     requiredMessage="#{msgs.RequiredMessage}"/>
                        <h:message for="answer2" style="margin-left: 15px; color: red"/>
                    </p:column>

                    <p:column>
                        <h4>#{msgs.Answer3}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{newSurveyBacking.answer3}" 
                                     id="answer3" 
                                     style="width: 300px"/>
                    </p:column>

                    <p:column>
                        <h4>#{msgs.Answer4}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{newSurveyBacking.answer4}" 
                                     id="answer4" 
                                     style="width: 300px"/>
                    </p:column>

                    <p:column/>
                    <p:commandButton value="#{msgs.AddNewSurvey}" 
                                     action="#{newSurveyBacking.addNewSurvey()}" 
                                     ajax="false"/>
                </p:panelGrid>
            </h:form>
        </p:panel>

        <!-- Survey data table -->
        <h1 class="center">#{msgs.EditSurveys}</h1>
        <h:form>
            <p:growl id="messages" showDetail="true"/>
            <p:dataTable id="surveyTable" var="survey" 
                         value="#{surveysManagementBacking.surveys}" 
                         editable="true" paginator="true" rows="4"
                         tableStyle="table-layout: auto"
                         widgetVar="surveysTable"
                         filteredValue="#{surveysManagementBacking.filteredSurveys}"
                         globalFilterFunction="#{surveysManagementBacking.globalFitlerFunction}">

                <f:facet name="header">
                    <div style="margin-bottom: 5px">
                        <h:outputText value="#{msgs.Search}: "/>
                        <p:inputText id="globalFilter" 
                                     onkeyup="PF('surveyTable').filter()" 
                                     placeholder="#{msgs.EnterKeyword}"/>
                    </div>
                    <p:commandButton value="#{msgs.CheckAll}" 
                                     action="#{surveysManagementBacking.checkAllCheckboxes()}" 
                                     update="@form:surveyTable"/>
                    <p:commandButton value="#{msgs.UncheckAll}" 
                                     action="#{surveysManagementBacking.uncheckAllCheckboxes()}"  
                                     update="@form:surveyTable"/>
                </f:facet>
                <p:column headerText="#{msgs.SurveyId}" sortBy="#{survey.surveyId}">
                    <f:facet name="header">
                        <p>#{msgs.SurveyId}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.surveyId}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{survey.surveyId}"/>
                </p:column>
                <p:column headerText="#{msgs.Question}">
                    <f:facet name="header">
                        <p>#{msgs.Question}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.question}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{survey.question}"/>

                </p:column>
                <p:column headerText="#{msgs.Answer1}">
                    <f:facet name="header">
                        <p>#{msgs.Answer1}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.answer1}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{survey.answer1}"/>
                </p:column>
                <p:column headerText="#{msgs.Answer2}">
                    <f:facet name="header">
                        <p>#{msgs.Answer2}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.answer2}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{survey.answer2}"/>
                </p:column>
                <p:column headerText="#{msgs.Answer3}">
                    <f:facet name="header">
                        <p>#{msgs.Answer3}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.answer3}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{survey.answer3}"/>
                </p:column>
                <p:column headerText="#{msgs.Answer4}">
                    <f:facet name="header">
                        <p>#{msgs.Answer4}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.answer4}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{survey.answer4}"/>

                </p:column>
                <p:column headerText="#{msgs.Vote1}">
                    <f:facet name="header">
                        <p>#{msgs.Vote1}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.vote1}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>

                    <h:outputText value="#{survey.vote1}"/>

                </p:column>
                <p:column headerText="#{msgs.Vote2}">
                    <f:facet name="header">
                        <p>#{msgs.Vote2}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.vote2}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <h:outputText value="#{survey.vote2}"/>

                </p:column>
                <p:column headerText="#{msgs.Vote3}">
                    <f:facet name="header">
                        <p>#{msgs.Vote3}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.vote3}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>

                    <h:outputText value="#{survey.vote3}"/>

                </p:column>
                <p:column headerText="#{msgs.Vote4}">
                    <f:facet name="header">
                        <p>#{msgs.Vote4}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.vote4}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>

                    <h:outputText value="#{survey.vote4}"/>

                </p:column>
                <p:column headerText="#{msgs.Active}" sortBy="#{survey.active}">
                    <f:facet name="header">
                        <p>#{msgs.Active}</p>
                        <p:selectBooleanCheckbox 
                            value="#{surveysSearchBacking.active}" 
                            onchange="PF('surveyTable').filter()"/>
                    </f:facet>
                    <p:toggleSwitch value="#{survey.active}" disabled="true">
                    </p:toggleSwitch>
                </p:column>

                <p:column headerText="#{msgs.Edit}">
                    <p:commandButton icon="pi pi-pencil" 
                                     update="@(#modalForm)" 
                                     action="#{surveysManagementBacking.resetDialogForm('modalForm')}" 
                                     oncomplete="PF('dialog').show();">
                        <f:setPropertyActionListener value="#{survey}"  
                                                     target="#{surveysManagementBacking.selectedSurvey}"/>  
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>

        <!-- Modal window to edit survey -->
        <p:dialog header="#{msgs.EditRecord}" 
                  widgetVar="dialog" modal="true" 
                  resizable="false" fitViewport="true" responsive="true" closeOnEscape="true">
            <h:form id="modalForm">
                <p:panelGrid columns="2" styleClass="dialog-form">
                    <p:column>
                        <h4>#{msgs.Question}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{surveysManagementBacking.selectedSurvey.question}" 
                                     id="question" required="true" 
                                     requiredMessage="#{msgs.RequiredMessage}"/>
                        <h:message for="question" style="margin-left: 15px; color: red"/>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.Answer1}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{surveysManagementBacking.selectedSurvey.answer1}" 
                                     id="answer1"  required="true" 
                                     requiredMessage="#{msgs.RequiredMessage}"/>
                        <h:message for="answer1" style="margin-left: 15px; color: red"/>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.Answer2}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{surveysManagementBacking.selectedSurvey.answer2}" 
                                     id="answer2" required="true" 
                                     requiredMessage="#{msgs.RequiredMessage}"/>
                        <h:message for="answer2" style="margin-left: 15px; color: red"/>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.Answer3}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{surveysManagementBacking.selectedSurvey.answer3}" 
                                     id="answer3"/>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.Answer4}: </h4>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{surveysManagementBacking.selectedSurvey.answer4}" 
                                     id="answer4"/>
                    </p:column>
                    <p:column>
                    </p:column>
                    <p:column>
                        <p:commandButton value="#{msgs.SurveyZeroOutVotes}" 
                                         oncomplete="PF('dialogZeroOut').show();"/>
                    </p:column>
                    <p:column>
                        <h4>#{msgs.Active}: </h4>
                    </p:column>
                    <p:column>
                        <p:toggleSwitch value="#{surveysManagementBacking.selectedSurvey.active}"/>
                    </p:column>
                </p:panelGrid>
                <p:commandButton value="#{msgs.SaveChanges}" action="#{surveysManagementBacking.saveChanges}" ajax="false"/>
            </h:form>
        </p:dialog>  
        <p:dialog header="#{msgs.EditRecord}?" widgetVar="dialogZeroOut" modal="true" resizable="false" fitViewport="true" responsive="true" closeOnEscape="true">
            <h:form id="zeroOutForm">
                #{msgs.SurveyZeroOutVotesConfirmation}
                <br/>
                <p:commandButton value="#{msgs.Yes}"  action="#{surveysManagementBacking.zeroOutVotes}" 
                                 ajax="false"/>
                <p:commandButton value="#{msgs.No}" onclick="PF('dialogZeroOut').hide()"/>
            </h:form>
        </p:dialog>
    </b:container>

</ui:composition>