<!-- AUTHOR: Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:outputStylesheet library="css" name="newBookStyles.css"/>
    <br/>
    <h:form>
        <b:container>
            <p:panel header="#{msgs.CreateAuthorsLabel}">
                <p:outputLabel value="#{msgs.CreateBooksLabel_Authors}"/>
                <h:inputHidden value="true" id="authorDupValidator">
                    <f:validator validatorId="authorValidator"/>
                    <f:attribute name="firstName" value="#{firstName}"/>
                    <f:attribute name="lastName" value="#{lastName}"/>
                    <f:attribute name="authors" value="#{newAuthorBacking.allAuthors}"/>
                </h:inputHidden>

                <h:panelGrid columns="3" styleClass="margin-bottom-1_5">
                    <p:outputLabel for="newAuthFName" value="#{msgs.CreateAuthorsLabel_FirstName}"/>
                    <p:inputText id="newAuthFName" value="#{newAuthorBacking.author.firstname}" required="true" binding="#{firstName}" maxlength="60" 
                                 requiredMessage="#{msgs.CreateAuthorsRequired_FirstName}">
                        <f:ajax event="blur" render="authorMessage"/>
                        <f:ajax event="blur" execute="authorDupValidator newAuthFName newAuthLName" render="duplicateAuthorMessage"/>
                    </p:inputText>
                    <h:message id="authorMessage" for="newAuthFName"/>
                    <p:outputLabel for="newAuthLName" value="#{msgs.CreateAuthorsLabel_LastName}"/>
                    <p:inputText id="newAuthLName" value="#{newAuthorBacking.author.lastname}" required="false" binding="#{lastName}" maxlength="60">
                        <f:ajax event="blur" execute="authorDupValidator newAuthFName newAuthLName" render="duplicateAuthorMessage"/>
                    </p:inputText>
                    <h:message id="duplicateAuthorMessage" for="authorDupValidator"/>
                    <p:outputLabel for="newAuthTitle" value="#{msgs.CreateAuthorsLabel_Title}"/>
                    <p:inputText id="newAuthTitle" value="#{newAuthorBacking.author.title}" required="false" maxlength="20"/>
                </h:panelGrid>

                <h:commandButton value="#{msgs.CreateButton}" action="#{newAuthorBacking.createAuthor()}" style="padding: 5px"
                                 styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text ui-c"/>
            </p:panel>
        </b:container>
    </h:form>
</ui:composition>