<!-- AUTHOR: Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:outputStylesheet library="css" name="newBookStyles.css"/>
    <br/>
    <h:form enctype="multipart/form-data">
        <b:container>
            <p:panel header="#{msgs.CreateBooksTitle}">
                <!-- BOOK -->
                <!-- The following four hidden inputs make cross-field validation possible.
                     They are bound to their fields and to the validator that handles them.
                     Later, using ajax, they are validated in real time!                    -->
                <h:inputHidden value="true" id="isbnDupValidator">
                    <f:validator validatorId="isbnValidator"/>
                    <f:attribute name="isbn" value="#{isbn}"/>
                    <f:attribute name="books" value="#{newBookBacking.allBooks}"/>
                </h:inputHidden>

                <h:inputHidden value="true" id="listValidator">
                    <f:validator validatorId="listPriceValidator"/>
                    <f:attribute name="wholesale" value="#{wholesale}"/>
                    <f:attribute name="list" value="#{list}"/>
                </h:inputHidden>

                <h:inputHidden value="true" id="saleValidator">
                    <f:validator validatorId="salePriceValidator"/>
                    <f:attribute name="wholesale" value="#{wholesale}"/>
                    <f:attribute name="list" value="#{list}"/>
                    <f:attribute name="sale" value="#{sale}"/>
                </h:inputHidden>

                <h:inputHidden value="true" id="ageRange">
                    <f:validator validatorId="ageRangeValidator"/>
                    <f:attribute name="minAge" value="#{minAge}"/>
                    <f:attribute name="maxAge" value="#{maxAge}"/>
                </h:inputHidden>

                <h:panelGrid columns="3">
                    <p:outputLabel for="newIsbn" value="#{msgs.CreateBooksLabel_isbn}"/>
                    <p:inputNumber id="newIsbn" value="#{newBookBacking.book.isbn}" required="true" thousandSeparator="" decimalPlaces="0" binding="#{isbn}"
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_isbn}" validatorMessage="#{msgs.CreateBooksValidate_ISBN13}">
                        <f:validateLongRange minimum="1000000000000" maximum="9999999999999"/>
                        <f:ajax event="blur" render="isbnMessage"/>
                        <f:ajax event="blur" execute="isbnDupValidator newIsbn" render="isbnDupMessage"/>
                    </p:inputNumber>
                    <h:message id="isbnMessage" for="newIsbn"/>

                    <p:outputLabel for="newCoverImage" value="#{msgs.CreateBooksLabel_CoverImage}"/>
                    <p:fileUpload id="newCoverImage" value="#{newBookBacking.bookCoverImage}" label="#{msgs.CreateBooksTitle_CoverImage}" required="true"
                                  invalidSizeMessage="#{msgs.ImageSizeLimitError}" requiredMessage="#{msgs.ImageRequiredMsg}" skinSimple="true" mode="simple" accept="image/jpeg"
                                  validator="imageValidator"/>
                    <h:message id="CoverImageMessage" for="newCoverImage"/>

                    <p:outputLabel for="newTitle" value="#{msgs.CreateBooksLabel_title}"/>
                    <p:inputText id="newTitle" value="#{newBookBacking.book.title}" required="true" maxlength="260" 
                                 requiredMessage="#{msgs.CreateBooksRequiredMessage_title}">
                        <f:ajax event="blur" render="titleMessage"/>
                    </p:inputText>
                    <h:message id="titleMessage" for="newTitle"/>

                    <p:outputLabel for="newPubDate" value="Publication date:"/>
                    <p:datePicker id="newPubDate" pattern="yyyy/MM/dd" value="#{newBookBacking.book.pubDate}" required="true" maxdate="#{newBookBacking.book.acquiredStamp}"
                                  requiredMessage="#{msgs.CreateBooksRequiredMessage_pubDate}">
                        <f:ajax event="blur" render="pubDateMessage"/>
                    </p:datePicker>
                    <h:message id="pubDateMessage" for="newPubDate"/>

                    <p:outputLabel for="newNumPages" value="Number Pages:"/>
                    <p:inputNumber id="newNumPages" value="#{newBookBacking.bookNumPages}" required="true" decimalPlaces="0" minValue="0"
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_numPages}">
                        <f:ajax event="blur" render="numPagesMessage"/>
                    </p:inputNumber>
                    <h:message id="numPagesMessage" for="newNumPages"/>

                    <p:outputLabel for="newDescription" value="#{msgs.CreateBooksLabel_description}"/>
                    <p:inputTextarea id="newDescription" value="#{newBookBacking.book.description}" required="true" autoResize="false" style="width: 350px" 
                                     requiredMessage="#{msgs.CreateBooksRequiredMessage_description}">
                        <f:ajax event="blur" render="descriptionMessage"/>
                    </p:inputTextarea>
                    <h:message id="descriptionMessage" for="newDescription"/>

                    <p:outputLabel for="newWholesalePrice" value="#{msgs.CreateBooksLabel_wholesalePrice}"/>
                    <p:inputNumber id="newWholesalePrice" value="#{newBookBacking.book.wholesalePrice}" required="true" binding="#{wholesale}" minValue="0" maxValue="9999.99" 
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_wholesalePrice}">
                        <f:ajax event="blur" render="wholesalePriceMessage"/>
                        <f:ajax event="blur" execute="listValidator newWholesalePrice newListPrice" render="listValidatorMessage"/>
                        <f:ajax event="blur" execute="saleValidator newWholesalePrice newListPrice newSalePrice" render="salePriceMessage"/>
                    </p:inputNumber>
                    <h:message id="wholesalePriceMessage" for="newWholesalePrice"/>

                    <p:outputLabel for="newListPrice" value="#{msgs.CreateBooksLabel_listPrice}"/>
                    <p:inputNumber id="newListPrice" value="#{newBookBacking.book.listPrice}" required="true" binding="#{list}"  minValue="0" maxValue="9999.99" 
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_listPrice}">
                        <f:ajax event="blur" render="listPriceMessage"/>
                        <f:ajax event="blur" execute="listValidator newWholesalePrice newListPrice" render="listValidatorMessage"/>
                        <f:ajax event="blur" execute="saleValidator newWholesalePrice newListPrice newSalePrice" render="salePriceMessage"/>
                    </p:inputNumber>
                    <h:message id="listPriceMessage" for="newListPrice"/>

                    <p:outputLabel for="newSalePrice" value="#{msgs.CreateBooksLabel_salePrice}"/>
                    <p:inputNumber id="newSalePrice" value="#{newBookBacking.bookSalePrice}" required="false" binding="#{sale}" minValue="0" maxValue="9999.99">
                        <f:ajax event="blur" execute="saleValidator newWholesalePrice newListPrice newSalePrice" render="salePriceMessage"/>
                    </p:inputNumber>
                    <h:message id="salePriceMessage" for="saleValidator"/>

                    <p:outputLabel for="newMinAge" value="#{msgs.CreateBooksLabel_minAge}"/>
                    <p:inputNumber id="newMinAge" value="#{newBookBacking.bookMinAge}" required="true" binding="#{minAge}" decimalPlaces="0" minValue="0" maxValue="100"
                                   requiredMessage="#{msgs.CreateBooksRequiredMessage_minAge}">
                        <f:ajax event="blur" render="minAgeMessage"/>
                        <f:ajax event="blur" execute="ageRange newMinAge newMaxAge" render="ageRangeMessage"/>
                    </p:inputNumber>
                    <h:message id="minAgeMessage" for="newMinAge"/>

                    <p:outputLabel for="newMaxAge" value="#{msgs.CreateBooksLabel_maxAge}"/>
                    <p:inputNumber id="newMaxAge" value="#{newBookBacking.book.maxAge}" required="false" binding="#{maxAge}" decimalPlaces="0">
                        <f:ajax event="blur" execute="ageRange newMinAge newMaxAge" render="ageRangeMessage"/>
                    </p:inputNumber>
                    <h:message id="ageRangeMessage" for="ageRange"/>

                    <p:outputLabel for="newAcquiredStamp" value="#{msgs.CreateBooksLabel_acquiredStamp}"/>
                    <p:datePicker id="newAcquiredStamp" pattern="yyyy/MM/dd" value="#{newBookBacking.book.acquiredStamp}" required="true" 
                                  maxdate="#{newBookBacking.today}" requiredMessage="#{msgs.CreateBooksRequiredMessage_acquiredStamp}">
                        <f:ajax event="blur" render="AcquiredStampMessage"/>
                    </p:datePicker>
                    <h:message id="AcquiredStampMessage" for="newAcquiredStamp"/>

                    <p:outputLabel for="newRemoved" value="#{msgs.CreateBooksLabel_removed}"/>
                    <p:toggleSwitch id="newRemoved" value="#{newBookBacking.book.removed}"/>
                </h:panelGrid><br/>
                <p><h:message id="isbnDupMessage" for="isbnDupValidator"/></p>
                <p><h:message id="listValidatorMessage" for="listValidator"/></p><hr/>

                <!-- AUTHOR -->
                <p:panel>
                    <p:outputLabel value="#{msgs.CreateBooksLabel_Authors}"/>
                    <ui:repeat value="#{newBookBacking.authors}" var="currentAuthor">
                        <h:inputHidden value="true" id="authorDupValidator">
                            <f:validator validatorId="authorValidator"/>
                            <f:attribute name="firstName" value="#{firstName}"/>
                            <f:attribute name="lastName" value="#{lastName}"/>
                            <f:attribute name="authors" value="#{newBookBacking.allAuthors}"/>
                        </h:inputHidden>

                        <p:selectOneRadio value="#{currentAuthor.authorExistent}">
                            <f:selectItem itemLabel="#{msgs.CreateBooksRadio_AuthorEXS}" itemValue="#{true}"/>
                            <f:selectItem itemLabel="#{msgs.CreateBooksRadio_AuthorNEW}" itemValue="#{false}"/>
                            <f:ajax event="change" execute="@this" render="authorType"/>
                        </p:selectOneRadio><br/>

                        <h:panelGroup id="authorType">
                            <b:selectOneMenu value="#{currentAuthor.author}" rendered="#{currentAuthor.authorExistent}">
                                <f:selectItems var="author"
                                               value="#{newBookBacking.allAuthors}"
                                               itemLabel="#{author.lastname}#{not empty author.lastname ? ',' : ''} #{author.firstname}" 
                                               itemValue="#{author}"/>
                            </b:selectOneMenu>

                            <h:panelGrid columns="3" styleClass="margin-bottom-1_5" rendered="#{!currentAuthor.authorExistent}">
                                <p:outputLabel for="newAuthFName" value="#{msgs.CreateAuthorsLabel_FirstName}"/>
                                <p:inputText id="newAuthFName" value="#{currentAuthor.author.firstname}" required="true" binding="#{firstName}" maxlength="60" 
                                             requiredMessage="#{msgs.CreateAuthorsRequired_FirstName}">
                                    <f:ajax event="blur" render="authorMessage"/>
                                    <f:ajax event="blur" execute="authorDupValidator newAuthFName newAuthLName" render="duplicateAuthorMessage"/>
                                </p:inputText>
                                <h:message id="authorMessage" for="newAuthFName"/>
                                <p:outputLabel for="newAuthLName" value="#{msgs.CreateAuthorsLabel_LastName}"/>
                                <p:inputText id="newAuthLName" value="#{currentAuthor.author.lastname}" required="false" binding="#{lastName}" maxlength="60">
                                    <f:ajax event="blur" execute="authorDupValidator newAuthFName newAuthLName" render="duplicateAuthorMessage"/>
                                </p:inputText>
                                <h:message id="duplicateAuthorMessage" for="authorDupValidator"/>
                                <p:outputLabel for="newAuthTitle" value="#{msgs.CreateAuthorsLabel_Title}"/>
                                <p:inputText id="newAuthTitle" value="#{currentAuthor.author.title}" required="false" maxlength="20"/>
                            </h:panelGrid>
                            <p:commandButton value="#{msgs.RemoveButton}" action="#{newBookBacking.removeAuthorWrapperBeanFromList(currentAuthor)}" 
                                             process="@parent:@parent:@parent" update="@parent:@parent:@parent" rendered="#{newBookBacking.authors.size() gt 1}" styleClass="remove-button"/>
                        </h:panelGroup>
                    </ui:repeat>
                    <p:commandButton value="#{msgs.CreateBooksButton_AuthorAdd}" action="#{newBookBacking.addAuthorWrapperBeanToList()}" process="@parent" update="@parent" styleClass="margin-bottom-1_5"/>
                </p:panel><hr/>

                <!-- PUBLISHER -->
                <p:panel>
                    <p:outputLabel value="#{msgs.CreateBooksLabel_Publisher}"/>
                    <p:selectOneRadio value="#{newBookBacking.publisherExistent}">
                        <f:selectItem itemLabel="#{msgs.CreateBooksRadio_PublisherEXS}" itemValue="#{true}"/>
                        <f:selectItem itemLabel="#{msgs.CreateBooksRadio_PublisherNEW}" itemValue="#{false}"/>
                        <f:ajax event="change" execute="@this" render="publisherType"/>
                    </p:selectOneRadio><br/>

                    <h:panelGroup id="publisherType">
                        <b:selectOneMenu value="#{newBookBacking.selectedPublisher}" rendered="#{newBookBacking.publisherExistent}">
                            <f:selectItems var="publisher"
                                           value="#{newBookBacking.allPublishers}" 
                                           itemLabel="#{publisher.name}" 
                                           itemValue="#{publisher}"/>
                        </b:selectOneMenu>

                        <h:panelGrid columns="3" rendered="#{!newBookBacking.publisherExistent}">
                            <p:outputLabel for="newPubName" value="#{msgs.CreatePublishersLabel_name}"/>
                            <p:inputText id="newPubName" value="#{newBookBacking.newPublisher.name}" required="true" maxlength="60" 
                                         requiredMessage="#{msgs.CreatePublishersRequired_Name}">
                                <f:validator validatorId="publisherValidator"/>
                                <f:attribute name="publishers" value="#{newBookBacking.allPublishers}"/>
                                <f:ajax event="blur" execute="newPubName" render="duplicatePublisherMessage"/>
                            </p:inputText>
                            <h:message id="duplicatePublisherMessage" for="newPubName"/>
                        </h:panelGrid>
                    </h:panelGroup>
                </p:panel><hr/>

                <!-- GENRE -->
                <p:panel>
                    <p:outputLabel value="#{msgs.CreateBooksLabel_genres}"/>
                    <ui:repeat value="#{newBookBacking.genres}" var="currentGenre">
                        <p:selectOneRadio value="#{currentGenre.genreExistent}">
                            <f:selectItem itemLabel="#{msgs.CreateBooksRadio_GenreEXS}" itemValue="#{true}"/>
                            <f:selectItem itemLabel="#{msgs.CreateBooksRadio_GenreNEW}" itemValue="#{false}"/>
                            <f:ajax event="change" execute="@this" render="genreType"/>
                        </p:selectOneRadio><br/>

                        <h:panelGroup id="genreType">
                            <b:selectOneMenu value="#{currentGenre.genre}" rendered="#{currentGenre.genreExistent}">
                                <f:selectItems var="genre"
                                               value="#{newBookBacking.allGenres}"
                                               itemLabel="#{genre.name}"
                                               itemValue="#{genre}"/>
                            </b:selectOneMenu>

                            <h:panelGrid columns="3" styleClass="margin-bottom-1_5" rendered="#{!currentGenre.genreExistent}">
                                <p:outputLabel for="newGenreName" value="#{msgs.CreateGenresLabel_name}"/>
                                <p:inputText id="newGenreName" value="#{currentGenre.genre.name}" required="true" maxlength="60" 
                                             requiredMessage="#{msgs.CreateGenresRequired_Name}">
                                    <f:validator validatorId="genreValidator"/>
                                    <f:attribute name="genres" value="#{newBookBacking.allGenres}"/>
                                    <f:ajax event="blur" execute="newGenreName" render="duplicateGenreMessage"/>
                                </p:inputText>
                                <h:message id="duplicateGenreMessage" for="newGenreName"/>
                            </h:panelGrid>
                            <p:commandButton value="#{msgs.RemoveButton}" action="#{newBookBacking.removeGenreWrapperBeanFromList(currentGenre)}" 
                                             process="@parent:@parent:@parent" update="@parent:@parent:@parent" rendered="#{newBookBacking.genres.size() gt 1}" styleClass="remove-button"/>
                        </h:panelGroup>
                    </ui:repeat>
                    <p:commandButton value="#{msgs.CreateBooksButton_GenreAdd}" action="#{newBookBacking.addGenreWrapperBeanToList()}" process="@parent" update="@parent" styleClass="margin-bottom-1_5"/>
                </p:panel><hr/>

                <!-- FORMAT -->
                <p:panel>
                    <p:outputLabel value="#{msgs.CreateBooksLabel_Formats}"/>
                    <ui:repeat value="#{newBookBacking.formats}" var="currentFormat">
                        <h:inputHidden value="true" id="formatDupValidator">
                            <f:validator validatorId="formatValidator"/>
                            <f:attribute name="extension" value="#{extension}"/>
                            <f:attribute name="formatName" value="#{formatName}"/>
                            <f:attribute name="formats" value="#{newBookBacking.allFormats}"/>
                        </h:inputHidden>

                        <p:selectOneRadio value="#{currentFormat.formatExistent}">
                            <f:selectItem itemLabel="#{msgs.CreateBooksRadio_FormatEXS}" itemValue="#{true}"/>
                            <f:selectItem itemLabel="#{msgs.CreateBooksRadio_FormatNEW}" itemValue="#{false}"/>
                            <f:ajax event="change" execute="@this" render="formatType"/>
                        </p:selectOneRadio><br/>

                        <h:panelGroup id="formatType">
                            <b:selectOneMenu value="#{currentFormat.format}" rendered="#{currentFormat.formatExistent}">
                                <f:selectItems var="format"
                                               value="#{newBookBacking.allFormats}"
                                               itemLabel="#{format.extension} - #{format.name}" 
                                               itemValue="#{format}"/>
                            </b:selectOneMenu>

                            <h:panelGrid columns="3" styleClass="margin-bottom-1_5" rendered="#{!currentFormat.formatExistent}">
                                <p:outputLabel for="newFormatExt" value="#{msgs.CreateFormatsLabel_Extension}"/>
                                <p:inputText id="newFormatExt" value="#{currentFormat.format.extension}" required="true" maxlength="5" binding="#{extension}"
                                             requiredMessage="#{msgs.CreateFormatsRequired_Extension}">
                                    <f:ajax event="blur" render="extensionMessage"/>
                                    <f:ajax event="blur" execute="formatDupValidator newFormatExt newFormatName" render="duplicateFormatMessage"/>
                                </p:inputText>
                                <h:message id="extensionMessage" for="newFormatExt"/>
                                <p:outputLabel for="newFormatName" value="#{msgs.CreateFormatsLabel_Name}"/>
                                <p:inputText id="newFormatName" value="#{currentFormat.format.name}" required="true" maxlength="60" binding="#{formatName}"
                                             requiredMessage="#{msgs.CreateFormatsRequired_Name}">
                                    <f:ajax event="blur" render="formatNameMessage"/>
                                    <f:ajax event="blur" execute="formatDupValidator newFormatExt newFormatName" render="duplicateFormatMessage"/>
                                </p:inputText>
                                <h:message id="formatNameMessage" for="newFormatName"/>
                            </h:panelGrid>
                            <p><h:message id="duplicateFormatMessage" for="formatDupValidator"/></p>
                            <p:commandButton value="#{msgs.RemoveButton}" action="#{newBookBacking.removeFormatWrapperBeanFromList(currentFormat)}" 
                                             process="@parent:@parent:@parent" update="@parent:@parent:@parent" rendered="#{newBookBacking.formats.size() gt 1}" styleClass="remove-button"/>
                        </h:panelGroup>
                    </ui:repeat>
                    <p:commandButton value="#{msgs.CreateBooksButton_FormatAdd}" action="#{newBookBacking.addFormatWrapperBeanToList()}" process="@parent" update="@parent" styleClass="margin-bottom-1_5"/>
                </p:panel><hr/>

                <h:commandButton value="#{msgs.CreateButton}" action="#{newBookBacking.createBook()}" style="padding: 5px"
                                 styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only margin-bottom-1_5 ui-button-text ui-c"/>
            </p:panel>
        </b:container>
    </h:form>
</ui:composition>