<!-- AUTHOR: Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:outputStylesheet library="css" name="newBookStyles.css"/>
    <br/>
    <h:form>
        <b:container>
            <p:panel header="#{msgs.CreateFormatsLabel}">
                <p:outputLabel value="#{msgs.CreateBooksLabel_Formats}"/>
                <h:inputHidden value="true" id="formatDupValidator">
                    <f:validator validatorId="formatValidator"/>
                    <f:attribute name="extension" value="#{extension}"/>
                    <f:attribute name="formatName" value="#{formatName}"/>
                    <f:attribute name="formats" value="#{newFormatBacking.allFormats}"/>
                </h:inputHidden>

                <h:panelGrid columns="3" styleClass="margin-bottom-1_5">
                    <p:outputLabel for="newFormatExt" value="#{msgs.CreateFormatsLabel_Extension}"/>
                    <p:inputText id="newFormatExt" value="#{newFormatBacking.format.extension}" required="true" maxlength="5" binding="#{extension}"
                                 requiredMessage="#{msgs.CreateFormatsRequired_Extension}">
                        <f:ajax event="blur" render="extensionMessage"/>
                        <f:ajax event="blur" execute="formatDupValidator newFormatExt newFormatName" render="duplicateFormatMessage"/>
                    </p:inputText>
                    <h:message id="extensionMessage" for="newFormatExt"/>
                    <p:outputLabel for="newFormatName" value="#{msgs.CreateFormatsLabel_Name}"/>
                    <p:inputText id="newFormatName" value="#{newFormatBacking.format.name}" required="true" maxlength="60" binding="#{formatName}"
                                 requiredMessage="#{msgs.CreateFormatsRequired_Name}">
                        <f:ajax event="blur" render="formatNameMessage"/>
                        <f:ajax event="blur" execute="formatDupValidator newFormatExt newFormatName" render="duplicateFormatMessage"/>
                    </p:inputText>
                    <h:message id="formatNameMessage" for="newFormatName"/>
                </h:panelGrid>
                <p><h:message id="duplicateFormatMessage" for="formatDupValidator"/></p>

                <h:commandButton value="#{msgs.CreateButton}" action="#{newFormatBacking.createFormat()}" style="padding: 5px"
                                 styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only margin-bottom-1_5 ui-button-text ui-c"/>
            </p:panel>
        </b:container>
    </h:form>
</ui:composition>