<!-- AUTHOR: Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:outputStylesheet library="css" name="newBookStyles.css"/>
    <br/>
    <h:form>
        <b:container>
            <p:panel header="#{msgs.CreateGenresLabel}">
                <p:outputLabel value="#{msgs.CreateBooksLabel_genres}"/>
                <h:panelGrid columns="3" styleClass="margin-bottom-1_5">
                    <p:outputLabel for="newGenreName" value="#{msgs.CreateGenresLabel_name}"/>
                    <p:inputText id="newGenreName" value="#{newGenreBacking.genre.name}" required="true" maxlength="60" 
                                 requiredMessage="#{msgs.CreateGenresRequired_Name}">
                        <f:validator validatorId="genreValidator"/>
                        <f:attribute name="genres" value="#{newGenreBacking.allGenres}"/>
                        <f:ajax event="blur" execute="newGenreName" render="duplicateGenreMessage"/>
                    </p:inputText>
                    <h:message id="duplicateGenreMessage" for="newGenreName"/>
                </h:panelGrid>

                <h:commandButton value="#{msgs.CreateButton}" action="#{newGenreBacking.createGenre()}" style="padding: 5px"
                                 styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only margin-bottom-1_5 ui-button-text ui-c"/>
            </p:panel>
        </b:container>
    </h:form>
</ui:composition>