<!-- AUTHOR: Michael -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:outputStylesheet library="css" name="newBookStyles.css"/>
    <br/>
    <h:form>
        <b:container>
            <p:panel header="#{msgs.CreatePublishersLabel}">
                <p:outputLabel value="#{msgs.CreateBooksLabel_Publisher}"/>
                <h:panelGrid columns="3" styleClass="margin-bottom-1_5">
                    <p:outputLabel for="newPubName" value="#{msgs.CreatePublishersLabel_name}"/>
                    <p:inputText id="newPubName" value="#{newPublisherBacking.publisher.name}" required="true" maxlength="60" 
                                 requiredMessage="#{msgs.CreatePublishersRequired_Name}">
                        <f:validator validatorId="publisherValidator"/>
                        <f:attribute name="publishers" value="#{newPublisherBacking.allPublishers}"/>
                        <f:ajax event="blur" execute="newPubName" render="duplicatePublisherMessage"/>
                    </p:inputText>
                    <h:message id="duplicatePublisherMessage" for="newPubName"/>
                </h:panelGrid>

                <h:commandButton value="#{msgs.CreateButton}" action="#{newPublisherBacking.createPublisher()}" style="padding: 5px"
                                 styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only margin-bottom-1_5 ui-button-text ui-c"/>
            </p:panel>
        </b:container>
    </h:form>
</ui:composition>