<ui:composition 
    template="/WEB-INF/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <!-- Initialize the book page according to the isbn received -->
        <f:viewParam name="isbn" value="#{bookBackingBean.isbn}"/>
        <!-- Stores the URL in navigation bean -->
        <f:event type="preRenderView"  listener="#{navigationBean.saveBookPageURL()}"/>
    </f:metadata>

    <ui:define name="title">#{bookBackingBean.book.title} - #{msgs.EcubsReadingClub}</ui:define>
    <ui:define name="content">
        <ui:include src="WEB-INF/client/bookPage.xhtml"/>
    </ui:define>

</ui:composition>