<ui:composition 
    template="/WEB-INF/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewParam name="genreId" value="#{genreBackingBean.genreId}"/>
        <!-- Stores the URL in navigation bean -->
        <f:event type="preRenderView"  listener="#{navigationBean.saveGenrePageURL()}"/>
    </f:metadata>

    <ui:define name="title">#{msgs.BrowseGenres} - #{msgs.EcubsReadingClub}</ui:define>
    <ui:define name="content">
        <ui:include src="WEB-INF/client/genrePage.xhtml"/>
    </ui:define>

</ui:composition>