<ui:composition 
    template="/WEB-INF/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">#{msgs.EcubsReadingClub}</ui:define>
    <ui:define name="content">
        <ui:include src="WEB-INF/client/writeCookiePage.xhtml"/>
    </ui:define>
</ui:composition>
